Repository akka/alpakka, pull requests merged in 2018-04, with the labels that each got.

#878 Unix Domain Socket - don't close socket when finished reading (may still have writes)
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
Labels: p:unix-domain-socket

#873 Unix Domain Socket: fix some bugs due to races
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
Labels: p:unix-domain-socket

#882 Unix Domain Socket - more fixes
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
Labels: p:unix-domain-socket

#881 AMQP: support naming connections
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectionProvider.scala
Labels: p:amqp

#890 :arrow_up: Geode 1.5.0, shapeless 2.3.3
  docker-compose.yml
  docs/src/main/paradox/geode.md
  project/Dependencies.scala
Labels: p:geode

#877 DynamoDB: Fix parallelism #876
  dynamodb/src/main/resources/reference.conf
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/DynamoClientImpl.scala
  dynamodb/src/test/resources/application.conf
Labels: p:dynamodb

#909 Use the default scalafmt plugin
  .travis.yml
  project/AutomaticModuleName.scala
  project/Common.scala
  project/Dependencies.scala
  project/build.properties
  project/plugins.sbt
Labels: alpakka-itself

#875 FTP: Support custom SSH configuration
  docs/src/main/paradox/ftp.md
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpSourceFactory.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/javadsl/FtpApi.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala
  ftp/src/test/java/akka/stream/alpakka/ftp/examples/ConfigureCustomSSHClient.java
  ftp/src/test/scala/akka/stream/alpakka/ftp/scalaExamples.scala
Labels: p:ftp

#910 Upgrade to Travis stages (#906)
  .travis.yml
  project/Common.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: alpakka-itself

#912 Docs: list external connectors together with Alpakka modules
  docs/src/main/paradox/connectors.md
  docs/src/main/paradox/external-components.md
  docs/src/main/paradox/external-connectors.md
  docs/src/main/paradox/external/apache-camel.md
  docs/src/main/paradox/external/azure-iot-hub.md
  docs/src/main/paradox/external/eventuate.md
  docs/src/main/paradox/external/fs2.md
  docs/src/main/paradox/external/http.md
  docs/src/main/paradox/external/pulsar.md
  docs/src/main/paradox/external/tcp.md
  docs/src/main/paradox/file.md
  docs/src/main/paradox/index.md
  docs/src/main/paradox/kafka.md
  docs/src/main/paradox/kinesis.md
  docs/src/main/paradox/mongodb.md
Labels: alpakka-itself

#901 Feature/add configurable credentials to dynamo client
  docs/src/main/paradox/dynamodb.md
  dynamodb/src/main/resources/reference.conf
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/AwsClient.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/ClientSettings.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/DynamoSettings.scala
  dynamodb/src/test/java/akka/stream/alpakka/dynamodb/ExampleTest.java
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/DynamoSettingsSpec.scala
Labels: p:dynamodb

#887 AMQP: remove shutdown listeners for cached connections
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnector.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/AmqpProxyConnection.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpGraphStageLogicConnectionShutdownSpec.scala
Labels: p:amqp
