Repository akka/alpakka, pull requests merged in 2018-08, with the labels that each got.

#1140 Make sure the stream is there for all message acks (#974)
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsConnectorsTest.java
Labels: p:jms

#1133 Add missing Java getters to reference connector
  reference/src/main/scala/akka/stream/alpakka/reference/settings.scala
Labels: p:reference

#1134 Move classes to the default packages for AWS Lambda connector 1.0
  awslambda/src/main/scala/akka/stream/alpakka/awslambda/impl/AwsLambdaFlowStage.scala
  awslambda/src/main/scala/akka/stream/alpakka/awslambda/javadsl/AwsLambdaFlow.scala
  awslambda/src/main/scala/akka/stream/alpakka/awslambda/scaladsl/AwsLambdaFlow.scala
  awslambda/src/test/java/docs/javadsl/AwsLambdaFlowTest.java
  awslambda/src/test/java/docs/javadsl/Examples.java
  awslambda/src/test/scala/docs/scaladsl/AwsLambdaFlowSpec.scala
  awslambda/src/test/scala/docs/scaladsl/Examples.scala
  docs/src/main/paradox/awslambda.md
Labels: p:aws-lambda

#1138 Cassandra: Packages and settings classes for 1.0
  cassandra/.gitignore
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CassandraBatchSettings.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/impl/CassandraSourceStage.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/impl/GuavaFutures.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSource.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraFlow.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSink.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSource.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/settings.scala
  cassandra/src/test/java/docs/javadsl/CassandraSourceTest.java
  cassandra/src/test/scala/docs/scaladsl/CassandraSourceSpec.scala
  docs/src/main/paradox/cassandra.md
Labels: p:cassandra

#1135 Packages and un-case-classes for Azure Storage Queue connector 1.0
  azure-storage-queue/src/main/scala/akka/stream/alpakka/azure/storagequeue/AzureQueueSourceStage.scala
  azure-storage-queue/src/main/scala/akka/stream/alpakka/azure/storagequeue/impl/AzureQueueSinkFunctions.scala
  azure-storage-queue/src/main/scala/akka/stream/alpakka/azure/storagequeue/impl/AzureQueueSourceStage.scala
  azure-storage-queue/src/main/scala/akka/stream/alpakka/azure/storagequeue/javadsl/AzureQueueSink.scala
  azure-storage-queue/src/main/scala/akka/stream/alpakka/azure/storagequeue/javadsl/AzureQueueSource.scala
  azure-storage-queue/src/main/scala/akka/stream/alpakka/azure/storagequeue/model.scala
  azure-storage-queue/src/main/scala/akka/stream/alpakka/azure/storagequeue/scaladsl/AzureQueueSink.scala
  azure-storage-queue/src/main/scala/akka/stream/alpakka/azure/storagequeue/scaladsl/AzureQueueSource.scala
  azure-storage-queue/src/main/scala/akka/stream/alpakka/azure/storagequeue/settings.scala
  azure-storage-queue/src/test/java/docs/javadsl/JavaDslTest.java
  azure-storage-queue/src/test/scala/docs/scaladsl/AzureQueueSpec.scala
Labels: p:azure-storage-queue

#1150 Reference: add connector so navigation works
  docs/src/main/paradox/index.md
  docs/src/main/paradox/other-docs/index.md
Labels: p:reference

#1125 Refactor AMQP case classes to private classes
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectorSettings.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpConnectorLogic.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpReplyToSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpRpcFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/model.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpRpcFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpSink.scala
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectorsTest.java
  amqp/src/test/java/docs/javadsl/AmqpDocsTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectorsSpec.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpGraphStageLogicConnectionShutdownSpec.scala
  amqp/src/test/scala/docs/scaladsl/AmqpDocsSpec.scala
Labels: api-change, p:amqp

#1156 XML: move classes to match reference layout
  docs/src/main/paradox/data-transformations/xml.md
  xml/src/main/scala/akka/stream/alpakka/xml/Xml.scala
  xml/src/main/scala/akka/stream/alpakka/xml/impl/Coalesce.scala
  xml/src/main/scala/akka/stream/alpakka/xml/impl/StreamingXmlParser.scala
  xml/src/main/scala/akka/stream/alpakka/xml/impl/StreamingXmlWriter.scala
  xml/src/main/scala/akka/stream/alpakka/xml/impl/Subslice.scala
  xml/src/main/scala/akka/stream/alpakka/xml/impl/Subtree.scala
  xml/src/main/scala/akka/stream/alpakka/xml/javadsl/XmlParsing.scala
  xml/src/main/scala/akka/stream/alpakka/xml/javadsl/XmlWriting.scala
  xml/src/main/scala/akka/stream/alpakka/xml/model.scala
  xml/src/main/scala/akka/stream/alpakka/xml/scaladsl/XmlParsing.scala
  xml/src/main/scala/akka/stream/alpakka/xml/scaladsl/XmlWriting.scala
  xml/src/test/java/docs/javadsl/XmlHelper.java
  xml/src/test/java/docs/javadsl/XmlParsingTest.java
  xml/src/test/java/docs/javadsl/XmlWritingTest.java
  xml/src/test/scala/docs/scaladsl/XmlCoalesceSpec.scala
  xml/src/test/scala/docs/scaladsl/XmlProcessingSpec.scala
  xml/src/test/scala/docs/scaladsl/XmlSubsliceSpec.scala
  xml/src/test/scala/docs/scaladsl/XmlSubtreeSpec.scala
  xml/src/test/scala/docs/scaladsl/XmlWritingSpec.scala
Labels: p:xml

#1142 Unix Domain Socket - Improve halfClose handling
  build.sbt
  unix-domain-socket/src/main/java/jnr/enxio/channels/KQSelector.java
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
  unix-domain-socket/src/test/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocketSpec.scala
Labels: p:unix-domain-socket

#1163 Uncase class AMQP connection providers
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectionProvider.scala
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectionProvidersTest.java
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectorsTest.java
  amqp/src/test/java/docs/javadsl/AmqpDocsTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectionProvidersSpec.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectorsSpec.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpGraphStageLogicConnectionShutdownSpec.scala
  amqp/src/test/scala/docs/scaladsl/AmqpDocsSpec.scala
Labels: p:amqp

#1168 Unix Domain Socket: Become 1.0 ready
  docs/src/main/paradox/unix-domain-socket.md
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/impl/UnixDomainSocketImpl.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
  unix-domain-socket/src/test/java/docs/javadsl/UnixDomainSocketTest.java
  unix-domain-socket/src/test/resources/logback-test.xml
  unix-domain-socket/src/test/scala/docs/scaladsl/UnixDomainSocketSpec.scala
Labels: p:unix-domain-socket

#1148 JMS producer multi session
  docs/src/main/paradox/jms.md
  jms/src/main/scala/akka/stream/alpakka/jms/Jms.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsExceptions.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerStage.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsSettingsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/JmsMessageProducerSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsSettingsSpec.scala
  project/Dependencies.scala
Labels: p:jms

#1178 JMS: Support for durable subscriptions #966
  docs/src/main/paradox/jms.md
  jms/src/main/scala/akka/stream/alpakka/jms/Jms.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerStage.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsConnectorsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/JmsMessageProducerSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorsSpec.scala
Labels: p:jms

#1131 Sink and Source for Apache Parquet
  .travis.yml
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/impl/AvroParquetFlow.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/impl/AvroParquetSource.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/javadsl/AvroParquetFlow.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/javadsl/AvroParquetSink.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/javadsl/AvroParquetSource.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/scaladsl/AvroParquetFlow.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/scaladsl/AvroParquetSink.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/scaladsl/AvroParquetSource.scala
  avroparquet/src/test/java/docs/javadsl/AvroParquetSinkTest.java
  avroparquet/src/test/java/docs/javadsl/Examples.java
  avroparquet/src/test/resources/application.conf
  avroparquet/src/test/resources/logback-test.xml
  avroparquet/src/test/scala/docs/scaladsl/AbstractAvroParquet.scala
  avroparquet/src/test/scala/docs/scaladsl/AvroParquetFlowSpec.scala
  avroparquet/src/test/scala/docs/scaladsl/AvroParquetSinkSpec.scala
  avroparquet/src/test/scala/docs/scaladsl/AvroParquetSourceSpec.scala
  build.sbt
  docs/src/main/paradox/avroparquet.md
  docs/src/main/paradox/connectors.md
  project/Dependencies.scala
Labels: p:avroparquet, p:new
