Repository akka/alpakka, pull requests merged in 2018-05, with the labels that each got.

#907 Readme proposal
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  contributor-advice.md
Labels: alpakka-itself

#850 Add MQTT automatic reconnect test
  mqtt/src/test/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSourceSpec.scala
Labels: p:mqtt

#922 AWS SQS: try to improve test stability
  docs/src/main/paradox/sqs.md
  project/Dependencies.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsAckFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsAckSettings.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsBatchAckFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsBatchFlowSettings.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsBatchFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsSinkSettings.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsSourceSettings.scala
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/BaseSqsTest.java
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/SqsAckSinkTest.java
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/SqsSinkTest.java
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/SqsSourceTest.java
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/SqsSinkSpec.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/SqsSourceSpec.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/SqsSpec.scala
Labels: p:aws-sqs

#914 Run git to describe the current git commit
  project/Whitesource.scala
  project/plugins.sbt
Labels: alpakka-itself

#905 JMS: Tombstone the message handling on abort (#904)
  jms/src/main/scala/akka/stream/alpakka/jms/Jms.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerStage.scala
Labels: p:jms

#932 MQTT: Improve test stability
  mqtt/src/test/java/akka/stream/alpakka/mqtt/javadsl/MqttSourceTest.java
  mqtt/src/test/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSourceSpec.scala
  mqtt/src/test/travis/acl
Labels: p:mqtt

#937 MQTT: use dynamic port for proxy in tests
  docs/src/main/paradox/mqtt.md
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/Mqtt.scala
  mqtt/src/test/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSourceSpec.scala
Labels: p:mqtt

#942 Support streaming of json-values (cntd.)
  .travis.yml
  build.sbt
  docs/src/main/paradox/data-transformations/json.md
  json-streaming/src/main/scala/akka/stream/alpakka/json/JsonStreamReader.scala
  json-streaming/src/main/scala/akka/stream/alpakka/json/javadsl/JsonReader.scala
  json-streaming/src/main/scala/akka/stream/alpakka/json/scaladsl/JsonReader.scala
  json-streaming/src/test/java/akka/stream/alpakka/json/JsonReaderUsageTest.java
  json-streaming/src/test/resources/application.conf
  json-streaming/src/test/resources/logback-test.xml
  json-streaming/src/test/scala/akka/stream/alpakka/json/JsonReaderTest.scala
  project/Dependencies.scala
Labels: p:json-streaming, p:new

#935 Csv: parsing two byte codes
  csv/src/main/scala/akka/stream/alpakka/csv/CsvParser.scala
  csv/src/test/java/akka/stream/alpakka/csv/javadsl/CsvParsingTest.java
  csv/src/test/scala/akka/stream/alpakka/csv/CsvParserSpec.scala
Labels: p:csv

#943 AWS S3: multipart copy (continued)
  docs/src/main/paradox/s3.md
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/Marshalling.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Headers.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Request.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3Client.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3Client.scala
  s3/src/test/java/akka/stream/alpakka/s3/javadsl/JavaExamplesSnippets.java
  s3/src/test/java/akka/stream/alpakka/s3/javadsl/S3ClientTest.java
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MarshallingSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/S3HeadersSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/S3StreamSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3NoMock.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3SinkSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
Labels: p:aws-s3

#947 Document AQMP versions support
  docs/src/main/paradox/amqp.md
Labels: p:amqp

#954 Publish snapshots after every merge
  .jvmopts-travis
  .travis.yml
  docs/src/main/paradox/index.md
  docs/src/main/paradox/other-docs/snapshots.md
Labels: alpakka-itself

#958 AWS S3: Reimplementation of hex encoding to avoid depending on JAXB
  s3/src/main/scala/akka/stream/alpakka/s3/auth/package.scala
  s3/src/test/scala/akka/stream/alpakka/s3/auth/authSpec.scala
Labels: p:aws-s3

#973 Workaround for tcp stream too fast deinit
  mqtt/src/test/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSourceSpec.scala
Labels: p:mqtt

#975 FTP Use FTPSClient for ftps
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpSourceFactory.scala
Labels: p:ftp

#982 [Google Cloud PubSub] Fix getting token when running in emulated mode
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSource.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/HttpApi.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/HttpApiSpec.scala
Labels: p:google-cloud-pub-sub

#984 Add Azure Event Hubs
  docs/src/main/paradox/connectors.md
  docs/src/main/paradox/external/azure-event-hubs.md
Labels: alpakka-itself
