Repository akka/alpakka, pull requests merged in 2018-03, with the labels that each got.

#819 Add Java module names
  build.sbt
  project/AutomaticModuleName.scala
Labels: alpakka-itself

#815 Cassandra: add Flow using unlogged batches
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CassandraBatchSettings.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraFlow.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSink.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraFlow.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSink.scala
  cassandra/src/test/java/akka/stream/alpakka/cassandra/javadsl/CassandraSourceTest.java
  cassandra/src/test/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSourceSpec.scala
  docs/src/main/paradox/cassandra.md
Labels: candidate-for-next-release, p:cassandra

#822 JMS: Fix shutting down and aborting of streams with a JmsConsumer.ackSource (#820)
  jms/src/main/scala/akka/stream/alpakka/jms/Jms.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerStage.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsAckConnectorsSpec.scala
Labels: candidate-for-next-release, p:jms

#827 CSV: support/document conversion to String
  csv/src/main/java/akka/stream/alpakka/csv/javadsl/CsvToMap.java
  csv/src/main/scala/akka/stream/alpakka/csv/CsvToMapJavaStage.scala
  csv/src/main/scala/akka/stream/alpakka/csv/CsvToMapStage.scala
  csv/src/main/scala/akka/stream/alpakka/csv/scaladsl/CsvToMap.scala
  csv/src/test/java/akka/stream/alpakka/csv/javadsl/CsvParsingTest.java
  csv/src/test/java/akka/stream/alpakka/csv/javadsl/CsvToMapTest.java
  csv/src/test/scala/akka/stream/alpakka/csv/scaladsl/CsvParsingSpec.scala
  csv/src/test/scala/akka/stream/alpakka/csv/scaladsl/CsvToMapSpec.scala
  docs/src/main/paradox/data-transformations/csv.md
Labels: p:csv

#835 Slick: create SlickSession from DatabaseConfig instance (#833)
  docs/src/main/paradox/slick.md
  slick/src/main/scala/akka/stream/alpakka/slick/javadsl/package.scala
  slick/src/test/scala/akka/stream/alpakka/slick/scaladsl/SlickSpec.scala
Labels: p:slick

#837 Spill the beans on Paho's connection management
  docs/src/main/paradox/mqtt.md
Labels: p:mqtt

#764 google-fcm
  build.sbt
  docs/src/main/paradox/connectors.md
  docs/src/main/paradox/google-fcm.md
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/FcmFlowModels.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/FcmNotificationModels.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmJsonSupport.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmSender.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleSession.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleTokenApi.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/javadsl/GoogleFcmFlow.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/javadsl/GoogleFcmSink.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/scaladsl/GoogleFcmFlow.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/scaladsl/GoogleFcmSink.scala
  google-fcm/src/test/java/akka/stream/alpakka/google/firebase/fcm/javadsl/Examples.java
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/ConditionBuilderSpec.scala
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/FcmNotificationSpec.scala
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmSenderSpec.scala
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleTokenApiSpec.scala
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/scaladsl/Examples.scala
  project/Dependencies.scala
Labels: candidate-for-next-release, p:google-fcm, p:new

#811 AWS SQS: Implement batch Ack
  docs/src/main/paradox/sqs.md
  sqs/src/main/scala/akka/stream/alpakka/sqs/BatchException.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsAckFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsAckSettings.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsBatchAckFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsBatchFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsAckFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsAckSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/package.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsAckFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsAckSink.scala
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/SqsAckSinkTest.java
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/SqsSpec.scala
Labels: candidate-for-next-release, p:aws-sqs

#848 Ensure that exceptions are always materialized in AMQP
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnector.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpRpcFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpSourceStage.scala
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectorsTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectorsSpec.scala
Labels: p:amqp

#849 Ensure that an exception is materialized on MQTT connection error
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/MqttFlowStage.scala
  mqtt/src/test/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSinkSpec.scala
  mqtt/src/test/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSourceSpec.scala
Labels: p:mqtt

#840 Unix domain socket: Fix bug with accepting initial connection.
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
Labels: p:unix-domain-socket

#851 Prevent the AMQP cached connection provider from entering an invalid …
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectionProvider.scala
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectionProvidersTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectionProvidersSpec.scala
Labels: p:amqp

#852 Update Elasticsearch connector dependencies to Elasticsearch 6.2.2
  project/Dependencies.scala
Labels: p:elasticsearch

#861 Avoid to use var parameter in Elasticsearch connector
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSourceStage.scala
Labels: p:elasticsearch

#859 Support specifying version type for ElasticSearch Flow or Sink
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSinkSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSinkSettings.scala
  elasticsearch/src/test/java/akka/stream/alpakka/elasticsearch/ElasticsearchTest.java
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSpec.scala
Labels: candidate-for-next-release, p:elasticsearch

#858 AWS S3: Expose Content-Type as part of ObjectMetaData
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3Client.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
Labels: candidate-for-next-release, p:aws-s3

#863 Latest versions: Scala, Scalatest, Akka, Akka Http
  .travis.yml
  project/Dependencies.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3Client.scala
  sse/src/main/scala/akka/stream/alpakka/sse/javadsl/EventSource.scala
Labels: alpakka-itself, candidate-for-next-release, p:aws-s3, p:sse

#802 Kinesis Firehose support #122
  docs/src/main/paradox/kinesis.md
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseErrors.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseFlowSettings.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseFlowStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/javadsl/KinesisFirehoseFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/javadsl/KinesisFirehoseSink.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/scaladsl/KinesisFirehoseFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/scaladsl/KinesisFirehoseSink.scala
  kinesis/src/test/java/akka/stream/alpakka/kinesisfirehose/javadsl/Examples.java
  kinesis/src/test/scala/akka/stream/alpakka/kinesisfirehose/DefaultTestContext.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseFlowSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesisfirehose/scaladsl/Examples.scala
Labels: p:kinesis, p:new

#729 Add support for s3 list buckets v1
  docs/src/main/paradox/s3.md
  s3/src/main/resources/reference.conf
  s3/src/main/scala/akka/stream/alpakka/s3/S3Settings.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/Marshalling.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3Client.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3Client.scala
  s3/src/test/java/akka/stream/alpakka/s3/javadsl/DocSnippets.java
  s3/src/test/java/akka/stream/alpakka/s3/javadsl/S3ClientTest.java
  s3/src/test/scala/akka/stream/alpakka/s3/S3SettingsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MarshallingSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/S3StreamSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/DocSnippets.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3SinkSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3SourceSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
Labels: candidate-for-next-release, p:aws-s3

#866 AWS S3: settings changed with merge
  s3/src/test/scala/akka/stream/alpakka/s3/impl/S3StreamSpec.scala
Labels: p:aws-s3
