Repository akka/alpakka, pull requests merged in 2018-07, with the labels that each got.

#1057 DynamoDB client interface rather than class
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoClient.scala
Labels: api-change, p:dynamodb

#1055 Migrate DynamoDB Java API to return CompletionStage instead of Future…
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoClient.scala
  dynamodb/src/test/java/akka/stream/alpakka/dynamodb/ExampleTest.java
Labels: api-change, p:dynamodb

#1050 HBase: Allow multiple mutations
  docs/src/main/paradox/hbase.md
  hbase/src/main/scala/akka/stream/alpakka/hbase/HBaseSettings.scala
  hbase/src/main/scala/akka/stream/alpakka/hbase/internal/HBaseFlowStage.scala
  hbase/src/main/scala/akka/stream/alpakka/hbase/javadsl/HTableStage.scala
  hbase/src/test/java/akka/stream/alpakka/hbase/javadsl/HBaseStageTest.java
  hbase/src/test/scala/akka/stream/alpakka/hbase/scaladsl/HBaseStageSpec.scala
Labels: api-change, p:hbase

#1060 Cassandra: remove need for execution context
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraFlow.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraFlow.scala
  cassandra/src/test/java/akka/stream/alpakka/cassandra/javadsl/CassandraSourceTest.java
Labels: p:cassandra

#970 Bump `akka-http` version to `10.1.1` and `akka-http-circe` to `1.20.1` to resolve http unbind failure
  ironmq/src/main/scala/akka/stream/alpakka/ironmq/IronMqClient.scala
  project/Dependencies.scala
Labels: p:aws-s3, p:dynamodb, p:google-cloud-pub-sub, p:google-fcm, p:ironmq, p:sse

#1097 Fix maven search url
  README.md
Labels: alpakka-itself

#1103 Fixed visualization glitch in IBM MQ JmsConsumer doc section
  docs/src/main/paradox/jms.md
Labels: p:jms

#1105 Update library dependencies of xml project
  project/Dependencies.scala
Labels: p:xml

#1106 XML: Add ignoreInvalidChars option to XmlParsing.parser
  xml/src/main/scala/akka/stream/alpakka/xml/Xml.scala
  xml/src/main/scala/akka/stream/alpakka/xml/javadsl/XmlParsing.scala
  xml/src/main/scala/akka/stream/alpakka/xml/scaladsl/XmlParsing.scala
  xml/src/test/scala/akka/stream/alpakka/xml/scaladsl/XmlProcessingTest.scala
Labels: p:xml

#1001 AMQP - allow setting of autoAck on underlying channel.basicConsume call
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectorSettings.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSourceStage.scala
  amqp/src/test/java/docs/javadsl/AmqpDocsTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectorsSpec.scala
  amqp/src/test/scala/docs/scaladsl/AmqpDocsSpec.scala
Labels: p:amqp

#1114 Add support for using PublishRequest to publish messages to SNS
  docs/src/main/paradox/sns.md
  sns/src/main/scala/akka/stream/alpakka/sns/SnsPublishFlowStage.scala
  sns/src/main/scala/akka/stream/alpakka/sns/javadsl/SnsPublisher.scala
  sns/src/main/scala/akka/stream/alpakka/sns/scaladsl/SnsPublisher.scala
  sns/src/test/java/akka/stream/alpakka/sns/javadsl/Examples.java
  sns/src/test/scala/akka/stream/alpakka/sns/SnsPublishFlowSpec.scala
  sns/src/test/scala/akka/stream/alpakka/sns/scaladsl/Examples.scala
Labels: p:aws-sns

#1116 AWS Kinesis: Allow passing a user context object with each message.
  docs/src/main/paradox/kinesis.md
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisErrors.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisFlowStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/javadsl/KinesisFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisFlow.scala
  kinesis/src/test/java/akka/stream/alpakka/kinesis/javadsl/Examples.java
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisFlowSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/scaladsl/Examples.scala
Labels: p:kinesis

#1104 Elasticsearch: Support update and delete by incoming message types
  doc-examples/src/main/java/elastic/FetchUsingSlickAndStreamIntoElasticInJava.java
  doc-examples/src/main/scala/elastic/FetchUsingSlickAndStreamIntoElastic.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSinkSettings.scala
  elasticsearch/src/test/java/akka/stream/alpakka/elasticsearch/ElasticsearchTest.java
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSpec.scala
Labels: p:elasticsearch

#1118 Update Elasticsearch docs to describe incoming message types
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchFlowStage.scala
  elasticsearch/src/test/java/akka/stream/alpakka/elasticsearch/ElasticsearchTest.java
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSpec.scala
Labels: p:elasticsearch

#1108 Address reference connector feedback
  contributor-advice.md
  docs/src/main/paradox/reference.md
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceFlow.scala
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceSource.scala
  reference/src/main/scala/akka/stream/alpakka/reference/model.scala
  reference/src/main/scala/akka/stream/alpakka/reference/settings.scala
  reference/src/test/java/docs/javadsl/ReferenceTest.java
Labels: p:reference

#1123 HDFS: Fix wrong URL path
  docs/src/main/paradox/hdfs.md
Labels: p:hdfs
