Repository akka/alpakka, pull requests merged in 2018-10, with the labels that each got.

#1263 :arrow_up: Geode 1.7.0
  build.sbt
  docker-compose.yml
  project/Dependencies.scala
Labels: p:geode

#1265 AWS S3: Support creating exeptions for non XML error messages
  s3/src/main/scala/akka/stream/alpakka/s3/S3Exception.scala
Labels: p:aws-s3

#1272 Feature MQTT offline persistence connection settings
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/impl/MqttFlowStage.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/settings.scala
  mqtt/src/test/scala/docs/scaladsl/MqttSourceSpec.scala
Labels: p:mqtt

#1227 Jms producer retries
  docs/src/main/paradox/jms.md
  jms/src/main/scala/akka/stream/alpakka/jms/Jms.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsBrowseStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsExceptions.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsConsumer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsProducer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsConsumer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsProducer.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsConnectorsTest.java
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsSettingsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/JmsMessageProducerSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/JmsProducerRetrySpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/JmsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsSettingsSpec.scala
Labels: p:jms

#1170 Remove deprecated methods for 1.0
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpRpcFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpSource.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpRpcFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpSource.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsMessages.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsSink.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsSource.scala
  jms/src/main/scala/akka/stream/alpakka/jms/package.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsSink.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsSource.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorsSpec.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSource.scala
  s3/src/main/scala/akka/stream/alpakka/s3/auth/AWSCredentials.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3Client.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3Client.scala
Labels: alpakka-itself, api-change

#1274 AWS S3: add cacheControl to ObjectMetadata
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3Client.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3Client.scala
Labels: p:aws-s3

#1267 AWS SQS/SNS: Support for per message destinations
  sns/src/main/scala/akka/stream/alpakka/sns/impl/SnsPublishFlowStage.scala
  sns/src/main/scala/akka/stream/alpakka/sns/javadsl/SnsPublisher.scala
  sns/src/main/scala/akka/stream/alpakka/sns/scaladsl/SnsPublisher.scala
  sns/src/test/java/docs/javadsl/SnsPublisherTest.java
  sns/src/test/scala/akka/stream/alpakka/sns/SnsPublishMockingSpec.scala
  sns/src/test/scala/docs/scaladsl/SnsPublisherSpec.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/SqsFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsPublishFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsPublishSink.scala
  sqs/src/test/java/docs/javadsl/SqsPublishTest.java
  sqs/src/test/scala/docs/scaladsl/SqsPublishSpec.scala
Labels: p:aws-sns, p:aws-sqs

#1277 XML: fix subtree with namespace parsing
  xml/src/main/scala/akka/stream/alpakka/xml/impl/Subtree.scala
  xml/src/test/scala/docs/scaladsl/XmlSubtreeSpec.scala
Labels: p:xml

#1280 Scalafmt as it slipped through from a PR
  sns/src/test/java/docs/javadsl/SnsPublisherTest.java
  sns/src/test/scala/akka/stream/alpakka/sns/SnsPublishMockingSpec.scala
  sns/src/test/scala/docs/scaladsl/SnsPublisherSpec.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsPublishFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsPublishSink.scala
  sqs/src/test/java/docs/javadsl/SqsPublishTest.java
  sqs/src/test/scala/docs/scaladsl/SqsPublishSpec.scala
Labels: p:aws-sns, p:aws-sqs

#1259 Google Pub/Sub: backoff after no messages fetched
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSource.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSpec.scala
Labels: p:google-cloud-pub-sub

#1273 Disable AMQP automatic recovery by default
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectionProvider.scala
Labels: p:amqp

#1225 MQTT Streaming
  build.sbt
  docs/src/main/paradox/index.md
  docs/src/main/paradox/mqtt-streaming.md
  docs/src/main/paradox/mqtt.md
  mqtt-streaming-bench/src/main/resources/application.conf
  mqtt-streaming-bench/src/main/scala/akka/stream/alpakka/mqtt/MqttPerf.scala
  mqtt-streaming-bench/src/main/scala/akka/stream/alpakka/mqtt/streaming/MqttPerf.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/MqttSessionSettings.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ActorName.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/MqttFrameStage.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/javadsl/Mqtt.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/javadsl/MqttSession.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/model.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/Mqtt.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/java/docs/javadsl/MqttFlowTest.java
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/MqttFrameStageSpec.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestStateSpec.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerStateSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttCodecSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: p:mqtt-streaming, p:new

#1285 Do not use CMS as a default since it is deprecated since Java 9
  .jvmopts
Labels: alpakka-itself

#1291 Run mqtt-streaming tests in Travis CI
  .travis.yml
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/model.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/Mqtt.scala
  mqtt-streaming/src/test/java/docs/javadsl/MqttFlowTest.java
Labels: p:mqtt-streaming

#1287 AWS SQS: Source - Allow configuring visibility timeout
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsSourceSettings.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/SqsSourceStage.scala
  sqs/src/test/scala/docs/scaladsl/SqsSourceSpec.scala
Labels: p:aws-sqs

#1288 DynamoDB: Make timeouts uniform accross tests
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
Labels: p:dynamodb

#1252 Jms connection status
  doc-examples/src/main/java/jms/javasamples/JmsToFile.java
  doc-examples/src/main/java/jms/javasamples/JmsToHttpGet.java
  doc-examples/src/main/java/jms/javasamples/JmsToOneFilePerMessage.java
  doc-examples/src/main/java/jms/javasamples/JmsToWebSocket.java
  doc-examples/src/main/scala/jms/JmsToFile.scala
  doc-examples/src/main/scala/jms/JmsToHttpGet.scala
  doc-examples/src/main/scala/jms/JmsToOneFilePerMessage.scala
  doc-examples/src/main/scala/jms/JmsToWebSocket.scala
  docs/src/main/paradox/jms.md
  jms/src/main/scala/akka/stream/alpakka/jms/Jms.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsExceptions.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsInternalMatValues.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsConnectorState.java
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsConsumer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsConsumerControl.java
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsProducer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsProducerStatus.java
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorState.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsConsumer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsProducer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/package.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsAckConnectorsTest.java
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsBufferedAckConnectorsTest.java
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsConnectorsTest.java
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsTxConnectorsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/JmsConnectionStatusSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/JmsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsAckConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsBufferedAckConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsTxConnectorsSpec.scala
Labels: api-change, p:jms
