Repository akka/alpakka, pull requests merged in 2018-02, with the labels that each got.

#766 :arrow_up: geode 1.4.0
  docker-compose.yml
  docs/src/main/paradox/geode.md
  project/Dependencies.scala
Labels: candidate-for-next-release, p:geode

#768 Contributor advice
  CONTRIBUTING.md
  contributor-advice.md
  slick/src/test/resources/logback-test.xml
Labels: alpakka-itself

#770 Upgrade to Scala 2.11.12 and Akka 2.5.9
  .travis.yml
  project/Common.scala
  project/Dependencies.scala
Labels: alpakka-itself

#763 elasticsearch: ElasticsearchFlowStage now supports custom indexName pr document
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSourceStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSource.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSource.scala
  elasticsearch/src/test/java/akka/stream/alpakka/elasticsearch/ElasticsearchTest.java
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSpec.scala
Labels: p:elasticsearch

#771 S3: Fix request signing for path and query
  s3/src/main/scala/akka/stream/alpakka/s3/auth/CanonicalRequest.scala
  s3/src/test/scala/akka/stream/alpakka/s3/auth/CanonicalRequestSpec.scala
Labels: candidate-for-next-release, p:aws-s3

#777 Add Kinesis KCL lib to external connectors
  docs/src/main/paradox/external-connectors.md
Labels: p:kinesis

#747 Added PubSubMessage attributes support for Google Cloud PubSub.
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/HttpApi.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/Model.scala
  google-cloud-pub-sub/src/test/java/akka/stream/alpakka/googlecloud/pubsub/ExampleUsageJava.java
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/HttpApiSpec.scala
Labels: candidate-for-next-release, p:google-cloud-pub-sub

#751 Fix scaladoc warnings
  csv/src/main/scala/akka/stream/alpakka/csv/scaladsl/CsvToMap.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/javadsl/FtpApi.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala
  ironmq/src/main/scala/akka/stream/alpakka/ironmq/package.scala
  ironmq/src/main/scala/akka/stream/alpakka/ironmq/scaladsl/IronMqProducer.scala
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/scaladsl/MongoFlow.scala
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/scaladsl/MongoSink.scala
  s3/src/main/scala/akka/stream/alpakka/s3/S3Settings.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3Client.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3Client.scala
  sns/src/main/scala/akka/stream/alpakka/sns/javadsl/SnsPublisher.scala
  sns/src/main/scala/akka/stream/alpakka/sns/scaladsl/SnsPublisher.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsAckFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsAckSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsSource.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsAckFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsAckSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsSource.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/javadsl/UnixDomainSocket.scala
Labels: alpakka-itself

#781 S3: Rewrite DiskBuffer using plain streams to not leak handles
  s3/src/main/scala/akka/stream/alpakka/s3/impl/DiskBuffer.scala
Labels: p:aws-s3

#783 elasticsearch - improvements
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSourceStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSource.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSource.scala
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSpec.scala
Labels: candidate-for-next-release, p:elasticsearch

#784 CSV: Require read of byte following CR before issueing line
  csv/src/main/scala/akka/stream/alpakka/csv/CsvParser.scala
  csv/src/test/scala/akka/stream/alpakka/csv/CsvParserSpec.scala
Labels: p:csv

#743 Make Slick Flow variable in return type
  docs/src/main/paradox/slick.md
  slick/src/main/scala/akka/stream/alpakka/slick/javadsl/Slick.scala
  slick/src/main/scala/akka/stream/alpakka/slick/scaladsl/Slick.scala
  slick/src/test/java/akka/stream/alpakka/slick/javadsl/DocSnippetFlowWithPassThrough.java
  slick/src/test/java/akka/stream/alpakka/slick/javadsl/SlickTest.java
  slick/src/test/scala/akka/stream/alpakka/slick/scaladsl/DocSnippets.scala
  slick/src/test/scala/akka/stream/alpakka/slick/scaladsl/SlickSpec.scala
Labels: candidate-for-next-release, p:slick

#749 Update to sbt 1.1.0 and latest plugin versions
  project/build.properties
  project/plugins.sbt
Labels: alpakka-itself, candidate-for-next-release

#790 Sbt 1.1.1 and scalaformat changes
  jms/src/test/scala/akka/stream/alpakka/jms/JmsSpec.scala
  project/build.properties
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MarshallingSpec.scala
Labels: alpakka-itself

#789 Add Self-contained example for Elasticsearch #788
  doc-examples/src/main/resources/application.conf
  doc-examples/src/main/scala/elastic/FetchUsingSlickAndStreamIntoElastic.scala
  doc-examples/src/main/scala/playground/ElasticSearchEmbedded.scala
  doc-examples/src/main/scala/playground/elastic/ElasticsearchMock.scala
  docs/src/main/paradox/examples/elasticsearch-samples.md
  docs/src/main/paradox/examples/index.md
  project/Dependencies.scala
Labels: p:elasticsearch, p:slick

#792 OrientDB: add to connectors listing
  docs/src/main/paradox/connectors.md
Labels: p:orientdb

#804 Bump Jackson in Elasticsearch connector to 2.9.4
  project/Dependencies.scala
Labels: p:elasticsearch

#808 MQTT: doc tabs broken in Paradox
  docs/src/main/paradox/mqtt.md
Labels: p:mqtt

#778 Provide facility to complete an SQS stream after an empty receive
  docs/src/main/paradox/sqs.md
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsSourceSettings.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsSourceStage.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/SqsSourceSpec.scala
Labels: p:aws-sqs

#809 Handles failure on disconnect for MQTT
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/MqttFlowStage.scala
Labels: p:mqtt

#810 Empty s3 upload fails
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/S3StreamSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3SinkSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
Labels: candidate-for-next-release, p:aws-s3

#799 jms: add flow producer
  doc-examples/src/main/scala/jms/JmsSampleBase.scala
  doc-examples/src/main/scala/jms/JmsToFile.scala
  doc-examples/src/main/scala/jms/JmsToHttpGet.scala
  doc-examples/src/main/scala/jms/JmsToOneFilePerMessage.scala
  doc-examples/src/main/scala/jms/JmsToWebSocket.scala
  docs/src/main/paradox/jms.md
  jms/src/main/scala/akka/stream/alpakka/jms/Jms.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsBrowseStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsConsumer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsProducer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsSink.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsSource.scala
  jms/src/main/scala/akka/stream/alpakka/jms/package.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsConsumer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsProducer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsSink.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsSource.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsAckConnectorsTest.java
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsBufferedAckConnectorsTest.java
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsConnectorsTest.java
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsTxConnectorsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsAckConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsBufferedAckConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsTxConnectorsSpec.scala
Labels: api-change, p:jms

#796 Update mongo-scala-driver dependency to 2.2.1 and use generics instead of Document
  docs/src/main/paradox/mongodb.md
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/scaladsl/MongoFlow.scala
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/scaladsl/MongoSink.scala
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/scaladsl/MongoSource.scala
  mongodb/src/test/scala/akka/stream/alpakka/mongodb/MongoSinkSpec.scala
  mongodb/src/test/scala/akka/stream/alpakka/mongodb/MongoSourceSpec.scala
  project/Dependencies.scala
Labels: api-change, p:mongodb
