Repository akka/alpakka, pull requests merged in 2018-09, with the labels that each got.

#1182 CSV: CsvToMap default charset
  csv/src/main/scala/akka/stream/alpakka/csv/scaladsl/CsvToMap.scala
Labels: p:csv

#1202 Jms: put producers back to the pool on stream resume/restart
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerStage.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorsSpec.scala
Labels: p:jms

#1207 Json streaming: towards 1.0
  docs/src/main/paradox/data-transformations/json.md
  json-streaming/src/main/scala/akka/stream/alpakka/json/impl/JsonStreamReader.scala
  json-streaming/src/main/scala/akka/stream/alpakka/json/javadsl/JsonReader.scala
  json-streaming/src/main/scala/akka/stream/alpakka/json/scaladsl/JsonReader.scala
  json-streaming/src/test/java/docs/javadsl/JsonReaderUsageTest.java
  json-streaming/src/test/scala/docs/scaladsl/JsonReaderTest.scala
Labels: p:json-streaming

#1205 File: towards 1.0
  docs/src/main/paradox/file.md
  file/src/main/java/akka/stream/alpakka/file/impl/DirectoryChangesSource.java
  file/src/main/java/akka/stream/alpakka/file/impl/FileTailSource.java
  file/src/main/java/akka/stream/alpakka/file/javadsl/Directory.java
  file/src/main/java/akka/stream/alpakka/file/javadsl/DirectoryChangesSource.java
  file/src/main/java/akka/stream/alpakka/file/javadsl/FileTailSource.java
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/DirectoryChangesSource.scala
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/FileTailSource.scala
  file/src/test/java/docs/javadsl/DirectoryChangesSourceTest.java
  file/src/test/java/docs/javadsl/DirectoryTest.java
  file/src/test/java/docs/javadsl/FileTailSourceTest.java
  file/src/test/java/docs/javadsl/LogRotatorSinkTest.java
  file/src/test/scala/docs/scaladsl/DirectoryChangesSourceSpec.scala
  file/src/test/scala/docs/scaladsl/DirectorySpec.scala
  file/src/test/scala/docs/scaladsl/FileTailSourceSpec.scala
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
Labels: p:file

#1210 Upgrade sbt plugins
  build.sbt
  docs/src/main/paradox/amqp.md
  docs/src/main/paradox/avroparquet.md
  docs/src/main/paradox/awslambda.md
  docs/src/main/paradox/azure-storage-queue.md
  docs/src/main/paradox/cassandra.md
  docs/src/main/paradox/data-transformations/csv.md
  docs/src/main/paradox/data-transformations/json.md
  docs/src/main/paradox/data-transformations/recordio.md
  docs/src/main/paradox/data-transformations/text.md
  docs/src/main/paradox/data-transformations/xml.md
  docs/src/main/paradox/dynamodb.md
  docs/src/main/paradox/elasticsearch.md
  docs/src/main/paradox/examples/ftp-samples.md
  docs/src/main/paradox/file.md
  docs/src/main/paradox/ftp.md
  docs/src/main/paradox/geode.md
  docs/src/main/paradox/google-cloud-pub-sub.md
  docs/src/main/paradox/google-fcm.md
  docs/src/main/paradox/hbase.md
  docs/src/main/paradox/hdfs.md
  docs/src/main/paradox/index.md
  docs/src/main/paradox/ironmq.md
  docs/src/main/paradox/jms.md
  docs/src/main/paradox/kinesis.md
  docs/src/main/paradox/mongodb.md
  docs/src/main/paradox/mqtt.md
  docs/src/main/paradox/orientdb.md
  docs/src/main/paradox/reference.md
  docs/src/main/paradox/s3.md
  docs/src/main/paradox/slick.md
  docs/src/main/paradox/sns.md
  docs/src/main/paradox/solr.md
  docs/src/main/paradox/spring-web.md
  docs/src/main/paradox/sqs.md
  docs/src/main/paradox/sse.md
  docs/src/main/paradox/udp.md
  docs/src/main/paradox/unix-domain-socket.md
  project/plugins.sbt
Labels: alpakka-itself

#1197 Cassandra settings: Use java.time.Duration in Java API
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/settings.scala
Labels: p:cassandra

#1194 JMS: Adding connection timeouts and retries (fixes #1192 and #1193)
  docs/src/main/paradox/jms.md
  jms/src/main/scala/akka/stream/alpakka/jms/Jms.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsExceptions.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerStage.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsConnectorsTest.java
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsSettingsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/JmsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsAckConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsBufferedAckConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsSettingsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsTxConnectorsSpec.scala
Labels: p:jms

#1208 Slick/JDBC: towards 1.0
  docs/src/main/paradox/slick.md
  slick/src/test/java/docs/javadsl/DocSnippetFlow.java
  slick/src/test/java/docs/javadsl/DocSnippetFlowWithPassThrough.java
  slick/src/test/java/docs/javadsl/DocSnippetSink.java
  slick/src/test/java/docs/javadsl/DocSnippetSource.java
  slick/src/test/java/docs/javadsl/SlickTest.java
  slick/src/test/java/docs/javadsl/User.java
  slick/src/test/scala/docs/scaladsl/DocSnippets.scala
  slick/src/test/scala/docs/scaladsl/SlickSpec.scala
Labels: p:slick

#1206 DynamoDB: towards 1.0
  docs/src/main/paradox/dynamodb.md
  dynamodb/src/main/resources/reference.conf
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/AwsClientSettings.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/AwsOp.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/DynamoSettings.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/AwsClient.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/DynamoClientImpl.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/DynamoProtocol.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/DynamoSettings.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/Paginator.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoClient.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/package.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoClient.scala
  dynamodb/src/test/java/akka/stream/alpakka/dynamodb/ExampleTest.java
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/resources/application.conf
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/DynamoSettingsSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/ExampleSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/ItemSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/TableSpec.scala
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
Labels: api-change, p:dynamodb

#1214 AWS SQS: Keep message order
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsSourceStage.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/SqsSpec.scala
Labels: p:aws-sqs

#1215 Add react.sphere.it presentation
  docs/src/main/paradox/other-docs/webinars-presentations-articles.md
Labels: alpakka-itself

#1196 Simple Codecs: towards 1.0
  docs/src/main/paradox/data-transformations/recordio.md
  simple-codecs/src/main/scala/akka/stream/alpakka/recordio/impl/RecordIOFramingStage.scala
  simple-codecs/src/main/scala/akka/stream/alpakka/recordio/javadsl/RecordIOFraming.scala
  simple-codecs/src/main/scala/akka/stream/alpakka/recordio/scaladsl/RecordIOFraming.scala
  simple-codecs/src/test/java/docs/javadsl/RecordIOFramingTest.java
  simple-codecs/src/test/scala/docs/scaladsl/RecordIOFramingSpec.scala
Labels: p:recordio

#1180 Reference: updates to message types
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceFlow.scala
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceSource.scala
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceWithResourceFlow.scala
  reference/src/main/scala/akka/stream/alpakka/reference/javadsl/Reference.scala
  reference/src/main/scala/akka/stream/alpakka/reference/javadsl/ReferenceWithResource.scala
  reference/src/main/scala/akka/stream/alpakka/reference/model.scala
  reference/src/main/scala/akka/stream/alpakka/reference/scaladsl/Reference.scala
  reference/src/main/scala/akka/stream/alpakka/reference/scaladsl/ReferenceWithResource.scala
  reference/src/main/scala/akka/stream/alpakka/reference/testkit/MessageFactory.scala
  reference/src/test/java/docs/javadsl/ReferenceTest.java
  reference/src/test/java/docs/javadsl/ReferenceWithResourceTest.java
  reference/src/test/scala/docs/scaladsl/ReferenceSpec.scala
  reference/src/test/scala/docs/scaladsl/ReferenceWithResourceSpec.scala
Labels: p:reference

#1191 OrientDb: towards 1.0
  docs/src/main/paradox/orientdb.md
  orientdb/src/main/scala/akka/stream/alpakka/orientdb/impl/OrientDBFlowStage.scala
  orientdb/src/main/scala/akka/stream/alpakka/orientdb/impl/OrientDBSourceStage.scala
  orientdb/src/main/scala/akka/stream/alpakka/orientdb/javadsl/OrientDBFlow.scala
  orientdb/src/main/scala/akka/stream/alpakka/orientdb/javadsl/OrientDBSource.scala
  orientdb/src/main/scala/akka/stream/alpakka/orientdb/model.scala
  orientdb/src/main/scala/akka/stream/alpakka/orientdb/scaladsl/OrientDBFlow.scala
  orientdb/src/main/scala/akka/stream/alpakka/orientdb/scaladsl/OrientDBSource.scala
  orientdb/src/test/java/docs/javadsl/OrientDBTest.java
  orientdb/src/test/resources/application.conf
  orientdb/src/test/resources/logback-test.xml
  orientdb/src/test/scala/docs/scaladsl/OrientDBSpec.scala
Labels: p:orientdb

#1212 Jms passthrough envelope
  docs/src/main/paradox/jms.md
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerMessage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsProducer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsProducer.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsConnectorsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsConnectorsSpec.scala
Labels: p:jms

#1204 FTP: towards 1.0
  doc-examples/src/main/scala/ftpsamples/FtpToFile.scala
  docs/src/main/paradox/ftp.md
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/CommonFtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpBrowserGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpGraphStageLogic.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpIOGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpLike.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpSourceFactory.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpsOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/model.scala
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpsStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/KeyFileSftpSourceTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/RawKeySftpSourceTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/SftpStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/SftpSupportImpl.java
  ftp/src/test/java/akka/stream/alpakka/ftp/StrictHostCheckingSftpSourceTest.java
  ftp/src/test/java/docs/javadsl/ConfigureCustomSSHClient.java
  ftp/src/test/java/docs/javadsl/FtpMovingExample.java
  ftp/src/test/java/docs/javadsl/FtpProcessAndMoveExample.java
  ftp/src/test/java/docs/javadsl/FtpRemovingExample.java
  ftp/src/test/java/docs/javadsl/FtpRetrievingExample.java
  ftp/src/test/java/docs/javadsl/FtpSettingsExample.java
  ftp/src/test/java/docs/javadsl/FtpTraversingExample.java
  ftp/src/test/java/docs/javadsl/FtpWritingExample.java
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpsSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSftpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
  ftp/src/test/scala/docs/scaladsl/scalaExamples.scala
Labels: api-change, p:ftp

#1186 MQTT: towards 1.0
  build.sbt
  doc-examples/src/main/java/mqtt/javasamples/MqttGroupedWithin.java
  docs/src/main/paradox/mqtt.md
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/Mqtt.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/MqttFlowStage.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/impl/MqttFlowStage.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/javadsl/MqttCommittableMessage.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/javadsl/MqttFlow.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/javadsl/MqttMessageWithAck.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/javadsl/MqttSink.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/javadsl/MqttSource.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/javadsl/package.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/model.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttCommittableMessage.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttFlow.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttMessageWithAck.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSink.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSource.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/settings.scala
  mqtt/src/test/java/akka/stream/alpakka/mqtt/javadsl/package.scala
  mqtt/src/test/java/docs/javadsl/MqttFlowTest.java
  mqtt/src/test/java/docs/javadsl/MqttSourceTest.java
  mqtt/src/test/resources/logback-test.xml
  mqtt/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
  mqtt/src/test/scala/docs/scaladsl/MqttSinkSpec.scala
  mqtt/src/test/scala/docs/scaladsl/MqttSourceSpec.scala
Labels: api-change, p:mqtt

#1179 Elasticsearch: towards 1.0
  doc-examples/src/main/java/elastic/FetchUsingSlickAndStreamIntoElasticInJava.java
  doc-examples/src/main/scala/elastic/FetchUsingSlickAndStreamIntoElastic.scala
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSinkSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSourceSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchWriteSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ReadResult.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/WriteMessage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSourceStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSink.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSource.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSink.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSource.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/testkit/MessageFactory.scala
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchTest.java
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
Labels: api-change, p:elasticsearch

#1158 AWS SNS: towards Alpakka 1.0
  .travis.yml
  docker-compose.yml
  docs/src/main/paradox/sns.md
  sns/src/main/scala/akka/stream/alpakka/sns/impl/SnsPublishFlowStage.scala
  sns/src/main/scala/akka/stream/alpakka/sns/javadsl/SnsPublisher.scala
  sns/src/main/scala/akka/stream/alpakka/sns/scaladsl/SnsPublisher.scala
  sns/src/test/java/akka/stream/alpakka/sns/javadsl/Examples.java
  sns/src/test/java/docs/javadsl/SnsPublisherTest.java
  sns/src/test/resources/logback-test.xml
  sns/src/test/scala/akka/stream/alpakka/sns/IntegrationTestContext.scala
  sns/src/test/scala/akka/stream/alpakka/sns/SnsPublishMockingSpec.scala
  sns/src/test/scala/akka/stream/alpakka/sns/scaladsl/Examples.scala
  sns/src/test/scala/docs/scaladsl/SnsPublisherSpec.scala
  sns/src/test/travis/goaws.yaml
Labels: p:aws-sns

#1219 Add project.url to enable Paradox version warning
  build.sbt
Labels: alpakka-itself

#1222 Use Akka Paradox template
  build.sbt
  docs/src/main/paradox/_template/akka_logo.st
  docs/src/main/paradox/_template/logo.st
  docs/src/main/paradox/_template/projectSpecificFooter.st
  docs/src/main/paradox/_template/title.st
  docs/src/main/paradox/assets/js/warnOldVersion.js
  docs/src/main/paradox/connectors.md
  docs/src/main/paradox/data-transformations/index.md
  docs/src/main/paradox/external/apache-camel.md
  docs/src/main/paradox/external/azure-event-hubs.md
  docs/src/main/paradox/external/azure-iot-hub.md
  docs/src/main/paradox/external/couchbase.md
  docs/src/main/paradox/external/eventuate.md
  docs/src/main/paradox/external/fs2.md
  docs/src/main/paradox/external/grpc.md
  docs/src/main/paradox/external/http.md
  docs/src/main/paradox/external/pulsar.md
  docs/src/main/paradox/external/tcp.md
  docs/src/main/paradox/images/akka-alpakka-reverse.svg
  docs/src/main/paradox/index.md
  docs/src/main/paradox/kafka.md
  docs/src/main/paradox/other-docs/snapshots.md
  docs/src/main/paradox/other-docs/webinars-presentations-articles.md
  docs/src/main/paradox/overview.md
  project/build.properties
  project/plugins.sbt
Labels: alpakka-itself

#1221 XML: Improve Java API
  docs/src/main/paradox/data-transformations/xml.md
  xml/src/main/java/akka/stream/alpakka/ParseEventMarker.java
  xml/src/main/scala/akka/stream/alpakka/xml/model.scala
  xml/src/test/java/docs/javadsl/XmlParsingTest.java
  xml/src/test/scala/docs/scaladsl/XmlProcessingSpec.scala
Labels: p:xml

#1172 Spring-web: Move code for snippets
  docs/src/main/paradox/spring-web.md
  spring-web/src/test/java/docs/javadsl/DemoApplication.java
  spring-web/src/test/java/docs/javadsl/SampleController.java
Labels: p:spring-web

#1189 JMS: Introducing commit timeouts and use Future instead of BlockingQueue
  docs/src/main/paradox/jms.md
  jms/src/main/scala/akka/stream/alpakka/jms/Jms.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerStage.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsTxConnectorsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsTxConnectorsSpec.scala
Labels: p:jms

#1224 Latest Akka 2.5.16 and Akka Http 10.1.5
  project/Dependencies.scala
Labels: alpakka-itself

#1234 Mongo: Update driver to 2.4.2
  project/Dependencies.scala
Labels: p:mongodb

#1233 OrientDb & JSON streaming: Add link to issues
  docs/src/main/paradox/data-transformations/json.md
  docs/src/main/paradox/orientdb.md
Labels: p:json-streaming, p:orientdb

#1237 AWS SDK 1.11.414
  project/Dependencies.scala
Labels: p:aws-lambda, p:aws-s3, p:aws-sns, p:aws-sqs, p:dynamodb, p:kinesis

#1220 Refactor DynamoDb to factories taking client
  docs/src/main/paradox/dynamodb.md
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/DynamoClient.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoClient.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDb.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDbExternal.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoClient.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoDb.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoDbExternal.scala
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/ItemSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/TableSpec.scala
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
Labels: p:dynamodb

#1239 Print JUnit test names when they run
  project/Common.scala
Labels: alpakka-itself

#1164 Solr: support update/delete/atomic update operations and batch those
  docs/src/main/paradox/solr.md
  solr/src/main/scala/akka/stream/alpakka/solr/SolrFlowStage.scala
  solr/src/main/scala/akka/stream/alpakka/solr/SolrUpdateSettings.scala
  solr/src/main/scala/akka/stream/alpakka/solr/javadsl/SolrFlow.scala
  solr/src/main/scala/akka/stream/alpakka/solr/javadsl/SolrSink.scala
  solr/src/main/scala/akka/stream/alpakka/solr/scaladsl/SolrFlow.scala
  solr/src/main/scala/akka/stream/alpakka/solr/scaladsl/SolrSink.scala
  solr/src/test/java/akka/stream/alpakka/solr/SolrTest.java
  solr/src/test/resources/conf/schema.xml
  solr/src/test/scala/akka/stream/alpakka/solr/SolrSpec.scala
Labels: p:solr

#1177 Added passthrough pattern example and documentation
  avroparquet/src/test/java/docs/javadsl/AvroParquetSinkTest.java
  avroparquet/src/test/scala/docs/scaladsl/AvroParquetSourceSpec.scala
  doc-examples/src/test/scala/akka/stream/alpakka/eip/scaladsl/PassThroughExamples.scala
  docs/src/main/paradox/patterns.md
Labels: alpakka-itself

#1244 1.0-M1 Release notes
  docs/src/main/paradox/overview.md
  docs/src/main/paradox/release-notes/1.0-M1.md
  docs/src/main/paradox/release-notes/index.md
Labels: alpakka-itself
