Repository akka/alpakka, pull requests merged in 2018-06, with the labels that each got.

#951 AWS S3: versioning support
  docs/src/main/paradox/s3.md
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3Client.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3Client.scala
  s3/src/test/java/akka/stream/alpakka/s3/javadsl/S3ClientTest.java
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3SinkSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3SourceSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
Labels: p:aws-s3

#1016 Merge Java and Scala settings implementation for Elasticsearch
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSinkSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSourceSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSourceStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSinkSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSource.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSourceSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSink.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSinkSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSource.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSourceSettings.scala
  elasticsearch/src/test/java/akka/stream/alpakka/elasticsearch/ElasticsearchTest.java
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSpec.scala
Labels: p:elasticsearch

#1018 Describe includeDocumentVersion property of ElasticsearchSourceSettings
  docs/src/main/paradox/elasticsearch.md
Labels: p:elasticsearch

#1011 New module: Text en-/decoding
  .travis.yml
  build.sbt
  docs/src/main/paradox/data-transformations/index.md
  docs/src/main/paradox/data-transformations/text.md
  text/src/main/scala/akka/stream/alpakka/text/impl/CharsetDecodingFlow.scala
  text/src/main/scala/akka/stream/alpakka/text/impl/CharsetLogic.scala
  text/src/main/scala/akka/stream/alpakka/text/impl/CharsetTranscodingFlow.scala
  text/src/main/scala/akka/stream/alpakka/text/javadsl/TextFlow.scala
  text/src/main/scala/akka/stream/alpakka/text/scaladsl/TextFlow.scala
  text/src/test/java/docs/javadsl/CharsetCodingFlowsDoc.java
  text/src/test/scala/akka/stream/alpakka/text/scaladsl/CharsetCodingFlowsSpec.scala
  text/src/test/scala/docs/scaladsl/CharsetCodingFlowsDoc.scala
Labels: p:new

#978 Fix exception thrown when AMQP can't connect to the server.
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnector.scala
Labels: p:amqp

#1033 AMQP: Reorganise packages
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectionProvider.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectorSettings.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpConnectorLogic.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpReplyToSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpRpcFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSourceStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/model.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/package.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpRpcFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpSink.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpSource.scala
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectorsTest.java
  amqp/src/test/java/docs/javadsl/AmqpDocsTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/AmqpSpec.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectorsSpec.scala
  amqp/src/test/scala/docs/scaladsl/AmqpDocsSpec.scala
  docs/src/main/paradox/amqp.md
Labels: p:amqp

#1040 Added information for dependencies to use for HBase connector
  docs/src/main/paradox/hbase.md
Labels: p:hbase

#1041 Mongo: Update driver to 2.3.0
  project/Dependencies.scala
Labels: p:mongodb

#1030 Cassandra: avoiding isExhausted calls + prefetching results when buffer is half full
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CassandraSourceStage.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/GuavaFutures.scala
Labels: p:cassandra

#965 HDFS: Add sources and flows
  .travis.yml
  build.sbt
  docs/src/main/paradox/connectors.md
  docs/src/main/paradox/hdfs.md
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/HdfsFlowStage.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/strategy/DefaultRotationStrategy.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/strategy/DefaultSyncStrategy.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/strategy/Strategy.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/CompressedDataWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/DataWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/HdfsWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/SequenceWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/javadsl/HdfsFlow.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/javadsl/HdfsSource.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/model.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/scaladsl/HdfsFlow.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/scaladsl/HdfsSource.scala
  hdfs/src/test/java/akka/stream/alpakka/hdfs/HdfsReaderTest.java
  hdfs/src/test/java/akka/stream/alpakka/hdfs/HdfsWriterTest.java
  hdfs/src/test/resources/application.conf
  hdfs/src/test/scala/akka/stream/alpakka/hdfs/HdfsReaderSpec.scala
  hdfs/src/test/scala/akka/stream/alpakka/hdfs/HdfsWriterSpec.scala
  hdfs/src/test/scala/akka/stream/alpakka/hdfs/util/TestUtils.scala
  project/Dependencies.scala
Labels: p:new

#1053 Pin OrientDB version to 2.2.35
  docker-compose.yml
Labels: p:orientdb

#998 Non-static signing key for S3 MultiPartUpload (#996)
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
Labels: p:aws-s3
