Repository akka/alpakka, pull requests merged in 2018-11, with the labels that each got.

#1304 MQTT streaming: Retire ask in favour of promise
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/MqttSessionSettings.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestStateSpec.scala
Labels: p:mqtt-streaming

#1305 Fetch full history in Travis so version can always be determined
  .travis.yml
  build.sbt
Labels: alpakka-itself

#1312 MQTT streaming: Handle connect while connected
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1303 Add retries for S3 internal errors
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3SinkSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
Labels: p:aws-s3

#1319 Avro Parquet - AvroParquetSinkTest.createNewParquetFile #1316
  avroparquet/src/test/java/docs/javadsl/AvroParquetSinkTest.java
Labels: p:avroparquet

#1302 Elasticsearch: failStage should happen when shouldRetry returns false
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchFlowStage.scala
Labels: p:elasticsearch

#1315 MQTT streaming: Resilient client publications
  docs/src/main/paradox/mqtt-streaming.md
  mqtt-streaming-bench/src/main/scala/akka/stream/alpakka/mqtt/MqttPerf.scala
  mqtt-streaming-bench/src/main/scala/akka/stream/alpakka/mqtt/streaming/MqttPerf.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/javadsl/MqttSession.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/java/docs/javadsl/MqttFlowTest.java
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1311 AWS SQS: Set proper equality for SQS model
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsModel.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/SqsModelSpec.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/ChangeMessageVisibilitySpec.scala
Labels: p:aws-sqs

#1327 Further MQTT streaming hardening
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestStateSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1301 Solr: Routing value for atomic update becomes optional
  docs/src/main/paradox/solr.md
  solr/src/main/scala/akka/stream/alpakka/solr/SolrFlowStage.scala
  solr/src/test/java/akka/stream/alpakka/solr/SolrTest.java
  solr/src/test/resources/conf/schema.xml
  solr/src/test/scala/akka/stream/alpakka/solr/SolrSpec.scala
Labels: api-change, p:solr

#1341 MQTT streaming: Modal subscriptions
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
Labels: p:mqtt-streaming
