Repository akka/alpakka, pull requests merged in 2019-08, with the labels that each got.

#1851 Build all connectors when building in nightly
  scripts/buildChanged.sh
Labels: alpakka-itself

#1845 Failure to attain QoS is not bad
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/model.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttCodecSpec.scala
Labels: p:mqtt-streaming

#1846 Ftp: migrates RotateLogsToFtp to Java #1479
  doc-examples/src/main/java/ftpsamples/RotateLogsToFtpExample.java
  docs/src/main/paradox/examples/ftp-samples.md
Labels: documentation

#1852 Treat ConsumeFailed as a problem
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
Labels: p:mqtt-streaming

#1834 HDFS: fix target file overwrite
  hdfs/src/main/mima-filters/1.1.x.backwards.excludes
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/CompressedDataWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/DataWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/HdfsWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/SequenceWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/scaladsl/HdfsFlow.scala
  hdfs/src/test/scala/docs/scaladsl/HdfsWriterSpec.scala
Labels: p:hdfs

#1816 FTP: Mkdir
  docs/src/main/paradox/ftp.md
  ftp/src/main/mima-filters/1.1.x.backwards.excludes
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/CommonFtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpBrowserGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpDirectoryOperationsGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpLike.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpSourceFactory.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/javadsl/FtpApi.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala
  ftp/src/test/java/docs/javadsl/FtpMkdirExample.java
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpsSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSftpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
  ftp/src/test/scala/docs/scaladsl/scalaExamples.scala
Labels: documentation, p:ftp

#1860 Mima: generally allow changes to the impl-package
  build.sbt
Labels: alpakka-itself

#1861 Mima: don't check reference connector, as it is not published
  build.sbt
Labels: alpakka-itself

#1858 CSV: accept quotes ending mid-column
  csv/src/main/scala/akka/stream/alpakka/csv/impl/CsvParser.scala
  csv/src/test/resources/correctness.csv
  csv/src/test/scala/akka/stream/alpakka/csv/CsvParserSpec.scala
  csv/src/test/scala/docs/scaladsl/CsvParsingSpec.scala
Labels: p:csv

#1865 Start deferred behaviors
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/QueueOfferState.scala
Labels: p:mqtt-streaming

#1862 Elasticsearch: store JSON strings
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/WriteMessage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchFlow.scala
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchTest.java
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
Labels: documentation, p:elasticsearch

#1857 JMS transactions: fail stream or log on ack timeouts
  jms/src/main/mima-filters/1.1.1.backwards.excludes
  jms/src/main/resources/reference.conf
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsExceptions.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsTxSourceStage.scala
  jms/src/test/scala/docs/scaladsl/JmsTxConnectorsSpec.scala
Labels: p:jms

#1870 Autolabeler config
  .github/autolabeler.yml
Labels: alpakka-itself

#1871 Scalafmt: update plugin to 2.0.3
  project/plugins.sbt
Labels: alpakka-itself

#1866 Docs: move JMS examples to alpakka-samples
  build.sbt
  doc-examples/src/main/java/jms/javasamples/JmsToFile.java
  doc-examples/src/main/java/jms/javasamples/JmsToHttpGet.java
  doc-examples/src/main/java/jms/javasamples/JmsToOneFilePerMessage.java
  doc-examples/src/main/java/jms/javasamples/JmsToWebSocket.java
  doc-examples/src/main/scala/jms/JmsSampleBase.scala
  doc-examples/src/main/scala/jms/JmsToFile.scala
  doc-examples/src/main/scala/jms/JmsToHttpGet.scala
  doc-examples/src/main/scala/jms/JmsToOneFilePerMessage.scala
  doc-examples/src/main/scala/jms/JmsToWebSocket.scala
  doc-examples/src/main/scala/playground/ActiveMqBroker.scala
  doc-examples/src/main/scala/playground/WebServer.scala
  docs/src/main/paradox/examples/jms-samples.md
  project/Dependencies.scala
Labels: documentation

#1859 Upgrade Jackson Databind and test dependencies
  project/Dependencies.scala
Labels: dependency-change

#1867 Release notes for 1.1.1
  docs/release-train-issue-template.md
  docs/src/main/paradox/release-notes/1.1.x.md
  docs/src/main/paradox/release-notes/1.1.x/amqp.md
  docs/src/main/paradox/release-notes/1.1.x/avroparquet.md
  docs/src/main/paradox/release-notes/1.1.x/awslambda.md
  docs/src/main/paradox/release-notes/1.1.x/azure-storage-queue.md
  docs/src/main/paradox/release-notes/1.1.x/cassandra.md
  docs/src/main/paradox/release-notes/1.1.x/couchbase.md
  docs/src/main/paradox/release-notes/1.1.x/csv.md
  docs/src/main/paradox/release-notes/1.1.x/dynamodb.md
  docs/src/main/paradox/release-notes/1.1.x/elasticsearch.md
  docs/src/main/paradox/release-notes/1.1.x/file.md
  docs/src/main/paradox/release-notes/1.1.x/ftp.md
  docs/src/main/paradox/release-notes/1.1.x/geode.md
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/1.1.x/google-fcm.md
  docs/src/main/paradox/release-notes/1.1.x/hbase.md
  docs/src/main/paradox/release-notes/1.1.x/hdfs.md
  docs/src/main/paradox/release-notes/1.1.x/influxdb.md
  docs/src/main/paradox/release-notes/1.1.x/ironmq.md
  docs/src/main/paradox/release-notes/1.1.x/jms.md
  docs/src/main/paradox/release-notes/1.1.x/json-streaming.md
  docs/src/main/paradox/release-notes/1.1.x/kinesis.md
  docs/src/main/paradox/release-notes/1.1.x/kudu.md
  docs/src/main/paradox/release-notes/1.1.x/mongodb.md
  docs/src/main/paradox/release-notes/1.1.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/1.1.x/mqtt.md
  docs/src/main/paradox/release-notes/1.1.x/orientdb.md
  docs/src/main/paradox/release-notes/1.1.x/s3.md
  docs/src/main/paradox/release-notes/1.1.x/simple-codecs.md
  docs/src/main/paradox/release-notes/1.1.x/slick.md
  docs/src/main/paradox/release-notes/1.1.x/sns.md
  docs/src/main/paradox/release-notes/1.1.x/solr.md
  docs/src/main/paradox/release-notes/1.1.x/spring-web.md
  docs/src/main/paradox/release-notes/1.1.x/sqs.md
  docs/src/main/paradox/release-notes/1.1.x/sse.md
  docs/src/main/paradox/release-notes/1.1.x/udp.md
  docs/src/main/paradox/release-notes/1.1.x/unix-domain-socket.md
  docs/src/main/paradox/release-notes/1.1.x/xml.md
Labels: documentation

#1830 Added withHeader(s) withProperty(-ies) and withoutDestination methods…
  jms/src/main/mima-filters/1.1.0.backwards.excludes
  jms/src/main/scala/akka/stream/alpakka/jms/JmsMessages.scala
Labels: api-change, p:jms

#1868 AWS SDK 2.7.18
  project/Dependencies.scala
Labels: dependency-change, p:aws-lambda, p:aws-sns, p:aws-sqs

#1683 FTP: up sshj to 0.27.0
  ftp/src/test/resources/known_hosts
  project/Dependencies.scala
Labels: dependency-change, p:ftp

#1781 Updated google pubsub grpc deps to latest version
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/IntegrationSpec.scala
  project/Dependencies.scala
Labels: dependency-change, p:google-cloud-pub-sub-grpc

#1874 JMS & Google pubsub grpc: Update Mima excludes
  google-cloud-pub-sub-grpc/src/main/mima-filters/1.1.x.backwards.excludes
  jms/src/main/mima-filters/1.1.x.backwards.excludes
Labels: p:google-cloud-pub-sub-grpc, p:jms

#1880 Solr: Upgrade to 7_7_2
  project/Dependencies.scala
Labels: dependency-change, p:solr

#1873 Fix some compiler warnings
  awslambda/src/test/scala/docs/scaladsl/AwsLambdaFlowSpec.scala
  csv/src/test/scala/docs/scaladsl/CsvFormattingSpec.scala
  csv/src/test/scala/docs/scaladsl/CsvParsingSpec.scala
  csv/src/test/scala/docs/scaladsl/CsvToMapSpec.scala
  file/src/main/java/akka/stream/alpakka/file/impl/FileTailSource.java
  file/src/main/java/akka/stream/alpakka/file/javadsl/FileTailSource.java
  file/src/test/scala/docs/scaladsl/DirectorySpec.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpBrowserGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpDirectoryOperationsGraphStage.scala
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/ExampleApp.scala
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/IntegrationSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleSessionSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleTokenApiSpec.scala
  google-cloud-pub-sub/src/test/scala/docs/scaladsl/ExampleUsage.scala
Labels: p:aws-lambda, p:csv, p:file, p:ftp, p:google-cloud-pub-sub, p:google-cloud-pub-sub-grpc

#1877 Remove methods deprecated before 1.0
  cassandra/src/main/mima-filters/1.1.x.backwards.excludes
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraFlow.scala
  file/src/main/java/akka/stream/alpakka/file/javadsl/DirectoryChangesSource.java
  file/src/main/java/akka/stream/alpakka/file/javadsl/FileTailSource.java
  file/src/main/mima-filters/1.1.x.backwards.excludes
  file/src/test/java/docs/javadsl/FileTailSourceTest.java
  jms/src/main/mima-filters/1.1.x.backwards.excludes
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerSettings.scala
  jms/src/test/java/docs/javadsl/JmsSettingsTest.java
  kinesis/src/main/mima-filters/1.1.x.backwards.excludes
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/ShardSettings.scala
  mqtt/src/main/mima-filters/1.1.x.backwards.excludes
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/javadsl/MqttFlow.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/javadsl/MqttMessageWithAck.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/javadsl/MqttSource.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttFlow.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttMessageWithAck.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttSource.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/settings.scala
  mqtt/src/test/java/docs/javadsl/MqttFlowTest.java
  sqs/src/main/mima-filters/1.1.x.backwards.excludes
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsAckGroupedSettings.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsPublishGroupedSettings.scala
Labels: api-change, p:aws-sqs, p:cassandra, p:file, p:jms, p:kinesis, p:mqtt

#1815 sync google modules jwt-core version
  build.sbt
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleTokenApi.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleTokenApiSpec.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/impl/GoogleTokenApiSpec.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleTokenApi.scala
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleTokenApiSpec.scala
  project/Dependencies.scala
Labels: api-change, dependency-change, p:google-cloud-pub-sub, p:google-cloud-storage, p:google-fcm

#1886 Update to the latest gRPC
  google-cloud-pub-sub-grpc/src/main/mima-filters/1.1.x.backwards.excludes
  google-cloud-pub-sub-grpc/src/main/resources/GSR2.crt
  google-cloud-pub-sub-grpc/src/test/resources/application.conf
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/ExampleApp.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: dependency-change, p:google-cloud-pub-sub-grpc

#1889 Expect correct exception in Akka 2.6
  file/src/main/java/akka/stream/alpakka/file/impl/FileTailSource.java
  file/src/main/java/akka/stream/alpakka/file/javadsl/FileTailSource.java
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
Labels: p:file

#1664 :arrow_up: Geode 1.9.0
  docker-compose.yml
  project/Dependencies.scala
Labels: dependency-change, p:geode

#1894 File: remove unused import
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
Labels: p:file

#1892 Enable Scala 2.13 build for Google Cloud Pub/Sub gRPC connector
  build.sbt
Labels: p:google-cloud-pub-sub-grpc

#1893 Update to the latest Akka milestone
  project/Dependencies.scala
Labels: dependency-change

#1891 Update to Scala 2.13 supported MongoDb dependencies
  build.sbt
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/javadsl/MongoFlow.scala
  project/Dependencies.scala
Labels: dependency-change, p:mongodb

#1725 DynamoDb: Update to AWS SDK 2.0
  docs/src/main/paradox/dynamodb.md
  dynamodb/src/main/mima-filters/1.1.x.backwards.excludes
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/AwsClientSettings.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/AwsOp.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/DynamoClient.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/DynamoDbOp.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/DynamoSettings.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/attributes.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/AwsClient.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/DynamoClientImpl.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/DynamoProtocol.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/Paginator.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDb.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoDb.scala
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/resources/application.conf
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/DynamoSettingsSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/ItemSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/TableSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/TestOps.scala
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
  project/Dependencies.scala
Labels: api-change, dependency-change, documentation, p:dynamodb

#1888 COUCHBASE: Add bucket replace functionality
  couchbase/src/main/mima-filters/1.1.1.backwards.excludes
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/impl/CouchbaseSessionImpl.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/impl/CouchbaseSessionJavaAdapter.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseFlow.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseSession.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseSink.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseFlow.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseSession.scala
  couchbase/src/test/java/docs/javadsl/CouchbaseExamplesTest.java
  couchbase/src/test/scala/akka/stream/alpakka/couchbase/testing/CouchbaseSupport.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseFlowSpec.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseSourceSpec.scala
  docs/src/main/paradox/couchbase.md
Labels: documentation, p:couchbase

#1899 Drop pre-1.0 release notes
  docs/src/main/paradox/.htaccess
  docs/src/main/paradox/release-notes/1.0-M1.md
  docs/src/main/paradox/release-notes/1.0-M2.md
  docs/src/main/paradox/release-notes/1.0-M3.md
  docs/src/main/paradox/release-notes/1.0-RC1.md
  docs/src/main/paradox/release-notes/index.md
Labels: documentation

#1898 Do not enable fatal warnings on nightly
  project/Common.scala
Labels: alpakka-itself

#1654 HBase: version 1.4.9
  docker-compose.yml
  project/Dependencies.scala
Labels: dependency-change, p:hbase

#1839 Fix SqsSource attributes adoption from sqs source settings.
  sqs/src/main/mima-filters/1.1.x.backwards.excludes
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsSourceSettings.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsSource.scala
  sqs/src/test/java/docs/javadsl/SqsSourceTest.java
  sqs/src/test/scala/docs/scaladsl/SqsSourceSpec.scala
Labels: api-change, p:aws-sqs

#1779 FTP: enable Scala 2.13 and 2.12.9 compilation
  .travis.yml
  build.sbt
  ftp/src/main/mima-filters/1.1.x.backwards.excludes
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/CommonFtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpIOGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpSourceFactory.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/javadsl/FtpApi.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/model.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/settings.scala
  project/Dependencies.scala
Labels: dependency-change, p:ftp, p:mqtt

#1890 Added flow for creating file ZIP archive
  docs/src/main/paradox/file.md
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/FileByteStringSeparators.scala
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/ZipArchiveFlow.scala
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/ZipArchiveManager.scala
  file/src/main/scala/akka/stream/alpakka/file/javadsl/Archive.scala
  file/src/main/scala/akka/stream/alpakka/file/model.scala
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/Archive.scala
  file/src/test/java/docs/javadsl/ArchiveHelper.java
  file/src/test/java/docs/javadsl/ArchiveTest.java
  file/src/test/resources/akka_full_color.svg
  file/src/test/resources/akka_icon_reverse.svg
  file/src/test/scala/docs/scaladsl/ArchiveSpec.scala
Labels: documentation, p:file

#1903 Scaladoc: link to source and canonical
  build.sbt
  project/Common.scala
Labels: alpakka-itself

#1906 Upgrade to scalafmt 2.0.1 / sbt-scalafmt 2.0.4
  .scalafmt.conf
  project/plugins.sbt
Labels: alpakka-itself

#1907 FTP - Add proxy support to FTP, SFTP, and FTPS connectors
  .travis.yml
  build.sbt
  docker-compose.yml
  docs/src/main/paradox/ftp.md
  ftp/src/main/mima-filters/1.1.1.backwards.excludes
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpsOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/model.scala
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpWithProxyStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpsWithProxyStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/SftpWithProxyStageTest.java
  ftp/src/test/resources/squid.conf
Labels: documentation, p:ftp

#1910 Update to Lightbend Community Code of Conduct
  CODE_OF_CONDUCT.md
  docs/src/main/paradox/overview.md
Labels: documentation
