Repository akka/alpakka, pull requests merged in 2019-02, with the labels that each got.

#1474 AWS Kinesis - Docs - Another alternative KCL based source
  docs/src/main/paradox/kinesis.md
Labels: p:kinesis

#1463 Geode: Renames and doc improvements
  build.sbt
  docs/src/main/paradox/geode.md
  geode/src/main/java/akka/stream/alpakka/geode/javadsl/Geode.java
  geode/src/main/java/akka/stream/alpakka/geode/javadsl/GeodeWithPoolSubscription.java
  geode/src/main/scala-2.11/akka/stream/alpakka/geode/GeodeSettings.scala
  geode/src/main/scala-2.12/akka/stream/alpakka/geode/GeodeSettings.scala
  geode/src/main/scala/akka/stream/alpakka/geode/AkkaPdxSerializer.scala
  geode/src/main/scala/akka/stream/alpakka/geode/scaladsl/Geode.scala
  geode/src/test/java/docs/javadsl/GeodeBaseTestCase.java
  geode/src/test/java/docs/javadsl/GeodeContinuousSourceTestCase.java
  geode/src/test/java/docs/javadsl/GeodeFiniteSourceTestCase.java
  geode/src/test/java/docs/javadsl/GeodeFlowTestCase.java
  geode/src/test/java/docs/javadsl/GeodeSinkTestCase.java
  geode/src/test/scala/docs/scaladsl/GeodeContinuousSourceSpec.scala
  geode/src/test/scala/docs/scaladsl/GeodeFiniteSourceSpec.scala
  geode/src/test/scala/docs/scaladsl/GeodeFlowSpec.scala
  geode/src/test/scala/docs/scaladsl/GeodeSinkSpec.scala
  project/Dependencies.scala
Labels: api-change, p:geode

#1478 ElasticSearch null check for index and type name on source and flow
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSourceStage.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
Labels: p:elasticsearch

#1457 DynamoDb: Resolve client during materialization
  docs/src/main/paradox/dynamodb.md
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/AwsOp.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/DynamoClient.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/DynamoSettings.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/attributes.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/SetupStage.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDb.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDbExternal.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoDb.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoDbExternal.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoImplicits.scala
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/ItemSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/TableSpec.scala
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
Labels: p:dynamodb

#1477 Google FCM towards 1.0
  docs/src/main/paradox/google-fcm.md
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/FcmFlowModels.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/FcmNotificationModels.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/FcmSettings.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmFlows.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmJsonSupport.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmSender.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleSession.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleTokenApi.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/SetupStage.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/javadsl/GoogleFcm.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/javadsl/GoogleFcmFlow.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/javadsl/GoogleFcmSink.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/scaladsl/GoogleFcm.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/scaladsl/GoogleFcmFlow.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/scaladsl/GoogleFcmSink.scala
  google-fcm/src/test/java/docs/javadsl/FcmExamples.java
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmSenderSpec.scala
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleTokenApiSpec.scala
  google-fcm/src/test/scala/docs/scaladsl/FcmExamples.scala
Labels: p:google-fcm

#1483 JmsConnector: add JMS Destination name to log messages
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsConnector.scala
Labels: p:jms

#1480 Parallel subscriptions/unsubscriptions and SubAck notifications
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/model.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/java/docs/javadsl/MqttFlowTest.java
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1487 Slick: version 3.3.0
  project/Dependencies.scala
Labels: p:slick

#1486 Silence warnings from generated code
  build.sbt
  project/Dependencies.scala
Labels: alpakka-itself, p:google-cloud-pub-sub-grpc

#1482 JMS: IBMMQ update docs
  .travis.yml
  docker-compose.yml
  docs/src/main/paradox/jms/ibm-mq.md
  jms/src/test/java/docs/javadsl/JmsIbmmqConnectorsTest.java
  jms/src/test/scala/docs/scaladsl/JmsIbmmqConnectorsSpec.scala
  project/Dependencies.scala
Labels: p:jms

#1485 HBase: Towards Alpakka 1.0
  .travis.yml
  docker-compose.yml
  docs/src/main/paradox/hbase.md
  hbase/src/main/scala/akka/stream/alpakka/hbase/HBaseSettings.scala
  hbase/src/main/scala/akka/stream/alpakka/hbase/HTableSettings.scala
  hbase/src/main/scala/akka/stream/alpakka/hbase/impl/HBaseCapabilities.scala
  hbase/src/main/scala/akka/stream/alpakka/hbase/impl/HBaseFlowStage.scala
  hbase/src/main/scala/akka/stream/alpakka/hbase/javadsl/HTableStage.scala
  hbase/src/main/scala/akka/stream/alpakka/hbase/scaladsl/HTableStage.scala
  hbase/src/test/java/docs/javadsl/HBaseStageTest.java
  hbase/src/test/scala/docs/scaladsl/HBaseStageSpec.scala
  project/Dependencies.scala
Labels: p:hbase

#1491 Solr for Alpakka 1.0
  build.sbt
  docs/src/main/paradox/solr.md
  project/Dependencies.scala
  solr/src/main/scala/akka/stream/alpakka/solr/SolrFlowStage.scala
  solr/src/main/scala/akka/stream/alpakka/solr/SolrMessages.scala
  solr/src/main/scala/akka/stream/alpakka/solr/SolrSourceStage.scala
  solr/src/main/scala/akka/stream/alpakka/solr/SolrUpdateSettings.scala
  solr/src/main/scala/akka/stream/alpakka/solr/impl/SolrFlowStage.scala
  solr/src/main/scala/akka/stream/alpakka/solr/impl/SolrSourceStage.scala
  solr/src/main/scala/akka/stream/alpakka/solr/javadsl/SolrFlow.scala
  solr/src/main/scala/akka/stream/alpakka/solr/javadsl/SolrSink.scala
  solr/src/main/scala/akka/stream/alpakka/solr/javadsl/SolrSource.scala
  solr/src/main/scala/akka/stream/alpakka/solr/scaladsl/SolrFlow.scala
  solr/src/main/scala/akka/stream/alpakka/solr/scaladsl/SolrSink.scala
  solr/src/main/scala/akka/stream/alpakka/solr/scaladsl/SolrSource.scala
  solr/src/test/java/akka/stream/alpakka/solr/SolrTest.java
  solr/src/test/java/docs/javadsl/SolrTest.java
  solr/src/test/scala/akka/stream/alpakka/solr/SolrSpec.scala
  solr/src/test/scala/docs/scaladsl/SolrSpec.scala
Labels: api-change, p:solr

#1496 JMS: Adapt to JMS 2.0 API change in tests
  docker-compose.yml
  jms/src/test/java/docs/javadsl/JmsIbmmqConnectorsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/CachedConnectionFactory.scala
Labels: p:jms

#1489 mqtt-streaming: Prefer wrapping instead of reissuing packet ids
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestStateSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1495 jms-testkit 0.2.1
  project/Dependencies.scala
Labels: p:jms

#1488 Kinesis: towards 1.0
  docs/src/main/paradox/kinesis.md
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisErrors.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisFlowSettings.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisFlowStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisSourceStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/ShardSettings.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/KinesisFlowStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/KinesisSourceStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/javadsl/KinesisFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/javadsl/KinesisSink.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/javadsl/KinesisSource.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisSink.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisSource.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseFlowSettings.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/impl/KinesisFirehoseFlowStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/javadsl/KinesisFirehoseFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/javadsl/KinesisFirehoseSink.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/scaladsl/KinesisFirehoseFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/scaladsl/KinesisFirehoseSink.scala
  kinesis/src/test/java/akka/stream/alpakka/kinesis/javadsl/KinesisTest.java
  kinesis/src/test/java/docs/javadsl/KinesisFirehoseSnippets.java
  kinesis/src/test/java/docs/javadsl/KinesisSnippets.java
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisFlowSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisMock.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisSourceSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/ShardSettingsSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseFlowSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseMock.scala
  kinesis/src/test/scala/docs/scaladsl/KinesisFirehoseSnippets.scala
  kinesis/src/test/scala/docs/scaladsl/KinesisSnippets.scala
Labels: p:kinesis

#1510 Elasticsearch: Add CreteCreateMessage which supports Elasticsearch op_type 'create'
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/WriteMessage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchFlowStage.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
Labels: p:elasticsearch

#1450 SQS: Migrate to AWS SDK 2.0
  project/Dependencies.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsBatchException.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsModel.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/SqsAckFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/SqsBatchChangeMessageVisibilityFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/SqsBatchDeleteFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/SqsBatchFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/SqsBatchStageLogic.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/SqsFlowStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/SqsSourceStage.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsAckFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsAckSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsSource.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsAckFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsAckSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsPublishFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsPublishSink.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsSource.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/testkit/MessageFactory.scala
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/BaseSqsTest.java
  sqs/src/test/java/docs/javadsl/SqsAckTest.java
  sqs/src/test/java/docs/javadsl/SqsPublishTest.java
  sqs/src/test/java/docs/javadsl/SqsSourceTest.java
  sqs/src/test/scala/akka/stream/alpakka/sqs/SqsModelSpec.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/SqsPublishSinkSpec.scala
  sqs/src/test/scala/docs/scaladsl/SqsAckSpec.scala
  sqs/src/test/scala/docs/scaladsl/SqsPublishSpec.scala
  sqs/src/test/scala/docs/scaladsl/SqsSourceSpec.scala
Labels: p:aws-sqs

#1507 HDFS: Cats 1.6.0 and logging sorted out
  hdfs/src/test/resources/logback-test.xml
  project/Dependencies.scala
Labels: dependency-change, p:hdfs

#1503 AwsLambda, Azure Storage, Cassandra, Couchbase, Csv, DynamoDb, Elasticsearch, File, Ftp: assert all stages stopped
  awslambda/src/test/java/docs/javadsl/AwsLambdaFlowTest.java
  awslambda/src/test/scala/docs/scaladsl/AwsLambdaFlowSpec.scala
  azure-storage-queue/src/test/java/docs/javadsl/JavaDslTest.java
  azure-storage-queue/src/test/scala/docs/scaladsl/AzureQueueSpec.scala
  cassandra/src/test/java/docs/javadsl/CassandraSourceTest.java
  cassandra/src/test/scala/docs/scaladsl/CassandraSourceSpec.scala
  couchbase/src/test/java/docs/javadsl/CouchbaseExamplesTest.java
  csv/src/test/java/docs/javadsl/CsvFormattingTest.java
  csv/src/test/java/docs/javadsl/CsvParsingTest.java
  csv/src/test/java/docs/javadsl/CsvToMapTest.java
  csv/src/test/scala/docs/scaladsl/CsvFormattingSpec.scala
  csv/src/test/scala/docs/scaladsl/CsvParsingSpec.scala
  csv/src/test/scala/docs/scaladsl/CsvToMapSpec.scala
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/ItemSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/TableSpec.scala
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchTest.java
  elasticsearch/src/test/resources/log4j2-test.xml
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
  file/src/test/java/docs/javadsl/DirectoryChangesSourceTest.java
  file/src/test/java/docs/javadsl/DirectoryTest.java
  file/src/test/java/docs/javadsl/FileTailSourceTest.java
  file/src/test/java/docs/javadsl/LogRotatorSinkTest.java
  file/src/test/scala/docs/scaladsl/DirectorySpec.scala
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
  ftp/src/test/java/docs/javadsl/FtpWritingTest.java
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
  ftp/src/test/scala/docs/scaladsl/FtpExamplesSpec.scala
  project/Dependencies.scala
Labels: p:aws-lambda, p:azure-storage-queue, p:cassandra, p:couchbase, p:csv, p:dynamodb, p:elasticsearch, p:file, p:ftp

#1508 Test dependencies: Play JSON 2.7.1, Specs2 4.4.1
  project/Dependencies.scala
Labels: p:avroparquet, p:couchbase

#1501 Amqp: assert all stages stopped and fix source shutdown
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectionProvider.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectorSettings.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSourceStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpRpcFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpSink.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpSource.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/CommittableIncomingMessage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/model.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpRpcFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpSink.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpSource.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/CommittableIncomingMessage.scala
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectorsTest.java
  amqp/src/test/java/docs/javadsl/AmqpDocsTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectorsSpec.scala
  amqp/src/test/scala/docs/scaladsl/AmqpDocsSpec.scala
  docs/src/main/paradox/amqp.md
Labels: p:amqp

#1517 Do not automatically create 'current' doc symlinks
  build.sbt
  project/SymlinkPlugin.scala
Labels: alpakka-itself

#1515 Elasticsearch: Make flows type signature simpler to prepare for `withContext`
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/WriteMessage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSink.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSink.scala
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchTest.java
  elasticsearch/src/test/resources/application.conf
  elasticsearch/src/test/resources/log4j2-test.xml
  elasticsearch/src/test/resources/logback-test.xml
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
Labels: api-change, p:elasticsearch

#1518 Always use latest JDK
  .travis.yml
Labels: alpakka-itself

#1498 Use IODispatcher attribute
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpReplyToSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpRpcFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSinkStage.scala
  geode/src/main/scala/akka/stream/alpakka/geode/impl/stage/GeodeContinuousSourceStage.scala
  geode/src/main/scala/akka/stream/alpakka/geode/impl/stage/GeodeFiniteSourceStage.scala
  geode/src/main/scala/akka/stream/alpakka/geode/impl/stage/GeodeFlowStage.scala
  hbase/src/main/scala/akka/stream/alpakka/hbase/impl/HBaseFlowStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsBrowseStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsProducerStage.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/DiskBuffer.scala
Labels: p:amqp, p:aws-s3, p:geode, p:hbase, p:jms

#1521 Update to the latest Alpakka Kafka
  project/Dependencies.scala
Labels: alpakka-itself

#1523 Elasticsearch: introduce `withContext` flow
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSink.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSource.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSink.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSource.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
Labels: p:elasticsearch

#1506 Akka 2.5.21 and type inference changes
  csv/src/main/java/akka/stream/alpakka/csv/javadsl/CsvParsing.java
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
  project/Dependencies.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishFlow.scala
  sse/src/main/scala/akka/stream/alpakka/sse/javadsl/EventSource.scala
Labels: alpakka-itself, dependency-change

#1497 Make logrotation sftp runnable
  doc-examples/src/main/resources/hostkey.pem
  doc-examples/src/main/resources/id_rsa
  doc-examples/src/main/resources/id_rsa.pub
  doc-examples/src/main/scala/ftpsamples/RotateLogsToFtp.scala
  doc-examples/src/main/scala/playground/SftpServerEmbedded.scala
  docs/src/main/paradox/examples/ftp-samples.md
  project/Dependencies.scala
Labels: p:file, p:ftp

#1527 Update to the latest jwt-core
  project/Dependencies.scala
Labels: dependency-change, p:google-cloud-pub-sub, p:google-fcm

#1528 Convert server private key to RSA
  ftp/src/main/scala/akka/stream/alpakka/ftp/model.scala
  ftp/src/test/resources/server.jks
Labels: p:ftp

#1529 Update to the latest scalatest
  azure-storage-queue/src/test/java/docs/javadsl/JavaDslTest.java
  doc-examples/src/main/scala/playground/SftpServerEmbedded.scala
  file/src/test/java/docs/javadsl/DirectoryTest.java
  project/Dependencies.scala
Labels: dependency-change

#1524 Amqp: renaming of stream element classes
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectorSettings.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpReplyToSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpRpcFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSourceStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpRpcFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpSink.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpSource.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/CommittableIncomingMessage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/CommittableReadResult.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/package.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/model.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpRpcFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpSink.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpSource.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/CommittableReadResult.scala
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectorsTest.java
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/package.scala
  amqp/src/test/java/docs/javadsl/AmqpDocsTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectorsSpec.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpGraphStageLogicConnectionShutdownSpec.scala
  amqp/src/test/scala/docs/scaladsl/AmqpDocsSpec.scala
  docs/src/main/paradox/amqp.md
Labels: api-change, p:amqp
