Repository akka/alpakka, pull requests merged in 2019-11, with the labels that each got.

#1996 Slick: factory method SlickSession.forDbAndProfile
  docs/src/main/paradox/slick.md
  slick/src/main/mima-filters/1.1.x.backwards.excludes
  slick/src/main/scala/akka/stream/alpakka/slick/javadsl/package.scala
  slick/src/main/scala/akka/stream/alpakka/slick/scaladsl/package.scala
  slick/src/test/scala/docs/scaladsl/SlickSpec.scala
Labels: documentation, p:slick, to-be-backported

#1995 Google Cloud Pub-Sub: Scala 2.13 is not supported in 1.1.x
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-pub-sub.md
Labels: documentation, p:google-cloud-pub-sub, to-be-backported

#1999 Solr: deprecate old write message factories
  solr/src/main/scala/akka/stream/alpakka/solr/SolrMessages.scala
Labels: p:solr

#2002 Release notes for 2.0.0-M1
  docs/src/main/paradox/overview.md
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/release-notes/2.0.x/amqp.md
  docs/src/main/paradox/release-notes/2.0.x/avroparquet.md
  docs/src/main/paradox/release-notes/2.0.x/awslambda.md
  docs/src/main/paradox/release-notes/2.0.x/azure-storage-queue.md
  docs/src/main/paradox/release-notes/2.0.x/cassandra.md
  docs/src/main/paradox/release-notes/2.0.x/couchbase.md
  docs/src/main/paradox/release-notes/2.0.x/csv.md
  docs/src/main/paradox/release-notes/2.0.x/dynamodb.md
  docs/src/main/paradox/release-notes/2.0.x/elasticsearch.md
  docs/src/main/paradox/release-notes/2.0.x/file.md
  docs/src/main/paradox/release-notes/2.0.x/ftp.md
  docs/src/main/paradox/release-notes/2.0.x/geode.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/2.0.x/google-fcm.md
  docs/src/main/paradox/release-notes/2.0.x/hbase.md
  docs/src/main/paradox/release-notes/2.0.x/hdfs.md
  docs/src/main/paradox/release-notes/2.0.x/influxdb.md
  docs/src/main/paradox/release-notes/2.0.x/ironmq.md
  docs/src/main/paradox/release-notes/2.0.x/jms.md
  docs/src/main/paradox/release-notes/2.0.x/json-streaming.md
  docs/src/main/paradox/release-notes/2.0.x/kafka.md
  docs/src/main/paradox/release-notes/2.0.x/kinesis.md
  docs/src/main/paradox/release-notes/2.0.x/kudu.md
  docs/src/main/paradox/release-notes/2.0.x/mongodb.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt.md
  docs/src/main/paradox/release-notes/2.0.x/orientdb.md
  docs/src/main/paradox/release-notes/2.0.x/s3.md
  docs/src/main/paradox/release-notes/2.0.x/simple-codecs.md
  docs/src/main/paradox/release-notes/2.0.x/slick.md
  docs/src/main/paradox/release-notes/2.0.x/sns.md
  docs/src/main/paradox/release-notes/2.0.x/solr.md
  docs/src/main/paradox/release-notes/2.0.x/spring-web.md
  docs/src/main/paradox/release-notes/2.0.x/sqs.md
  docs/src/main/paradox/release-notes/2.0.x/sse.md
  docs/src/main/paradox/release-notes/2.0.x/udp.md
  docs/src/main/paradox/release-notes/2.0.x/unix-domain-socket.md
  docs/src/main/paradox/release-notes/2.0.x/xml.md
  docs/src/main/paradox/release-notes/index.md
Labels: documentation

#2001 AWS S3: discard entity on failed sign request
  project/Dependencies.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
  s3/src/test/java/docs/javadsl/S3Test.java
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
Labels: dependency-change, p:aws-s3, to-be-backported

#2000 Upgrade plugins and common dependencies
  .travis.yml
  file/src/test/java/docs/javadsl/FileTailSourceTest.java
  file/src/test/scala/docs/scaladsl/FileTailSourceExtrasSpec.scala
  project/Dependencies.scala
  project/plugins.sbt
  project/project-info.conf
Labels: dependency-change, p:file

#2008 Elasticsearch: Add charset
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSourceStage.scala
Labels: p:elasticsearch

#2013 Small docs fixes
  build.sbt-2
  docs/src/main/paradox/file.md
  docs/src/main/paradox/google-fcm.md
  docs/src/main/paradox/jms/consumer.md
  docs/src/main/paradox/kudu.md
  docs/src/main/paradox/mongodb.md
  docs/src/main/paradox/release-notes/2.0.x/amqp.md
  docs/src/main/paradox/release-notes/2.0.x/avroparquet.md
  docs/src/main/paradox/release-notes/2.0.x/awslambda.md
  docs/src/main/paradox/release-notes/2.0.x/azure-storage-queue.md
  docs/src/main/paradox/release-notes/2.0.x/cassandra.md
  docs/src/main/paradox/release-notes/2.0.x/couchbase.md
  docs/src/main/paradox/release-notes/2.0.x/csv.md
  docs/src/main/paradox/release-notes/2.0.x/dynamodb.md
  docs/src/main/paradox/release-notes/2.0.x/elasticsearch.md
  docs/src/main/paradox/release-notes/2.0.x/file.md
  docs/src/main/paradox/release-notes/2.0.x/ftp.md
  docs/src/main/paradox/release-notes/2.0.x/geode.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/2.0.x/google-fcm.md
  docs/src/main/paradox/release-notes/2.0.x/hbase.md
  docs/src/main/paradox/release-notes/2.0.x/hdfs.md
  docs/src/main/paradox/release-notes/2.0.x/influxdb.md
  docs/src/main/paradox/release-notes/2.0.x/ironmq.md
  docs/src/main/paradox/release-notes/2.0.x/jms.md
  docs/src/main/paradox/release-notes/2.0.x/json-streaming.md
  docs/src/main/paradox/release-notes/2.0.x/kinesis.md
  docs/src/main/paradox/release-notes/2.0.x/kudu.md
  docs/src/main/paradox/release-notes/2.0.x/mongodb.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt.md
  docs/src/main/paradox/release-notes/2.0.x/orientdb.md
  docs/src/main/paradox/release-notes/2.0.x/s3.md
  docs/src/main/paradox/release-notes/2.0.x/simple-codecs.md
  docs/src/main/paradox/release-notes/2.0.x/slick.md
  docs/src/main/paradox/release-notes/2.0.x/sns.md
  docs/src/main/paradox/release-notes/2.0.x/solr.md
  docs/src/main/paradox/release-notes/2.0.x/spring-web.md
  docs/src/main/paradox/release-notes/2.0.x/sqs.md
  docs/src/main/paradox/release-notes/2.0.x/sse.md
  docs/src/main/paradox/release-notes/2.0.x/udp.md
  docs/src/main/paradox/release-notes/2.0.x/unix-domain-socket.md
  docs/src/main/paradox/release-notes/2.0.x/xml.md
  docs/src/main/paradox/sns.md
  docs/src/main/paradox/solr.md
  docs/src/main/paradox/sqs.md
Labels: documentation

#2015 Docs: more MiMa docs
  CONTRIBUTING.md
  contributor-advice.md
Labels: alpakka-itself

#2016 Scalafmt: don't remove redundant braces
  .scalafmt.conf
  csv/src/test/scala/akka/stream/alpakka/csv/CsvParserSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsAckConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsBufferedAckConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsTxConnectorsSpec.scala
  project/plugins.sbt
Labels: alpakka-itself

#2019 File: mkdir flow
  docs/src/main/paradox/file.md
  file/src/main/java/akka/stream/alpakka/file/javadsl/Directory.java
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/Directory.scala
  file/src/test/java/docs/javadsl/DirectoryTest.java
  file/src/test/scala/docs/scaladsl/DirectorySpec.scala
Labels: documentation, p:file

#2012 Unix domain socket: API changes
  unix-domain-socket/src/main/mima-filters/2.0.0-M1.backwards.excludes/PR2012-unix-domain-socket-api-changes.excludes
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/UnixSocketAddress.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/impl/UnixDomainSocketImpl.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/javadsl/UnixDomainSocket.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
  unix-domain-socket/src/test/java/docs/javadsl/UnixDomainSocketTest.java
  unix-domain-socket/src/test/scala/docs/scaladsl/UnixDomainSocketSpec.scala
Labels: p:unix-domain-socket

#1921 AMQP: flow stages
  amqp/src/main/mima-filters/2.0.0-M1.backwards.excludes
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectorSettings.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AbstractAmqpAsyncFlowStageLogic.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AbstractAmqpFlowStageLogic.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpAsyncFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpAsyncUnorderedFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpReplyToSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpRpcFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSimpleFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSinkStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpFlowWithContext.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/javadsl/AmqpSink.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/model.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpFlow.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpFlowWithContext.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/scaladsl/AmqpSink.scala
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectorsTest.java
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpFlowTest.java
  amqp/src/test/java/docs/javadsl/AmqpDocsTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpFlowSpec.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpMocking.scala
  amqp/src/test/scala/docs/scaladsl/AmqpDocsSpec.scala
  docs/src/main/paradox/amqp.md
  project/Dependencies.scala
Labels: documentation, p:amqp

#2026 Google Cloud Storage: Add exponential backoff on server errors
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
  google-cloud-storage/src/test/java/docs/javadsl/GCStorageTest.java
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/scaladsl/GCStorageWiremockBase.scala
  google-cloud-storage/src/test/scala/docs/scaladsl/GCStorageSourceSpec.scala
Labels: p:google-cloud-storage

#2035 fix GOOGLE_APPLICATION_CREDENTIALS typo
  docs/src/main/paradox/google-cloud-pub-sub-grpc.md
Labels: documentation, p:google-cloud-pub-sub-grpc

#2023 AWS S3 added listObjects endpoint including common prefixes for a delimiter
  docs/src/main/paradox/s3.md
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/Marshalling.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
  s3/src/main/scala/akka/stream/alpakka/s3/model.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3.scala
  s3/src/test/java/docs/javadsl/S3Test.java
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MarshallingSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
  s3/src/test/scala/docs/scaladsl/S3SourceSpec.scala
Labels: documentation, p:aws-s3

#2029 AWS Kinesis: Use AWS SDK v2
  docs/src/main/paradox/kinesis.md
  kinesis/src/main/mima-filters/2.0.0-M1.backwards.excludes
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisErrors.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisFlowSettings.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/ShardSettings.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/KinesisFlowStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/KinesisSourceStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/javadsl/KinesisFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/javadsl/KinesisSink.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/javadsl/KinesisSource.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisSink.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisSource.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseErrors.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseFlowSettings.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/impl/KinesisFirehoseFlowStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/javadsl/KinesisFirehoseFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/javadsl/KinesisFirehoseSink.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/scaladsl/KinesisFirehoseFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesisfirehose/scaladsl/KinesisFirehoseSink.scala
  kinesis/src/test/java/akka/stream/alpakka/kinesis/javadsl/KinesisTest.java
  kinesis/src/test/java/docs/javadsl/KinesisFirehoseSnippets.java
  kinesis/src/test/java/docs/javadsl/KinesisSnippets.java
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisFlowSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisMock.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisSourceSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/ShardSettingsSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseFlowSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseMock.scala
  kinesis/src/test/scala/docs/scaladsl/KinesisFirehoseSnippets.scala
  kinesis/src/test/scala/docs/scaladsl/KinesisSnippets.scala
  project/Dependencies.scala
Labels: dependency-change, documentation, p:kinesis

#1983 Google-cloud-pub-sub: dedicated connection pool; `withContext`
  google-cloud-pub-sub/src/main/mima-filters/2.0.0-M1.backwards.excludes/pr-1983-use-dedicated-connection-pool.excludes
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GooglePubSubSource.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApi.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/javadsl/GooglePubSub.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/model.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/scaladsl/GooglePubSub.scala
  google-cloud-pub-sub/src/test/java/docs/javadsl/ExampleUsageJava.java
  google-cloud-pub-sub/src/test/resources/application.conf
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApiSpec.scala
  google-cloud-pub-sub/src/test/scala/docs/scaladsl/ExampleUsage.scala
Labels: api-change, p:google-cloud-pub-sub

#2032 SQS: allow sub-types in the Java API; improve tests
  sqs/src/main/mima-filters/2.0.0-M1.backwards.excludes/PR2032.excludes
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishSink.scala
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/BaseSqsTest.java
  sqs/src/test/java/docs/javadsl/SqsAckTest.java
  sqs/src/test/java/docs/javadsl/SqsPublishTest.java
  sqs/src/test/java/docs/javadsl/SqsSourceTest.java
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
Labels: p:aws-sqs
