Repository akka/alpakka, pull requests merged in 2019-10, with the labels that each got.

#1947 AWS S3: Custom header injection
  s3/src/main/scala/akka/stream/alpakka/s3/S3Headers.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Request.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3.scala
Labels: p:aws-s3

#1952 Reference: add Stage to the names
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceFlowStage.scala
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceSourceStage.scala
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceWithResourceFlowStage.scala
  reference/src/main/scala/akka/stream/alpakka/reference/scaladsl/Reference.scala
Labels: p:reference

#1937 Docs: add some blogs and presentations
  docs/src/main/paradox/other-docs/webinars-presentations-articles.md
Labels: documentation

#1939 Scala 2.12.10; Akka 2.6-M8; Akka HTTP 10.1.10
  .travis.yml
  project/Dependencies.scala
Labels: alpakka-itself, dependency-change

#1968 [Backport #1937] Docs: add some blogs and presentations
  docs/src/main/paradox/other-docs/webinars-presentations-articles.md
Labels: documentation

#1967 [Backport #1952] Reference: add Stage to the names
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceFlowStage.scala
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceSourceStage.scala
  reference/src/main/scala/akka/stream/alpakka/reference/impl/ReferenceWithResourceFlowStage.scala
  reference/src/main/scala/akka/stream/alpakka/reference/scaladsl/Reference.scala
Labels: p:reference

#1965 [Backport #1940] InfluxDB docs: fix artifact name for sbt, Mave…
  docs/src/main/paradox/influxdb.md
Labels: documentation

#1960 [Backport #1889] File: Expect correct exception in 2.6
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
Labels: p:file

#1969 [Backport #1939] Scala 2.12.10; Akka 2.6-M8; Akka HTTP 10.1.10
  .travis.yml
  project/Dependencies.scala
Labels: dependency-change

#1971 Alpaka 1.1.x: Revert to Scala 2.12.7 (for FTP)
  project/Dependencies.scala
Labels: dependency-change, p:ftp

#1963 [Backport #1923] AWS S3: make raw request URI contains path and query
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/test/resources/logback-test.xml
  s3/src/test/scala/akka/stream/alpakka/s3/impl/DiskBufferSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MarshallingSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MemoryBufferSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/S3StreamSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/SplitAfterSizeSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/auth/SignerSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/auth/StreamUtilsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3ClientIntegrationSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
Labels: p:aws-s3

#1961 [Backport #1853] MQTT streaming: Automatically unregister packe…
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/MqttSessionSettings.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/BehaviorRunner.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/QueueOfferState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/QueueOfferStateSpec.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestStateSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1975 [Backport] Added couchbase bucket replace implementation + tests
  couchbase/src/main/mima-filters/1.1.1.backwards.excludes
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/impl/CouchbaseSessionImpl.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/impl/CouchbaseSessionJavaAdapter.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseFlow.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseSession.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseSink.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseFlow.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseSession.scala
  couchbase/src/test/java/docs/javadsl/CouchbaseExamplesTest.java
  couchbase/src/test/scala/akka/stream/alpakka/couchbase/testing/CouchbaseSupport.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseFlowSpec.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseSourceSpec.scala
  docs/src/main/paradox/couchbase.md
Labels: documentation, p:couchbase

#1976 [Backport] Update to Lightbend Community Code of Conduct
  CODE_OF_CONDUCT.md
  docs/src/main/paradox/overview.md
Labels: documentation

#1977 [Backport] JMS: Java API for JmsMessages withProperties
  jms/src/main/scala/akka/stream/alpakka/jms/JmsMessages.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsAckConnectorsTest.java
Labels: p:jms

#1978 Release notes for 1.1.2
  docs/src/main/paradox/release-notes/1.1.x.md
  docs/src/main/paradox/release-notes/1.1.x/amqp.md
  docs/src/main/paradox/release-notes/1.1.x/avroparquet.md
  docs/src/main/paradox/release-notes/1.1.x/awslambda.md
  docs/src/main/paradox/release-notes/1.1.x/azure-storage-queue.md
  docs/src/main/paradox/release-notes/1.1.x/cassandra.md
  docs/src/main/paradox/release-notes/1.1.x/couchbase.md
  docs/src/main/paradox/release-notes/1.1.x/csv.md
  docs/src/main/paradox/release-notes/1.1.x/dynamodb.md
  docs/src/main/paradox/release-notes/1.1.x/elasticsearch.md
  docs/src/main/paradox/release-notes/1.1.x/file.md
  docs/src/main/paradox/release-notes/1.1.x/ftp.md
  docs/src/main/paradox/release-notes/1.1.x/geode.md
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/1.1.x/google-fcm.md
  docs/src/main/paradox/release-notes/1.1.x/hbase.md
  docs/src/main/paradox/release-notes/1.1.x/hdfs.md
  docs/src/main/paradox/release-notes/1.1.x/influxdb.md
  docs/src/main/paradox/release-notes/1.1.x/ironmq.md
  docs/src/main/paradox/release-notes/1.1.x/jms.md
  docs/src/main/paradox/release-notes/1.1.x/json-streaming.md
  docs/src/main/paradox/release-notes/1.1.x/kinesis.md
  docs/src/main/paradox/release-notes/1.1.x/kudu.md
  docs/src/main/paradox/release-notes/1.1.x/mongodb.md
  docs/src/main/paradox/release-notes/1.1.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/1.1.x/mqtt.md
  docs/src/main/paradox/release-notes/1.1.x/orientdb.md
  docs/src/main/paradox/release-notes/1.1.x/s3.md
  docs/src/main/paradox/release-notes/1.1.x/simple-codecs.md
  docs/src/main/paradox/release-notes/1.1.x/slick.md
  docs/src/main/paradox/release-notes/1.1.x/sns.md
  docs/src/main/paradox/release-notes/1.1.x/solr.md
  docs/src/main/paradox/release-notes/1.1.x/spring-web.md
  docs/src/main/paradox/release-notes/1.1.x/sqs.md
  docs/src/main/paradox/release-notes/1.1.x/sse.md
  docs/src/main/paradox/release-notes/1.1.x/udp.md
  docs/src/main/paradox/release-notes/1.1.x/unix-domain-socket.md
  docs/src/main/paradox/release-notes/1.1.x/xml.md
  project/plugins.sbt
Labels: documentation

#1980 Jackson Databind 2.9.10
  project/Dependencies.scala
Labels: dependency-change, p:aws-lambda, p:aws-sns, p:aws-sqs, p:elasticsearch, p:geode, p:json-streaming

#1953 FileTailSource examples when file deleted or idle
  docs/src/main/paradox/file.md
  file/src/main/java/akka/stream/alpakka/file/javadsl/FileTailSource.java
  file/src/test/java/docs/javadsl/FileTailSourceTest.java
  file/src/test/resources/application.conf
  file/src/test/scala/docs/scaladsl/FileTailSourceExtrasSpec.scala
Labels: documentation, p:file

#1979 S3 allow max chunk size to be as large as the chunk buffer size
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
Labels: p:aws-s3

#1982 XML: add support for supplying XMLInputFactory configuration
  xml/src/main/mima-filters/1.1.2.backwards.excludes
  xml/src/main/scala/akka/stream/alpakka/xml/impl/StreamingXmlParser.scala
  xml/src/main/scala/akka/stream/alpakka/xml/javadsl/XmlParsing.scala
  xml/src/main/scala/akka/stream/alpakka/xml/scaladsl/XmlParsing.scala
  xml/src/test/java/docs/javadsl/XmlParsingTest.java
  xml/src/test/scala/docs/scaladsl/XmlProcessingSpec.scala
Labels: p:xml

#1935 Cassandra: check `isFullyFetched` before completion
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/impl/CassandraSourceStage.scala
Labels: p:cassandra

#1986 DynamoDB: document retry configuration
  docs/src/main/paradox/dynamodb.md
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/javadsl/RetryFlow.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/scaladsl/RetryFlow.scala
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/java/docs/javadsl/RetryTest.java
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/ItemSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/TableSpec.scala
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
  dynamodb/src/test/scala/docs/scaladsl/RetrySpec.scala
Labels: documentation, p:dynamodb

#1985 DynamoDB: flow with pagination
  docs/src/main/paradox/dynamodb.md
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/DynamoDbOp.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDb.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoDb.scala
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
Labels: documentation, p:dynamodb

#1957 IronMq: akka-http-circe 1.21 to 1.29.1
  build.sbt
  ironmq/src/main/scala/akka/stream/alpakka/ironmq/impl/Codec.scala
  ironmq/src/main/scala/akka/stream/alpakka/ironmq/impl/IronMqClient.scala
  project/Dependencies.scala
Labels: dependency-change, p:ironmq

#1981 Release notes for 1.1.2
  docs/src/main/paradox/release-notes/1.1.x.md
  docs/src/main/paradox/release-notes/1.1.x/amqp.md
  docs/src/main/paradox/release-notes/1.1.x/avroparquet.md
  docs/src/main/paradox/release-notes/1.1.x/awslambda.md
  docs/src/main/paradox/release-notes/1.1.x/azure-storage-queue.md
  docs/src/main/paradox/release-notes/1.1.x/cassandra.md
  docs/src/main/paradox/release-notes/1.1.x/couchbase.md
  docs/src/main/paradox/release-notes/1.1.x/csv.md
  docs/src/main/paradox/release-notes/1.1.x/dynamodb.md
  docs/src/main/paradox/release-notes/1.1.x/elasticsearch.md
  docs/src/main/paradox/release-notes/1.1.x/file.md
  docs/src/main/paradox/release-notes/1.1.x/ftp.md
  docs/src/main/paradox/release-notes/1.1.x/geode.md
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/1.1.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/1.1.x/google-fcm.md
  docs/src/main/paradox/release-notes/1.1.x/hbase.md
  docs/src/main/paradox/release-notes/1.1.x/hdfs.md
  docs/src/main/paradox/release-notes/1.1.x/influxdb.md
  docs/src/main/paradox/release-notes/1.1.x/ironmq.md
  docs/src/main/paradox/release-notes/1.1.x/jms.md
  docs/src/main/paradox/release-notes/1.1.x/json-streaming.md
  docs/src/main/paradox/release-notes/1.1.x/kinesis.md
  docs/src/main/paradox/release-notes/1.1.x/kudu.md
  docs/src/main/paradox/release-notes/1.1.x/mongodb.md
  docs/src/main/paradox/release-notes/1.1.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/1.1.x/mqtt.md
  docs/src/main/paradox/release-notes/1.1.x/orientdb.md
  docs/src/main/paradox/release-notes/1.1.x/s3.md
  docs/src/main/paradox/release-notes/1.1.x/simple-codecs.md
  docs/src/main/paradox/release-notes/1.1.x/slick.md
  docs/src/main/paradox/release-notes/1.1.x/sns.md
  docs/src/main/paradox/release-notes/1.1.x/solr.md
  docs/src/main/paradox/release-notes/1.1.x/spring-web.md
  docs/src/main/paradox/release-notes/1.1.x/sqs.md
  docs/src/main/paradox/release-notes/1.1.x/sse.md
  docs/src/main/paradox/release-notes/1.1.x/udp.md
  docs/src/main/paradox/release-notes/1.1.x/unix-domain-socket.md
  docs/src/main/paradox/release-notes/1.1.x/xml.md
  project/plugins.sbt
Labels: documentation

#1988 Akka 2.6/2.5 cross-compilation
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDb.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/javadsl/FtpApi.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
  project/Dependencies.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/BalancingMapAsync.scala
Labels: dependency-change, p:aws-sqs, p:dynamodb, p:ftp, p:mqtt-streaming, to-be-backported

#1991 Google Cloud Pub/Sub gRPC: Akka Discovery
  docs/src/main/paradox/google-cloud-pub-sub-grpc.md
  dynamodb/src/test/java/docs/javadsl/RetryTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpWithProxyStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpsWithProxyStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/SftpWithProxyStageTest.java
  project/Dependencies.scala
Labels: dependency-change, documentation, p:dynamodb, p:ftp, p:google-cloud-pub-sub-grpc
