Repository akka/alpakka, pull requests merged in 2019-12, with the labels that each got.

#2036 Akka paradox theme 0.27 and sbt fixes
  .jvmopts-travis
  .travis.yml
  docs/src/main/paradox/slick.md
  project/Dependencies.scala
  project/plugins.sbt
Labels: alpakka-itself, documentation

#2038 AWS connectors: align client setup docs
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpFlowTest.java
  awslambda/src/test/java/docs/javadsl/Examples.java
  awslambda/src/test/scala/docs/scaladsl/Examples.scala
  build.sbt
  docs/src/main/paradox/aws-shared-configuration.md
  docs/src/main/paradox/awslambda.md
  docs/src/main/paradox/dynamodb.md
  docs/src/main/paradox/kinesis.md
  docs/src/main/paradox/sns.md
  docs/src/main/paradox/sqs.md
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/java/docs/javadsl/RetryTest.java
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
  dynamodb/src/test/scala/docs/scaladsl/RetrySpec.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsMessageProducer.scala
  kinesis/src/test/java/docs/javadsl/KinesisFirehoseSnippets.java
  kinesis/src/test/java/docs/javadsl/KinesisSnippets.java
  kinesis/src/test/scala/docs/scaladsl/KinesisFirehoseSnippets.scala
  kinesis/src/test/scala/docs/scaladsl/KinesisSnippets.scala
  project/Dependencies.scala
  sns/src/test/java/docs/javadsl/SnsPublisherTest.java
  sns/src/test/scala/akka/stream/alpakka/sns/IntegrationTestContext.scala
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/BaseSqsTest.java
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
  sqs/src/test/scala/docs/scaladsl/SqsSourceSpec.scala
Labels: dependency-change, documentation, p:amqp, p:aws-lambda, p:aws-s3, p:aws-sns, p:aws-sqs, p:dynamodb, p:jms, p:kinesis

#2006 AWS SDK 2.10.34
  project/Dependencies.scala
Labels: dependency-change, p:aws-lambda, p:aws-s3, p:aws-sns, p:aws-sqs, p:dynamodb, p:kinesis

#2045 Doc examples moved to Alpakka Samples
  build.sbt
  doc-examples/src/main/java/ftpsamples/FtpToFileExample.java
  doc-examples/src/main/java/ftpsamples/RotateLogsToFtpExample.java
  doc-examples/src/main/java/mqtt/javasamples/MqttGroupedWithin.java
  doc-examples/src/main/resources/application.conf
  doc-examples/src/main/resources/ftpusers.properties
  doc-examples/src/main/resources/hostkey.pem
  doc-examples/src/main/resources/id_rsa
  doc-examples/src/main/resources/id_rsa.pub
  doc-examples/src/main/resources/logback.xml
  doc-examples/src/main/scala/ftpsamples/FtpToFile.scala
  doc-examples/src/main/scala/ftpsamples/RotateLogsToFtp.scala
  doc-examples/src/main/scala/playground/ActorSystemAvailable.scala
  doc-examples/src/main/scala/playground/FtpServerEmbedded.scala
  doc-examples/src/main/scala/playground/SftpServerEmbedded.scala
  doc-examples/src/main/scala/playground/filesystem/FileSystemMock.java
  doc-examples/src/main/scala/playground/filesystem/JimfsFactory.java
  doc-examples/src/main/scala/playground/filesystem/impl/JimfsFtpFile.java
  doc-examples/src/main/scala/playground/filesystem/impl/JimfsView.java
  doc-examples/src/main/scala/playground/filesystem/impl/NameEqualsPathFilter.java
  docs/src/main/paradox/examples/ftp-samples.md
  docs/src/main/paradox/examples/index.md
  docs/src/main/paradox/examples/mqtt-samples.md
  project/Dependencies.scala
Labels: documentation

#2046 AWS SQS: assert stage stopping
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/SqsPublishSinkSpec.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/SqsSourceMockSpec.scala
  sqs/src/test/scala/docs/scaladsl/SqsAckSpec.scala
  sqs/src/test/scala/docs/scaladsl/SqsPublishSpec.scala
  sqs/src/test/scala/docs/scaladsl/SqsSourceSpec.scala
Labels: p:aws-sqs

#2047 Google Cloud Pub/Sub: remove ActorSystem and Materializer
  google-cloud-pub-sub/src/main/mima-filters/2.0.0-M1.backwards.excludes/issue-2017-remove-implicits.excludes
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/javadsl/GooglePubSub.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/scaladsl/GooglePubSub.scala
  google-cloud-pub-sub/src/test/java/docs/javadsl/ExampleUsageJava.java
Labels: p:google-cloud-pub-sub

#2048 JMS: close sessions in postStop
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsProducerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/Sessions.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/SourceStageLogic.scala
  jms/src/test/scala/akka/stream/alpakka/jms/JmsSharedServerSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsBufferedAckConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsTxConnectorsSpec.scala
Labels: p:jms

#2049 Google Cloud Storage: remove local Setup implementation
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/SetupStage.scala
Labels: p:google-cloud-storage

#2051 2.0.0-M1 Release Notes
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/release-notes/2.0.x/amqp.md
  docs/src/main/paradox/release-notes/2.0.x/avroparquet.md
  docs/src/main/paradox/release-notes/2.0.x/awslambda.md
  docs/src/main/paradox/release-notes/2.0.x/azure-storage-queue.md
  docs/src/main/paradox/release-notes/2.0.x/cassandra.md
  docs/src/main/paradox/release-notes/2.0.x/couchbase.md
  docs/src/main/paradox/release-notes/2.0.x/csv.md
  docs/src/main/paradox/release-notes/2.0.x/dynamodb.md
  docs/src/main/paradox/release-notes/2.0.x/elasticsearch.md
  docs/src/main/paradox/release-notes/2.0.x/file.md
  docs/src/main/paradox/release-notes/2.0.x/ftp.md
  docs/src/main/paradox/release-notes/2.0.x/geode.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/2.0.x/google-fcm.md
  docs/src/main/paradox/release-notes/2.0.x/hbase.md
  docs/src/main/paradox/release-notes/2.0.x/hdfs.md
  docs/src/main/paradox/release-notes/2.0.x/influxdb.md
  docs/src/main/paradox/release-notes/2.0.x/ironmq.md
  docs/src/main/paradox/release-notes/2.0.x/jms.md
  docs/src/main/paradox/release-notes/2.0.x/json-streaming.md
  docs/src/main/paradox/release-notes/2.0.x/kinesis.md
  docs/src/main/paradox/release-notes/2.0.x/kudu.md
  docs/src/main/paradox/release-notes/2.0.x/mongodb.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt.md
  docs/src/main/paradox/release-notes/2.0.x/orientdb.md
  docs/src/main/paradox/release-notes/2.0.x/s3.md
  docs/src/main/paradox/release-notes/2.0.x/simple-codecs.md
  docs/src/main/paradox/release-notes/2.0.x/slick.md
  docs/src/main/paradox/release-notes/2.0.x/sns.md
  docs/src/main/paradox/release-notes/2.0.x/solr.md
  docs/src/main/paradox/release-notes/2.0.x/spring-web.md
  docs/src/main/paradox/release-notes/2.0.x/sqs.md
  docs/src/main/paradox/release-notes/2.0.x/sse.md
  docs/src/main/paradox/release-notes/2.0.x/udp.md
  docs/src/main/paradox/release-notes/2.0.x/unix-domain-socket.md
  docs/src/main/paradox/release-notes/2.0.x/xml.md
Labels: documentation

#2053 AWS S3: disallow sub-dir selection with bucket names
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
  s3/src/test/scala/docs/scaladsl/S3SourceSpec.scala
Labels: p:aws-s3, to-be-backported

#2052 Elasticsearch: support multiple REST versions
  elasticsearch/src/main/java/akka/stream/alpakka/elasticsearch/ApiVersion.java
  elasticsearch/src/main/mima-filters/2.0.0-M2.backwards.excludes/PR2052.excludes
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchWriteSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/RestBulkApi.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/RestBulkApiV5.scala
Labels: p:elasticsearch

#2050 Google Cloud Pub/Sub gRPC: latest versions
  build.sbt
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/impl/GuavaFutures.scala
  docs/src/main/paradox/google-cloud-pub-sub-grpc.md
  google-cloud-pub-sub-grpc/src/main/mima-filters/2.0.0-M2.backwards.excludes/PR2050-version-upgrades.excludes
  project/Dependencies.scala
  project/plugins.sbt
Labels: dependency-change, documentation, p:google-cloud-pub-sub-grpc

#2058 Add missing metadata about storage objects to google-cloud-storage api
  google-cloud-storage/src/main/mima-filters/2.0.0-M2.backwards.excludes
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/CustomerEncryption.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/ObjectAccessControls.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/Owner.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/ProjectTeam.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/StorageObject.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/Formats.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/scaladsl/GCStorageWiremockBase.scala
Labels: p:google-cloud-storage

#2059 IDE: Rename docs project so that IntelliJ imports it
  build.sbt
Labels: alpakka-itself
