Repository akka/alpakka, pull requests merged in 2019-01, with the labels that each got.

#1404 Run FTP doc snippets in tests and show Gzip use
  docs/src/main/paradox/ftp.md
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpBaseSupport.java
  ftp/src/test/java/akka/stream/alpakka/ftp/PlainFtpSupportImpl.java
  ftp/src/test/java/docs/javadsl/FtpSettingsExample.java
  ftp/src/test/java/docs/javadsl/FtpWritingExample.java
  ftp/src/test/java/docs/javadsl/FtpWritingTest.java
  ftp/src/test/scala/docs/scaladsl/FtpExamplesSpec.scala
  ftp/src/test/scala/docs/scaladsl/scalaExamples.scala
Labels: p:ftp

#1407 google-cloud-pub-sub: remove redundant api key
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GooglePubSubSource.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApi.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/model.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/scaladsl/GooglePubSub.scala
  google-cloud-pub-sub/src/test/java/docs/javadsl/ExampleUsageJava.java
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApiSpec.scala
  google-cloud-pub-sub/src/test/scala/docs/scaladsl/ExampleUsage.scala
Labels: api-change, p:google-cloud-pub-sub

#1412 Change Alpakka URLs to point directly to its new home
  README.md
  build.sbt
  docs/src/main/paradox/index.md
  docs/src/main/paradox/overview.md
  docs/src/main/paradox/release-notes/1.0-M1.md
  project/Common.scala
  project/project-info.conf
Labels: alpakka-itself

#1414 MQTT streaming: Fixup the continuation of a session
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/model.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1415 AWS SQS: use ElasticMQ in Docker container instead of embedded
  .travis.yml
  docker-compose.yml
  docs/src/main/paradox/sqs.md
  project/Dependencies.scala
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/BaseSqsTest.java
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
  sqs/src/test/scala/docs/scaladsl/SqsPublishSpec.scala
Labels: p:aws-sqs

#1282 mockito-core 2.23.4
  project/Dependencies.scala
Labels: p:aws-lambda, p:aws-sns, p:aws-sqs, p:google-cloud-pub-sub, p:google-fcm, p:jms, p:kinesis

#1355 SSE: towards 1.0
  docs/src/main/paradox/sse.md
  sse/src/test/java/docs/javadsl/EventSourceTest.java
  sse/src/test/scala/docs/scaladsl/EventSourceSpec.scala
Labels: p:sse

#1401 use [jms-testkit] in JMS unit tests
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsAckConnectorsTest.java
  jms/src/test/java/docs/javadsl/JmsBufferedAckConnectorsTest.java
  jms/src/test/java/docs/javadsl/JmsConnectorsTest.java
  jms/src/test/java/docs/javadsl/JmsTxConnectorsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/JmsConnectionStatusSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/JmsProducerRetrySpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/JmsSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/CachedConnectionFactory.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsAckConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsBufferedAckConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsTxConnectorsSpec.scala
  project/Dependencies.scala
Labels: p:jms

#1425 Drop the unneccessary level in documentation
  docs/src/main/paradox/amqp.md
  docs/src/main/paradox/avroparquet.md
  docs/src/main/paradox/awslambda.md
  docs/src/main/paradox/azure-storage-queue.md
  docs/src/main/paradox/cassandra.md
  docs/src/main/paradox/dynamodb.md
  docs/src/main/paradox/ftp.md
  docs/src/main/paradox/geode.md
  docs/src/main/paradox/hbase.md
  docs/src/main/paradox/ironmq.md
  docs/src/main/paradox/mongodb.md
  docs/src/main/paradox/slick.md
  docs/src/main/paradox/udp.md
  docs/src/main/paradox/unix-domain-socket.md
Labels: alpakka-itself

#1411 Couchbase based on akka-persistence-couchbase work
  build.sbt
  couchbase/src/main/resources/reference.conf
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/CouchbaseResponseException.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/CouchbaseSessionRegistry.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/impl/CouchbaseSessionImpl.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/impl/CouchbaseSessionJavaAdapter.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/impl/CouchbaseSourceImpl.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/impl/RxUtilities.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/impl/SetupStage.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseFlow.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseSession.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseSink.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseSource.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/model.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseFlow.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseSession.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseSink.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseSource.scala
  couchbase/src/test/java/docs/javadsl/CouchbaseExamplesTest.java
  couchbase/src/test/java/docs/javadsl/Examples.java
  couchbase/src/test/resources/application.conf
  couchbase/src/test/scala/akka/stream/alpakka/couchbase/testing/CouchbaseSupport.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseFlowSpec.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseSessionExamplesSpec.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseSourceSpec.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseSupport.scala
  docs/src/main/paradox/couchbase.md
  project/Dependencies.scala
Labels: p:couchbase

#1331 JMS: Remove speparate Envelope wrapper by doubling message classes
  docs/src/main/paradox/jms/producer.md
  jms/src/main/scala/akka/stream/alpakka/jms/JmsExceptions.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsMessages.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerMessage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsMessageProducer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsProducerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/javadsl/JmsProducer.scala
  jms/src/main/scala/akka/stream/alpakka/jms/scaladsl/JmsProducer.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsAckConnectorsTest.java
  jms/src/test/java/docs/javadsl/JmsBufferedAckConnectorsTest.java
  jms/src/test/java/docs/javadsl/JmsConnectorsTest.java
  jms/src/test/java/docs/javadsl/JmsTxConnectorsTest.java
  jms/src/test/scala/akka/stream/alpakka/jms/JmsConnectionStatusSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/impl/JmsMessageProducerSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsAckConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsBufferedAckConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsTxConnectorsSpec.scala
Labels: api-change, p:jms

#1427 Separate producer/consumer timeouts
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/MqttSessionSettings.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestState.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1430 Pass the argument from the method
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectionProvider.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectorSettings.scala
Labels: p:amqp

#1351 Solr: Use akka supervision strategies on error-handling
  solr/src/main/scala/akka/stream/alpakka/solr/SolrFlowStage.scala
Labels: p:solr

#1426 Couchbase: introduce upsertDocWithResult to handle write errors in-stream
  .travis.yml
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/javadsl/CouchbaseFlow.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/model.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseFlow.scala
  couchbase/src/test/java/docs/javadsl/CouchbaseExamplesTest.java
  couchbase/src/test/resources/logback-test.xml
  couchbase/src/test/scala/akka/stream/alpakka/couchbase/testing/CouchbaseSupport.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseFlowSpec.scala
  docker-compose.yml
  docs/src/main/paradox/couchbase.md
Labels: p:couchbase

#1428 Add release notes for M2
  docs/src/main/paradox/release-notes/1.0-M2.md
Labels: alpakka-itself

#1431 Use .value to extract version
  project/Common.scala
Labels: alpakka-itself

#1432 Fixes for doc publishing
  .travis.yml
  RELEASING.md
  build.sbt
  project/PublishRsync.scala
Labels: alpakka-itself

#1436 MQTT streaming: Tolerate DUP PUBLISH messages on first connecting
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1444 S3: Propagate attributes when nesting Akka Stream operators with Setup
  s3/src/main/scala/akka/stream/alpakka/s3/impl/SetupStage.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
  s3/src/test/scala/docs/scaladsl/S3SourceSpec.scala
Labels: p:aws-s3

#1447 Issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/--bug-report.md
  .github/ISSUE_TEMPLATE/--feature-request.md
  .github/ISSUE_TEMPLATE/--question.md
Labels: alpakka-itself

#1451 Spring-web: support for Spring Boot 2.0 #1439
  project/Dependencies.scala
  spring-web/src/main/java/akka/stream/alpakka/spring/web/SpringWebAkkaStreamsConfiguration.java
Labels: dependency-change, p:spring-web

#1454 Spring Web: support for setting the ActorSystem name
  project/Dependencies.scala
  spring-web/src/main/java/akka/stream/alpakka/spring/web/SpringWebAkkaStreamsConfiguration.java
  spring-web/src/main/java/akka/stream/alpakka/spring/web/SpringWebAkkaStreamsProperties.java
  spring-web/src/main/resources/META-INF/spring-configuration-metadata.json
  spring-web/src/test/java/docs/javadsl/SampleController.java
  spring-web/src/test/resources/application.properties
Labels: p:spring-web

#1461 File & Couchbase: LogRotatorSink and CouchbaseSource specs needs more patience
  couchbase/src/test/scala/docs/scaladsl/CouchbaseSourceSpec.scala
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
Labels: p:couchbase, p:file

#1462 Couchbase: more test patience
  couchbase/src/test/scala/akka/stream/alpakka/couchbase/testing/CouchbaseSupport.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseFlowSpec.scala
  couchbase/src/test/scala/docs/scaladsl/CouchbaseSessionExamplesSpec.scala
Labels: p:couchbase

#1441 Hdfs: towards 1.0
  build.sbt
  docs/src/main/paradox/hdfs.md
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/HdfsFlowStage.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/strategy/DefaultRotationStrategy.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/strategy/DefaultSyncStrategy.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/strategy/Strategy.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/CompressedDataWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/DataWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/HdfsWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/writer/SequenceWriter.scala
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/model.scala
  hdfs/src/test/java/docs/javadsl/HdfsReaderTest.java
  hdfs/src/test/java/docs/javadsl/HdfsWriterTest.java
  hdfs/src/test/scala/docs/scaladsl/HdfsReaderSpec.scala
  hdfs/src/test/scala/docs/scaladsl/HdfsWriterSpec.scala
Labels: p:hdfs

#1442 HDFS: Use Hadoop 3.1.1
  project/Dependencies.scala
Labels: dependency-change, p:hdfs

#1464 Spring Web: code formatting
  spring-web/src/main/java/akka/stream/alpakka/spring/web/SpringWebAkkaStreamsConfiguration.java
  spring-web/src/main/java/akka/stream/alpakka/spring/web/SpringWebAkkaStreamsProperties.java
  spring-web/src/test/java/docs/javadsl/SampleController.java
Labels: p:spring-web

#1466 Remove grpc publisher/subscriber from factory arguments
  .travis.yml
  docker-compose.yml
  docs/src/main/paradox/google-cloud-pub-sub-grpc.md
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/PubSubSettings.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/impl/AkkaGrpcSettings.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/impl/SetupStage.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GooglePubSub.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GooglePubSubExternal.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GrpcPublisher.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GrpcSubscriber.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/PubSubAttributes.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GooglePubSub.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GooglePubSubExternal.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GrpcPublisher.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GrpcSubscriber.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/PubSubAttributes.scala
  google-cloud-pub-sub-grpc/src/test/java/docs/javadsl/IntegrationTest.java
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/ExampleApp.scala
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/IntegrationSpec.scala
Labels: p:google-cloud-pub-sub-grpc

#1468 Informational section as a comment
  .github/ISSUE_TEMPLATE/--bug-report.md
Labels: alpakka-itself

#1471 Manage kudu client in an extension
  docs/src/main/paradox/kudu.md
  kudu/src/main/resources/reference.conf
  kudu/src/main/scala/akka/stream/alpakka/kudu/KuduAttributes.scala
  kudu/src/main/scala/akka/stream/alpakka/kudu/KuduClientExt.scala
  kudu/src/main/scala/akka/stream/alpakka/kudu/impl/SetupStage.scala
  kudu/src/main/scala/akka/stream/alpakka/kudu/javadsl/KuduTable.scala
  kudu/src/main/scala/akka/stream/alpakka/kudu/scaladsl/KuduTable.scala
  kudu/src/test/java/docs/javadsl/KuduTableTest.java
  kudu/src/test/resources/application.conf
  kudu/src/test/scala/docs/scaladsl/KuduTableSpec.scala
Labels: api-change, p:kudu
