Repository akka/alpakka, pull requests merged in 2019-09, with the labels that each got.

#1904 JMS: Java API for JmsMessages withProperties
  jms/src/main/scala/akka/stream/alpakka/jms/JmsMessages.scala
  jms/src/test/java/akka/stream/alpakka/jms/javadsl/JmsAckConnectorsTest.java
Labels: p:jms

#1905 Migrate S3 connector to AWS SDK 2
  docs/src/main/paradox/s3.md
  project/Dependencies.scala
  s3/src/main/mima-filters/1.1.x.backwards.excludes
  s3/src/main/resources/reference.conf
  s3/src/main/scala/akka/stream/alpakka/s3/headers/ServerSideEncryption.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/auth/SigningKey.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/scala/akka/stream/alpakka/s3/S3SettingsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/S3StreamSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/auth/SignerSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/auth/SigningKeySpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
  s3/src/test/scala/docs/scaladsl/S3SourceSpec.scala
Labels: dependency-change, documentation, p:aws-s3

#1915 Switch to torkild credentials
  .travis.yml
Labels: alpakka-itself

#1853 Automatically unregister packet ids and other resources
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/MqttSessionSettings.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/BehaviorRunner.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/QueueOfferState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/QueueOfferStateSpec.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/RequestStateSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: documentation, p:mqtt-streaming

#1896 DynamoDb: AWS SDK2; Add tryFlow to be used with RetryFlow
  docs/src/main/paradox/dynamodb.md
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/javadsl/RetryFlow.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/impl/scaladsl/RetryFlow.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDb.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoDb.scala
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/java/docs/javadsl/RetryTest.java
  dynamodb/src/test/resources/application.conf
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/TestOps.scala
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
  dynamodb/src/test/scala/docs/scaladsl/RetrySpec.scala
Labels: documentation, p:dynamodb

#1881 Google Cloud Pub/Sub: PublishMessage for publishing
  google-cloud-pub-sub/src/main/mima-filters/1.1.x.backwards.excludes
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApi.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/model.scala
  google-cloud-pub-sub/src/test/java/docs/javadsl/ExampleUsageJava.java
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/ModelSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApiSpec.scala
  google-cloud-pub-sub/src/test/scala/docs/scaladsl/ExampleUsage.scala
Labels: api-change, p:google-cloud-pub-sub

#1917 Cassandra driver 3.7.1 (was 3.5.1)
  project/Dependencies.scala
Labels: dependency-change, p:cassandra

#1918 Geode upgrade to 1.9.1 (was 1.9.0)
  docker-compose.yml
  project/Dependencies.scala
Labels: dependency-change, p:geode

#1930 S3 docs: Fix typo
  docs/src/main/paradox/s3.md
Labels: documentation, p:aws-s3

#1925 HDFS: upgrade Cats to 2.0.0 and enable Scala 2.13
  build.sbt
  project/Dependencies.scala
Labels: dependency-change, p:hdfs

#1913 Use sbt-paradox-apidoc plugin for api links
  build.sbt
  contributor-advice.md
  docs/src/main/paradox/amqp.md
  project/plugins.sbt
Labels: documentation

#1928 Google Pub/Sub: Fail source when pull status code is not 200 OK
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApi.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApiSpec.scala
Labels: p:google-cloud-pub-sub

#1932 GCS add versions support for listing, add generation support fo…
  docs/src/main/paradox/google-cloud-storage.md
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/javadsl/GCStorage.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/scaladsl/GCStorage.scala
  google-cloud-storage/src/test/java/docs/javadsl/GCStorageTest.java
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStreamIntegrationSpec.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/scaladsl/GCStorageWiremockBase.scala
  google-cloud-storage/src/test/scala/docs/scaladsl/GCStorageSourceSpec.scala
Labels: documentation, p:google-cloud-storage

#1940 InfluxDB docs: fix artifact name for sbt, Maven and Gradle
  docs/src/main/paradox/influxdb.md
Labels: documentation, p:influxdb

#1941 Elasticsearch: refactor to make retrying more explicit
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchJsonBase.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
Labels: p:elasticsearch

#1948 XML: update aalto-xml to version 1.2.2
  project/Dependencies.scala
Labels: dependency-change, p:xml

#1945 XML: add ability to provide a specific XMLOutputFactory
  xml/src/main/scala/akka/stream/alpakka/xml/impl/StreamingXmlWriter.scala
  xml/src/main/scala/akka/stream/alpakka/xml/javadsl/XmlWriting.scala
  xml/src/main/scala/akka/stream/alpakka/xml/scaladsl/XmlWriting.scala
  xml/src/test/java/docs/javadsl/XmlWritingTest.java
  xml/src/test/scala/docs/scaladsl/XmlWritingSpec.scala
Labels: p:xml

#1946 Files: used in ArchiveTest.java are now read only once
  file/src/test/java/docs/javadsl/ArchiveHelper.java
  file/src/test/java/docs/javadsl/ArchiveTest.java
Labels: p:file

#1950 Geode 1.10.0
  docker-compose.yml
  geode/src/test/resources/log4j2.xml
  geode/src/test/scala/docs/scaladsl/GeodeContinuousSourceSpec.scala
  project/Dependencies.scala
Labels: dependency-change, p:geode
