Repository akka/alpakka, pull requests merged in 2019-04, with the labels that each got.

#1616 Link to SshClient API
  docs/src/main/paradox/ftp.md
Labels: p:ftp

#1618 SQS: allow more time for actor system termination
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
Labels: p:aws-sqs

#1619 AWS S3: put an upper limit on upload chunks
  s3/src/main/mima-filters/1.0.x.backwards.excludes
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/SplitAfterSize.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/SplitAfterSizeSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
Labels: p:aws-s3

#1600 FTP: fix default sftp overwrite behaviour
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
Labels: p:ftp

#1621 SQS: API may change
  docs/src/main/paradox/sqs.md
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsModel.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsAckFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsAckFlow.scala
  sqs/src/main/scala/akka/stream/alpakka/sqs/scaladsl/SqsPublishFlow.scala
Labels: p:aws-sqs

#1625 SQS: fix formatting
  sqs/src/main/scala/akka/stream/alpakka/sqs/javadsl/SqsPublishFlow.scala
Labels: p:aws-sqs

#1628 SQS: try different timing for better test stability
  sqs/src/test/java/docs/javadsl/SqsSourceTest.java
  sqs/src/test/scala/docs/scaladsl/SqsSourceSpec.scala
Labels: p:aws-sqs

#1626 FTP: remove some assertAllStagesStopped
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
Labels: p:ftp

#1627 Fix version in deprecations
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/javadsl/Mqtt.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/Mqtt.scala
Labels: p:mqtt-streaming

#1624 1.0.0 release notes and Supported flags
  .grenrc.js
  build.sbt
  docs/src/main/paradox/.htaccess
  docs/src/main/paradox/data-transformations/index.md
  docs/src/main/paradox/data-transformations/simple-codecs.md
  docs/src/main/paradox/release-notes/1.0-M1.md
  docs/src/main/paradox/release-notes/1.0.x.md
  docs/src/main/paradox/release-notes/1.0.x/amqp.md
  docs/src/main/paradox/release-notes/1.0.x/avroparquet.md
  docs/src/main/paradox/release-notes/1.0.x/awslambda.md
  docs/src/main/paradox/release-notes/1.0.x/azure-storage-queue.md
  docs/src/main/paradox/release-notes/1.0.x/cassandra.md
  docs/src/main/paradox/release-notes/1.0.x/couchbase.md
  docs/src/main/paradox/release-notes/1.0.x/csv.md
  docs/src/main/paradox/release-notes/1.0.x/dynamodb.md
  docs/src/main/paradox/release-notes/1.0.x/elasticsearch.md
  docs/src/main/paradox/release-notes/1.0.x/file.md
  docs/src/main/paradox/release-notes/1.0.x/ftp.md
  docs/src/main/paradox/release-notes/1.0.x/geode.md
  docs/src/main/paradox/release-notes/1.0.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/1.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/1.0.x/google-fcm.md
  docs/src/main/paradox/release-notes/1.0.x/hbase.md
  docs/src/main/paradox/release-notes/1.0.x/hdfs.md
  docs/src/main/paradox/release-notes/1.0.x/ironmq.md
  docs/src/main/paradox/release-notes/1.0.x/jms.md
  docs/src/main/paradox/release-notes/1.0.x/json-streaming.md
  docs/src/main/paradox/release-notes/1.0.x/kafka.md
  docs/src/main/paradox/release-notes/1.0.x/kinesis.md
  docs/src/main/paradox/release-notes/1.0.x/kudu.md
  docs/src/main/paradox/release-notes/1.0.x/mongodb.md
  docs/src/main/paradox/release-notes/1.0.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/1.0.x/mqtt.md
  docs/src/main/paradox/release-notes/1.0.x/orientdb.md
  docs/src/main/paradox/release-notes/1.0.x/s3.md
  docs/src/main/paradox/release-notes/1.0.x/simple-codecs.md
  docs/src/main/paradox/release-notes/1.0.x/slick.md
  docs/src/main/paradox/release-notes/1.0.x/sns.md
  docs/src/main/paradox/release-notes/1.0.x/solr.md
  docs/src/main/paradox/release-notes/1.0.x/spring-web.md
  docs/src/main/paradox/release-notes/1.0.x/sqs.md
  docs/src/main/paradox/release-notes/1.0.x/sse.md
  docs/src/main/paradox/release-notes/1.0.x/udp.md
  docs/src/main/paradox/release-notes/1.0.x/unix-domain-socket.md
  docs/src/main/paradox/release-notes/1.0.x/xml.md
  docs/src/main/paradox/release-notes/index.md
  project/project-info.conf
Labels: alpakka-itself

#1631 Mqtt streaming: Discontinue Scala 2.11
  build.sbt
  docs/src/main/paradox/release-notes/1.0.x/mqtt-streaming.md
Labels: p:mqtt-streaming

#1633 Google Cloud Pub/Sub gRPC: upgrade to google-auth-library-oauth2-http
  project/Dependencies.scala
Labels: p:google-cloud-pub-sub-grpc

#1634 Ignore the latest guava android from the dependencies
  build.sbt
Labels: alpakka-itself

#1629 mqtt-streaming: Fix a race condition in server publishing
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
Labels: p:mqtt-streaming

#1620 Test for git changes via shell script
  .travis.yml
  scripts/buildChanged.sh
Labels: alpakka-itself

#1622 Drop GitHub templates in favour of Akka defaults
  .github/ISSUE_TEMPLATE/--bug-report.md
  .github/ISSUE_TEMPLATE/--feature-request.md
  .github/ISSUE_TEMPLATE/--question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: alpakka-itself

#1637 Fix link to akka docs
  docs/src/main/paradox/amqp.md
Labels: p:amqp

#1638 Link to Akka docs lacked suffix
  docs/src/main/paradox/mongodb.md
Labels: p:mongodb

#1641 Enable 2.13 for sqs and sns connectors.
  build.sbt
  project/Dependencies.scala
  sqs/src/test/scala/docs/scaladsl/SqsPublishSpec.scala
Labels: p:aws-sns, p:aws-sqs

#1640 Upgrade cassandra driver to 3.7.1
  project/Dependencies.scala
Labels: dependency-change, p:cassandra

#1642 MQTT streaming: Fixes wrong Exception thrown when client ping timeouts
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#1630 akka 2.5.22
  project/Dependencies.scala
Labels: alpakka-itself

#1650 Compare against previous state of master when building master
  scripts/buildChanged.sh
Labels: alpakka-itself

#1651 Try to fix bash script if condition
  scripts/buildChanged.sh
Labels: alpakka-itself

#1661 Google cloud pub/sub gRPC: use Akka gRPC 0.6.1
  project/plugins.sbt
Labels: dependency-change, p:google-cloud-pub-sub-grpc

#1652 xml: flush output after the input is finished
  xml/src/main/scala/akka/stream/alpakka/xml/impl/StreamingXmlWriter.scala
  xml/src/test/scala/docs/scaladsl/XmlWritingSpec.scala
Labels: p:xml

#1653 Revert "Upgrade cassandra driver to 3.7.1"
  project/Dependencies.scala
Labels: p:cassandra

#1658 FTP: emit traversed directories from Ftp.ls
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/CommonFtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpBrowserGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpSourceFactory.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/javadsl/FtpApi.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpBaseSupport.java
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpsSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSftpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
Labels: p:ftp

#1668 FTP: run tests against (S)FTP server in Docker
  .gitignore
  .travis.yml
  docker-compose.yml
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/CommonFtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpIOGraphStage.scala
  ftp/src/test/java/akka/stream/alpakka/ftp/BaseFtpSupport.java
  ftp/src/test/java/akka/stream/alpakka/ftp/BaseSftpSupport.java
  ftp/src/test/java/akka/stream/alpakka/ftp/BaseSupport.java
  ftp/src/test/java/akka/stream/alpakka/ftp/BaseSupportImpl.java
  ftp/src/test/java/akka/stream/alpakka/ftp/CommonFtpStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpBaseSupport.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpSupport.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpSupportImpl.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpsStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpsSupportImpl.java
  ftp/src/test/java/akka/stream/alpakka/ftp/KeyFileSftpSourceTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/PlainFtpSupportImpl.java
  ftp/src/test/java/akka/stream/alpakka/ftp/RawKeySftpSourceTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/SftpStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/SftpSupportImpl.java
  ftp/src/test/java/akka/stream/alpakka/ftp/StrictHostCheckingSftpSourceTest.java
  ftp/src/test/java/docs/javadsl/FtpWritingTest.java
  ftp/src/test/java/org/apache/ftpserver/filesystem/jimfs/JimfsFactory.java
  ftp/src/test/java/org/apache/ftpserver/filesystem/jimfs/impl/JimfsFtpFile.java
  ftp/src/test/java/org/apache/ftpserver/filesystem/jimfs/impl/JimfsView.java
  ftp/src/test/java/org/apache/ftpserver/filesystem/jimfs/impl/NameEqualsPathFilter.java
  ftp/src/test/resources/ftpd/pure-ftpd.pem
  ftp/src/test/resources/hostkey.pem
  ftp/src/test/resources/known_hosts
  ftp/src/test/resources/server.jks
  ftp/src/test/resources/sftpd/init.sh
  ftp/src/test/resources/sftpd/ssh_host_ed25519_key
  ftp/src/test/resources/sftpd/ssh_host_ed25519_key.pub
  ftp/src/test/resources/sftpd/ssh_host_rsa_key
  ftp/src/test/resources/sftpd/ssh_host_rsa_key.pub
  ftp/src/test/resources/users.properties
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpsSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSftpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
  ftp/src/test/scala/docs/scaladsl/FtpExamplesSpec.scala
  project/Dependencies.scala
Labels: p:ftp
