Repository akka/alpakka, pull requests merged in 2020-07, with the labels that each got.

#2348 Akka HTTP 10.2.0-RC1 in the scheduled build
  project/Dependencies.scala
Labels: dependency-change

#2252 Google bigquery
  .travis.yml
  build.sbt
  docs/src/main/paradox/google-cloud-bigquery.md
  docs/src/main/paradox/index.md
  google-cloud-bigquery/src/main/resources/reference.conf
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/BigQueryConfig.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/ForwardProxyHttpsContext.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/ForwardProxyPoolSettings.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/BigQueryCommunicationHelper.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/DryRunJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/GoogleEndpoints.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/QueryJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/TableDataQueryJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/TableListQueryJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/BigQueryStreamSource.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/GoogleSession.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/GoogleTokenApi.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/pagetoken/AddPageToken.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/pagetoken/EndOfStreamDetector.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/parser/Parser.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/sendrequest/EnrichRequestWithOauth.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/sendrequest/SendRequestWithOauthHandling.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/ConcatWithHeaders.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/Delay.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/DelayFlow.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/FlowInitializer.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/OnFinishCallback.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/Splitter.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/javadsl/BigQueryCallbacks.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/javadsl/GoogleBigQuerySource.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryCallbacks.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/GoogleBigQuerySource.scala
  google-cloud-bigquery/src/test/java/docs/javadsl/GoogleBigQuerySourceDoc.java
  google-cloud-bigquery/src/test/resources/README.md
  google-cloud-bigquery/src/test/resources/application.conf
  google-cloud-bigquery/src/test/resources/cert.pem
  google-cloud-bigquery/src/test/resources/key.pub
  google-cloud-bigquery/src/test/resources/private.pem
  google-cloud-bigquery/src/test/resources/private_pcks8.pem
  google-cloud-bigquery/src/test/resources/scenario.json
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/e2e/BigQueryEndToEndSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/e2e/BigQueryTableHelper.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/e2e/BigQueryTestHelper.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/BigQueryStreamSourceSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/GoogleTokenApiSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/pagetoken/EndOfStreamDetectorSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/parser/ParserSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/sendrequest/EnrichRequestWithOauthSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/sendrequest/SendRequestWithOauthHandlingSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/DelaySpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/FlowInitializerSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/OnFinishCallbackSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/SplitterSpec.scala
  google-cloud-bigquery/src/test/scala/docs/scaladsl/GoogleBigQuerySourceDoc.scala
  project/Dependencies.scala
  project/project-info.conf
Labels: documentation, p:google-cloud-bigquery

#2356 BigQuery: fix compilation
  .github/autolabeler.yml
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/pagetoken/AddPageToken.scala
Labels: p:google-cloud-bigquery
