Repository akka/alpakka, pull requests merged in 2020-05, with the labels that each got.

#2282 S3: Add some backoff delay to multipart upload retries for tests
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
Labels: p:aws-s3

#2303 Kinesis: Fix arrow
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/CommittableRecord.scala
Labels: p:kinesis

#2301 Fix typo in comment
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/CommittableRecord.scala
Labels: p:kinesis

#2298 Kinesis: Give the callback a more meaningful name
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/ShardProcessor.scala
Labels: p:kinesis

#2302 [kinesis] Get rid of unnecessary broadcast-zip
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisSchedulerSource.scala
Labels: p:kinesis

#2299 Kinesis: Small cleanup
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/ShardProcessor.scala
Labels: p:kinesis

#2297 Kinesis: Avoid Any in KinesisSchedulerSourceStage
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/KinesisSchedulerSourceStage.scala
Labels: p:kinesis

#2300 Kinesis: code layout
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/ShardProcessor.scala
Labels: p:kinesis

#2306 [Elasticsearch] Add createBulk factory methods
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
Labels: p:elasticsearch

#2311 CSV: handle UTF-8 BOM correctly
  csv/src/main/scala/akka/stream/alpakka/csv/impl/CsvParser.scala
  csv/src/test/scala/akka/stream/alpakka/csv/CsvParserSpec.scala
Labels: p:csv

#2319 Fix intermittent issues with Wiremock connection reset simulation
  project/Dependencies.scala
Labels: dependency-change, p:aws-s3

#2328 Update AwsSpiAkkaHttpVersion to 0.0.9
  project/Dependencies.scala
Labels: dependency-change, p:aws-lambda, p:aws-sns, p:aws-sqs, p:dynamodb, p:kinesis

#2326 [elasticsearch] Support `allow_explicit_index: false`
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchWriteSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/RestBulkApi.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/RestBulkApiV5.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/RestBulkApiV7.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchConnectorBehaviour.scala
Labels: documentation, p:elasticsearch

#2325 file/tar: Allow space as terminal character in tar header
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/TarArchiveEntry.scala
  file/src/test/scala/akka/stream/alpakka/file/impl/archive/TarArchiveEntrySpec.scala
Labels: p:file

#2317 Elasticsearch: Log indexing errors
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
Labels: p:elasticsearch

#2061 AWS EventBridge Support
  .gitignore
  .travis.yml
  aws-event-bridge/src/main/scala/akka/stream/alpakka/aws/eventbridge/EventBridgePublishSettings.scala
  aws-event-bridge/src/main/scala/akka/stream/alpakka/aws/eventbridge/javadsl/EventBridgePublisher.scala
  aws-event-bridge/src/main/scala/akka/stream/alpakka/aws/eventbridge/scaladsl/EventBridgePublisher.scala
  aws-event-bridge/src/test/java/docs/javadsl/EventBridgePublisherTest.java
  aws-event-bridge/src/test/resources/application.conf
  aws-event-bridge/src/test/resources/logback-test.xml
  aws-event-bridge/src/test/scala/akka/stream/alpakka/aws/eventbridge/DefaultTestContext.scala
  aws-event-bridge/src/test/scala/akka/stream/alpakka/aws/eventbridge/EventBridgePublishMockSpec.scala
  aws-event-bridge/src/test/scala/akka/stream/alpakka/aws/eventbridge/IntegrationTestContext.scala
  aws-event-bridge/src/test/scala/docs/scaladsl/EventBridgePublisherSpec.scala
  build.sbt
  docker-compose.yml
  docs/src/main/paradox/aws-event-bridge.md
  docs/src/main/paradox/index.md
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttActorSystemsSpec.scala
  project/Dependencies.scala
  project/project-info.conf
Labels: dependency-change, documentation, p:mqtt-streaming, p:new

#2323 Allow LogRotatorSink be a Sink[T] instead of Sink[ByteString]
  file/src/main/mima-filters/2.0.0-RC2.backwards.excludes/PR2323-log-rotator-sink.excludes
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/LogRotatorSink.scala
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
Labels: p:file
