Repository akka/alpakka, pull requests merged in 2020-11, with the labels that each got.

#2509 Pravega: Re-factor tests
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaSettings.scala
  pravega/src/test/java/akka/stream/alpakka/pravega/PravegaAkkaTestCaseSupport.java
  pravega/src/test/java/akka/stream/alpakka/pravega/PravegaGraphTestCase.java
  pravega/src/test/java/docs/javadsl/PravegaBaseTestCase.java
  pravega/src/test/java/docs/javadsl/PravegaReadWriteDocs.java
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaBaseSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaGraphSpec.scala
Labels: p:pravega

#2511 Akka 2.6: avroparquet
  avroparquet/src/test/java/docs/javadsl/AvroParquetSinkTest.java
  avroparquet/src/test/java/docs/javadsl/Examples.java
  build.sbt
Labels: p:avroparquet

#2510 Akka 2.6: amqp
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpRpcFlowStage.scala
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AmqpSourceStage.scala
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpConnectorsTest.java
  amqp/src/test/java/akka/stream/alpakka/amqp/javadsl/AmqpFlowTest.java
  amqp/src/test/java/docs/javadsl/AmqpDocsTest.java
  amqp/src/test/scala/akka/stream/alpakka/amqp/AmqpSpec.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpGraphStageLogicConnectionShutdownSpec.scala
  build.sbt
Labels: p:amqp

#2512 Akka 2.6: aws-event-bridge
  aws-event-bridge/src/test/java/docs/javadsl/EventBridgePublisherTest.java
  aws-event-bridge/src/test/scala/akka/stream/alpakka/aws/eventbridge/DefaultTestContext.scala
  aws-event-bridge/src/test/scala/akka/stream/alpakka/aws/eventbridge/IntegrationTestContext.scala
  build.sbt
  docs/src/main/paradox/aws-event-bridge.md
Labels: p:aws-event-bridge

#2515 Pravega: add a section to the release drafter
  .github/release-drafter.yml
Labels: p:pravega

#2516 Reference: adapt to Akka 2.6
  reference/src/main/scala/akka/stream/alpakka/reference/scaladsl/Reference.scala
  reference/src/test/java/docs/javadsl/ReferenceTest.java
  reference/src/test/scala/docs/scaladsl/ReferenceSpec.scala
Labels: p:reference

#2514 Text: Adapt to Akka 2.6
  text/src/test/java/docs/javadsl/CharsetCodingFlowsDoc.java
  text/src/test/scala/akka/stream/alpakka/text/scaladsl/CharsetCodingFlowsSpec.scala
  text/src/test/scala/docs/scaladsl/CharsetCodingFlowsDoc.scala
Labels: p:text

#2513 AWS S3: adapt to Akka 2.6
  build.sbt
  s3/src/main/mima-filters/2.0.x.backwards.excludes/PR2513-akka-2.6.backwards.excludes
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/backport/RetryFlow.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/backport/RetryFlowCoordinator.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
  s3/src/main/scala/akka/stream/alpakka/s3/model.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/java/docs/javadsl/S3Test.java
  s3/src/test/scala/akka/stream/alpakka/s3/S3SettingsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/DiskBufferSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MarshallingSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MemoryBufferSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/S3StreamSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/SplitAfterSizeSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/auth/SignerSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/auth/StreamUtilsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3ClientIntegrationSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3ExtSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3SlowMinioIntegrationSpec.scala
  s3/src/test/scala/docs/scaladsl/S3SinkSpec.scala
Labels: p:aws-s3

#2519 File: akka 2.6.
  build.sbt
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/TarReaderStage.scala
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/LogRotatorSink.scala
  file/src/test/java/docs/javadsl/ArchiveTest.java
  file/src/test/java/docs/javadsl/DirectoryChangesSourceTest.java
  file/src/test/java/docs/javadsl/DirectoryTest.java
  file/src/test/java/docs/javadsl/FileTailSourceTest.java
  file/src/test/java/docs/javadsl/LogRotatorSinkTest.java
  file/src/test/scala/akka/stream/alpakka/file/impl/archive/ZipArchiveFlowTest.scala
  file/src/test/scala/docs/scaladsl/ArchiveSpec.scala
  file/src/test/scala/docs/scaladsl/DirectoryChangesSourceSpec.scala
  file/src/test/scala/docs/scaladsl/DirectorySpec.scala
  file/src/test/scala/docs/scaladsl/FileTailSourceExtrasSpec.scala
  file/src/test/scala/docs/scaladsl/FileTailSourceSpec.scala
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
  file/src/test/scala/docs/scaladsl/TarArchiveSpec.scala
Labels: p:file

#2517 xml: Akka 2.6 features
  build.sbt
  xml/src/test/java/docs/javadsl/XmlParsingTest.java
  xml/src/test/java/docs/javadsl/XmlWritingTest.java
  xml/src/test/scala/docs/scaladsl/XmlCoalesceSpec.scala
  xml/src/test/scala/docs/scaladsl/XmlProcessingSpec.scala
  xml/src/test/scala/docs/scaladsl/XmlSubsliceSpec.scala
  xml/src/test/scala/docs/scaladsl/XmlSubtreeSpec.scala
  xml/src/test/scala/docs/scaladsl/XmlWritingSpec.scala
Labels: p:xml

#2520 Slick: Akka 2.6 features.
  build.sbt
  slick/src/test/java/docs/javadsl/DocSnippetFlow.java
  slick/src/test/java/docs/javadsl/DocSnippetFlowWithPassThrough.java
  slick/src/test/java/docs/javadsl/DocSnippetSink.java
  slick/src/test/java/docs/javadsl/DocSnippetSource.java
  slick/src/test/java/docs/javadsl/SlickTest.java
  slick/src/test/resources/application.conf
  slick/src/test/scala/docs/scaladsl/DocSnippets.scala
  slick/src/test/scala/docs/scaladsl/SlickSpec.scala
Labels: p:slick

#2307 Mongo: Change to mongo-scala-driver 4.1.1
  docs/src/main/paradox/mongodb.md
  mongodb/src/test/java/docs/javadsl/MongoSourceTest.java
  mongodb/src/test/scala/docs/scaladsl/MongoSinkSpec.scala
  mongodb/src/test/scala/docs/scaladsl/MongoSourceSpec.scala
  project/Dependencies.scala
Labels: dependency-change, p:mongodb

#2527 azure-storage-queue: Akka 2.6 features (#2465).
  azure-storage-queue/src/test/java/docs/javadsl/JavaDslTest.java
  azure-storage-queue/src/test/scala/docs/scaladsl/AzureQueueSpec.scala
  build.sbt
Labels: p:azure-storage-queue

#2525 awslambda: Akka 2.6 features (#2464).
  awslambda/src/test/java/docs/javadsl/AwsLambdaFlowTest.java
  awslambda/src/test/java/docs/javadsl/Examples.java
  awslambda/src/test/scala/docs/scaladsl/AwsLambdaFlowSpec.scala
  awslambda/src/test/scala/docs/scaladsl/Examples.scala
  build.sbt
  docs/src/main/paradox/awslambda.md
Labels: p:aws-lambda

#2347 ElasticSearch: Replace RestClient with Akka HTTP client
  build.sbt
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/mima-filters/3.0.0.backwards.excludes
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchConnectionSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchParams.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSourceSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchWriteSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchApi.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSourceStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/NDJsonProtocol.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSink.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSource.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSink.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSource.scala
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchParameterizedTest.java
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchTest.java
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchTestBase.java
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchV5Test.java
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchV7Test.java
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/ElasticsearchParamsSpec.scala
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStageTest.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchConnectorBehaviour.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpecBase.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpecUtils.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchV5Spec.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchV7Spec.scala
  project/Dependencies.scala
Labels: api-change, dependency-change, documentation, p:elasticsearch

#2528 Elasticsearch: Make V7 the default version
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchSourceSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchWriteSettings.scala
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStageTest.scala
Labels: p:elasticsearch

#2526 spring-web: Akka 2.6 features
  build.sbt
  spring-web/src/main/java/akka/stream/alpakka/spring/web/AkkaStreamsRegistrar.java
  spring-web/src/main/java/akka/stream/alpakka/spring/web/SpringWebAkkaStreamsConfiguration.java
  spring-web/src/main/mima-filters/2.x.backwards.excludes/PR2526.backwards.excludes
Labels: api-change, p:spring-web

#2529 Elasticsearch: Adapt to Akka 2.6
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSourceStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/backport/RetryFlowCoordinator.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/javadsl/ElasticsearchSource.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSource.scala
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchTestBase.java
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStageTest.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpecBase.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpecUtils.scala
Labels: p:elasticsearch

#2524 Simple Codecs: remove materializer
  simple-codecs/src/test/java/docs/javadsl/RecordIOFramingTest.java
  simple-codecs/src/test/scala/docs/scaladsl/RecordIOFramingSpec.scala
Labels: p:recordio, p:simple-codecs

#2523 JSON streaming: no materializer
  json-streaming/src/test/java/docs/javadsl/JsonReaderUsageTest.java
  json-streaming/src/test/scala/docs/scaladsl/JsonReaderTest.scala
Labels: p:json-streaming

#2522 SNS: Akka 2.6; proper Http client pool shutdown in tests
  docs/src/main/paradox/sns.md
  sns/src/test/java/docs/javadsl/SnsPublisherTest.java
  sns/src/test/scala/akka/stream/alpakka/sns/DefaultTestContext.scala
  sns/src/test/scala/akka/stream/alpakka/sns/IntegrationTestContext.scala
Labels: p:aws-sns

#2521 SQS: Akka 2.6; proper Http client pool shutdown in tests
  docs/src/main/paradox/sqs.md
  sqs/src/main/scala/akka/stream/alpakka/sqs/impl/BalancingMapAsync.scala
  sqs/src/test/java/akka/stream/alpakka/sqs/javadsl/BaseSqsTest.java
  sqs/src/test/java/docs/javadsl/SqsAckTest.java
  sqs/src/test/java/docs/javadsl/SqsPublishTest.java
  sqs/src/test/java/docs/javadsl/SqsSourceTest.java
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
Labels: p:aws-sqs

#2536 S3: Updated retry logic for S3Stream.signAndRequest
  s3/src/main/mima-filters/2.0.x.backwards.excludes/PR2536.backwards.excludes
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/scala/akka/stream/alpakka/s3/S3SettingsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
  s3/src/test/scala/docs/scaladsl/S3SinkSpec.scala
Labels: p:aws-s3
