Repository akka/alpakka, pull requests merged in 2020-01, with the labels that each got.

#2065 :arrow_up: geode 1.11.0
  docker-compose.yml
  project/Dependencies.scala
Labels: dependency-change

#2069 GCS: Remove Unexpected Download Limit
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
Labels: p:google-cloud-storage

#2071 updated akka and akka-http versions
  project/Dependencies.scala
Labels: dependency-change

#2081 Use silencer plugin params only in Compile configuration
  build.sbt
Labels: alpakka-itself

#2082 Google Cloud Storage: Retry when any 500 level server error is…
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
  google-cloud-storage/src/test/scala/docs/scaladsl/GCStorageSourceSpec.scala
Labels: p:google-cloud-storage

#2083 AWS SDK 2.10.47
  project/Dependencies.scala
Labels: dependency-change, p:aws-lambda, p:aws-s3, p:aws-sns, p:aws-sqs, p:dynamodb, p:kinesis

#2062 Elasticsearch - #1566 - ElasticsearchFlowStage retry logic improvement
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchFlowStage.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
Labels: p:elasticsearch

#2085 Google Cloud Storage: remove download limit (2084)
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
  google-cloud-storage/src/test/resources/application.conf
  google-cloud-storage/src/test/scala/docs/scaladsl/GCStorageSourceSpec.scala
Labels: p:google-cloud-storage

#2087 MQTT streaming: Using public PropsAdapter API
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
Labels: p:mqtt-streaming

#2091 Akka 2.6.1 in scheduled build
  project/Dependencies.scala
Labels: dependency-change

#2090 File: Used emit instead of push in onUpstreamFinish
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/ZipArchiveFlow.scala
  file/src/test/scala/akka/stream/alpakka/file/impl/archive/ZipArchiveFlowTest.scala
  file/src/test/scala/docs/scaladsl/ArchiveSpec.scala
Labels: p:file

#2095 S3 request uri: include empty trailing slashes for the key
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
Labels: p:aws-s3, to-be-backported

#2056 sbt 1.3.7 and new style check
  .jvmopts-travis
  .travis.yml
  build.sbt
  docs/src/test/java/akka/stream/alpakka/eip/javadsl/SplitterExamples.java
  project/build.properties
  project/plugins.sbt
Labels: alpakka-itself, documentation

#2086 AWS S3: bucket name and object key validation
  s3/src/main/mima-filters/2.0.0-M2.backwards.excludes
  s3/src/main/resources/reference.conf
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/model.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/scala/akka/stream/alpakka/s3/S3SettingsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
  s3/src/test/scala/docs/scaladsl/S3SinkSpec.scala
  s3/src/test/scala/docs/scaladsl/S3SourceSpec.scala
Labels: p:aws-s3

#2093 Elasticsearch: Flow implementation using RetryFlow
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/mima-filters/2.0.0-M2.backwards.excludes/PR2093.excludes
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchWriteSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/backport/RetryFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/backport/RetryFlowCoordinator.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
Labels: documentation, p:elasticsearch

#1667 AWS Kinesis KCL streams support
  build.sbt
  docs/src/main/paradox/kinesis.md
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/CommittableRecord.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisSchedulerErrors.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisSchedulerSettings.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/KinesisSchedulerSourceStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/KinesisSourceStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/ShardProcessor.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/javadsl/KinesisSchedulerSource.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisSchedulerSource.scala
  kinesis/src/test/java/docs/javadsl/KclSnippets.java
  kinesis/src/test/java/docs/javadsl/KinesisSnippets.java
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/DefaultTestContext.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisSchedulerSourceSpec.scala
  kinesis/src/test/scala/docs/scaladsl/KclSnippets.scala
  project/Dependencies.scala
Labels: dependency-change, documentation, p:kinesis, p:new

#2099 AWS S3: change default to virtual-host-style access
  project/Dependencies.scala
  s3/src/main/resources/reference.conf
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
  s3/src/test/scala/docs/scaladsl/S3SourceSpec.scala
Labels: api-change, dependency-change, p:aws-s3

#2067 JMS: Fix memory leak in connection status
  docs/src/main/paradox/jms/browse.md
  docs/src/main/paradox/jms/consumer.md
  docs/src/main/paradox/jms/producer.md
  jms/src/main/mima-filters/2.0.0-M2.backwards.excludes/PR2067.excludes
  jms/src/main/resources/reference.conf
  jms/src/main/scala/akka/stream/alpakka/jms/JmsBrowseSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsProducerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/SourceStageLogic.scala
Labels: documentation, p:jms

#2105 Files: Compare input data in zip archive tests
  file/src/test/java/docs/javadsl/ArchiveHelper.java
  file/src/test/java/docs/javadsl/ArchiveTest.java
  file/src/test/scala/docs/scaladsl/ArchiveSpec.scala
Labels: p:file

#2104 JMS: test case for TX sources with broker restart
  docs/src/main/paradox/jms/browse.md
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsAckSourceStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsConsumerStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsTxSourceStage.scala
  jms/src/test/scala/docs/scaladsl/JmsTxConnectorsSpec.scala
Labels: documentation, p:jms

#2111 FTP: error on failed delete/move
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/CommonFtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpIOGraphStage.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
Labels: p:ftp

#2113 Docs: link to Akka update strategy
  docs/src/main/paradox/mqtt-streaming.md
  docs/src/main/paradox/other-docs/versioning.md
  docs/src/main/paradox/overview.md
Labels: documentation
