Repository akka/alpakka, pull requests merged in 2020-03, with the labels that each got.

#2173 FTP: Harden move/remove tests
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpIOGraphStage.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
Labels: p:ftp

#2162 S3: Ensure S3Settings is resolved once per actor system
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/S3StreamSpec.scala
Labels: p:aws-s3

#2174 Unix Domain Socket: use class as log source
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/impl/UnixDomainSocketImpl.scala
Labels: p:unix-domain-socket

#2175 FTP: Add diagnostics to Java FTP move/remove tests
  ftp/src/test/java/akka/stream/alpakka/ftp/CommonFtpStageTest.java
Labels: p:ftp

#2177 Google Cloud Storage: fix package names
  google-cloud-storage/src/main/mima-filters/2.0.0-M3.backwards.excludes
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/CustomerEncryption.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/ObjectAccessControls.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/Owner.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/ProjectTeam.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/StorageObject.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/Formats.scala
Labels: api-change, p:google-cloud-storage

#2176 GCS - Owner entityId should be optional
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/Owner.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/Formats.scala
Labels: p:google-cloud-storage

#2179 Docs: Add MapR Database
  docs/src/main/paradox/external/mapr.md
  docs/src/main/paradox/index.md
Labels: documentation

#2116 AWS S3: Retry multipart chunk uploads on transient errors using RetryFlow
  s3/src/main/resources/reference.conf
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/backport/RetryFlow.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/backport/RetryFlowCoordinator.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/scala/akka/stream/alpakka/s3/S3SettingsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
  s3/src/test/scala/docs/scaladsl/S3SinkSpec.scala
Labels: p:aws-s3

#2184 MQTT Streaming: protocol version
  docs/src/main/paradox/mqtt-streaming.md
Labels: documentation, p:mqtt-streaming

#2182 Cassandra: rewrite on top of Java driver 4.6.0
  build.sbt
  cassandra/src/main/mima-filters/1.1.x.backwards.excludes
  cassandra/src/main/mima-filters/2.0.0-M3.backwards.excludes/cassandra-rewrite.backwards.excludes
  cassandra/src/main/resources/reference.conf
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/AkkaDiscoverySessionProvider.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CassandraMetricsRegistry.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CassandraServerMetaData.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CassandraSessionSettings.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CassandraWriteSettings.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CqlSessionProvider.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/DriverConfigLoaderFromConfig.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/impl/CassandraSourceStage.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/impl/GuavaFutures.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraFlow.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSession.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSessionRegistry.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSink.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSource.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraFlow.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSession.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSessionRegistry.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSink.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSource.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/settings.scala
  cassandra/src/test/java/docs/javadsl/CassandraFlowTest.java
  cassandra/src/test/java/docs/javadsl/CassandraSourceTest.java
  cassandra/src/test/java/docs/javadsl/CassandraTestHelper.java
  cassandra/src/test/resources/application.conf
  cassandra/src/test/resources/logback-test.xml
  cassandra/src/test/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraLifecycle.scala
  cassandra/src/test/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSessionPerformanceSpec.scala
  cassandra/src/test/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSpecBase.scala
  cassandra/src/test/scala/docs/javadsl/CassandraSessionSpec.scala
  cassandra/src/test/scala/docs/scaladsl/AkkaDiscoverySpec.scala
  cassandra/src/test/scala/docs/scaladsl/CassandraFlowSpec.scala
  cassandra/src/test/scala/docs/scaladsl/CassandraSourceSpec.scala
  docker-compose.yml
  docs/src/main/paradox/cassandra.md
  project/Dependencies.scala
  project/project-info.conf
Labels: p:cassandra

#2183 Build: Mima 0.7.0 and sbt-scalafmt 2.3.2
  project/Common.scala
  project/plugins.sbt
  s3/src/main/mima-filters/2.0.0-M3.backwards.excludes
Labels: alpakka-itself

#2201 Cassandra: exclude gremlin-core from transitive deps
  project/Dependencies.scala
Labels: dependency-change, p:cassandra

#2206 Update Akka to 2.5.30
  build.sbt
  project/Dependencies.scala
Labels: dependency-change

#2208 Unix Domain Socket: improve test assertions
  unix-domain-socket/src/test/scala/docs/scaladsl/UnixDomainSocketSpec.scala
Labels: p:unix-domain-socket

#2195 Cassandra: add methods for new actors API (Akka 2.6.4)
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSessionRegistry.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSession.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSessionRegistry.scala
  cassandra/src/test/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSpecBase.scala
  project/Dependencies.scala
Labels: dependency-change, p:cassandra

#2207 MQTT Streaming: improve logging
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/resources/logback-test.xml
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
Labels: p:mqtt-streaming

#2210 MQTT: improve MqttFlowSpec
  mqtt/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
Labels: p:mqtt

#2214 Cassandra: new actors API in Metrics Registry
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CassandraMetricsRegistry.scala
Labels: p:cassandra

#2211 AWS S3: add methods for the new actors API
  s3/src/main/mima-filters/2.0.0-M3.backwards.excludes
  s3/src/main/scala/akka/stream/alpakka/s3/S3Ext.scala
Labels: p:aws-s3

#2212 Unix Domain Socket: add access with new actors API
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/javadsl/UnixDomainSocket.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
Labels: p:unix-domain-socket

#2217 Google Cloud Pub/Sub: require JSON responses
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApi.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSpec.scala
Labels: p:google-cloud-pub-sub

#2197 Couchbase: add methods for new actors API
  couchbase/src/main/mima-filters/2.0.0-M3.backwards.excludes/ClassicActorSystemProvider
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/CouchbaseSessionRegistry.scala
Labels: dependency-change, p:couchbase

#2215 Review release train template
  build.sbt
  docs/release-train-issue-template.md
  scripts/create-release-issue.sh
Labels: documentation

#2213 Google Cloud Storage: add access with new actors API
  google-cloud-storage/src/main/mima-filters/2.0.0-M3.backwards.excludes
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/GCStorageExt.scala
Labels: p:google-cloud-storage

#2193 AWS S3: virtual-host-style access with endpoint URL
  build.sbt
  docker-compose.yml
  s3/src/main/mima-filters/2.0.0-M3.backwards.excludes/PR2183
  s3/src/main/mima-filters/2.0.0-M3.backwards.excludes/PR2193
  s3/src/main/resources/reference.conf
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/scala/akka/stream/alpakka/s3/S3SettingsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
Labels: p:aws-s3

#2198 Google Cloud Pub/Sub gRPC: hide materializer, support new actors API
  build.sbt
  docs/src/main/paradox/google-cloud-pub-sub-grpc.md
  google-cloud-pub-sub-grpc/src/main/mima-filters/2.0.0-M3.backwards.excludes/Akka-gRPC-upgrade
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/PubSubSettings.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GrpcPublisher.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GrpcSubscriber.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GrpcPublisher.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GrpcSubscriber.scala
  google-cloud-pub-sub-grpc/src/test/java/docs/javadsl/IntegrationTest.java
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/IntegrationSpec.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: dependency-change, documentation, p:google-cloud-pub-sub-grpc

#2187 MongoDB: replaceOne operation
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/DocumentReplace.scala
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/javadsl/MongoFlow.scala
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/javadsl/MongoSink.scala
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/scaladsl/MongoFlow.scala
  mongodb/src/main/scala/akka/stream/alpakka/mongodb/scaladsl/MongoSink.scala
  mongodb/src/test/java/docs/javadsl/DomainObject.java
  mongodb/src/test/java/docs/javadsl/MongoSinkTest.java
  mongodb/src/test/scala/docs/scaladsl/MongoSinkSpec.scala
Labels: p:mongodb

#2196 MQTT streaming: ClassicActorSystemProvider in the API
  mqtt-streaming/src/main/mima-filters/2.0.0-M3.backwards.excludes/ClassicActorSystemProvider
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/javadsl/MqttSession.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/java/docs/javadsl/MqttFlowTest.java
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttActorSystemsSpec.scala
Labels: p:mqtt-streaming

#2220 Cassandra: show reconnect-on-init
  cassandra/src/test/resources/application.conf
  docs/src/main/paradox/cassandra.md
Labels: p:cassandra

#2166 Google pub/sub gRPC: allow sync poll using PullRequest
  docs/src/main/paradox/google-cloud-pub-sub-grpc.md
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GooglePubSub.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GooglePubSub.scala
  google-cloud-pub-sub-grpc/src/test/java/docs/javadsl/IntegrationTest.java
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/IntegrationSpec.scala
Labels: documentation, p:google-cloud-pub-sub-grpc

#2222 2.0.0-RC1 release notes
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/release-notes/2.0.x/cassandra.md
  docs/src/main/paradox/release-notes/2.0.x/couchbase.md
  docs/src/main/paradox/release-notes/2.0.x/ftp.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/2.0.x/mongodb.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt.md
  docs/src/main/paradox/release-notes/2.0.x/s3.md
  docs/src/main/paradox/release-notes/2.0.x/unix-domain-socket.md
Labels: documentation

#2223 2.0.0-RC1 contributors
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation

#2224 Kinesis: more descriptive Source error log
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/KinesisErrors.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/KinesisSourceStage.scala
Labels: p:kinesis

#2227 Cassandra: apply Netty exclusion; exclude all Tinkerpop and Esri Geometry depenencies
  cassandra/src/test/java/docs/javadsl/CassandraFlowTest.java
  cassandra/src/test/java/docs/javadsl/CassandraSourceTest.java
  cassandra/src/test/resources/application.conf
  cassandra/src/test/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSpecBase.scala
  project/Dependencies.scala
Labels: dependency-change, p:cassandra

#2229 Fix flicker test in Kinesis KCL
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisSchedulerSourceSpec.scala
  testkit/src/main/scala/akka.stream.alpakka.testkit/scaladsl/Repeated.scala
Labels: p:kinesis

#2235 AWS library updates
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttActorSystemsSpec.scala
  project/Dependencies.scala
Labels: dependency-change, p:aws-lambda, p:aws-s3, p:aws-sns, p:aws-sqs, p:kinesis

#2236 MQTT: Paho client 1.2.2
  project/Dependencies.scala
Labels: dependency-change, p:mqtt

#2234 Unix Domain Socket: latest dependencies
  project/Dependencies.scala
Labels: dependency-change, p:unix-domain-socket

#2233 Google Cloud Pub/Sub gRPC: use Akka gRPC to 0.8.1
  build.sbt
  project/plugins.sbt
Labels: dependency-change, p:google-cloud-pub-sub-grpc

#2238 HDFS: use Hadoop 3.2.1
  hdfs/src/test/java/docs/javadsl/HdfsWriterTest.java
  project/Dependencies.scala
Labels: dependency-change, p:hdfs

#2149 Pravega connector
  .travis.yml
  build.sbt
  docker-compose.yml
  docs/src/main/paradox/cassandra.md
  docs/src/main/paradox/index.md
  docs/src/main/paradox/pravega.md
  pravega/src/main/java/akka/stream/alpakka/pravega/javadsl/Pravega.java
  pravega/src/main/resources/reference.conf
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaEvent.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaSettings.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaCapabilities.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaFlow.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaReader.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaSource.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaWriter.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/scaladsl/Pravega.scala
  pravega/src/test/java/akka/stream/alpakka/pravega/PravegaAkkaTestCaseSupport.java
  pravega/src/test/java/akka/stream/alpakka/pravega/PravegaGraphTestCase.java
  pravega/src/test/java/docs/javadsl/PravegaBaseTestCase.java
  pravega/src/test/java/docs/javadsl/PravegaReadWriteDocs.java
  pravega/src/test/java/docs/javadsl/PravegaSettingsTestCase.java
  pravega/src/test/resources/application.conf
  pravega/src/test/resources/logback-test.xml
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaAkkaSpecSupport.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaBaseSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaGraphSpec.scala
  pravega/src/test/scala/docs/scaladsl/PravegaReadWriteDocs.scala
  pravega/src/test/scala/docs/scaladsl/PravegaSettingsSpec.scala
  project/Dependencies.scala
  project/project-info.conf
Labels: dependency-change, documentation, p:new

#2239 Couchbase: use client 2.7.13
  project/Dependencies.scala
Labels: dependency-change

#2240 JSON Streaming: Jsurfer 1.6.0
  project/Dependencies.scala
Labels: dependency-change, p:json-streaming

#2243 HBase: Removed duplicated word in spec
  hbase/src/test/scala/docs/scaladsl/HBaseStageSpec.scala
Labels: p:hbase

#2249 Docs: review links to point to current versions
  build.sbt
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraFlow.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraFlow.scala
  csv/src/main/java/akka/stream/alpakka/csv/javadsl/ByteOrderMark.java
  csv/src/main/scala/akka/stream/alpakka/csv/scaladsl/ByteOrderMark.scala
  docs/src/main/paradox/_template/logo.st
  docs/src/main/paradox/awslambda.md
  docs/src/main/paradox/azure-storage-queue.md
  docs/src/main/paradox/cassandra.md
  docs/src/main/paradox/data-transformations/csv.md
  docs/src/main/paradox/data-transformations/simple-codecs.md
  docs/src/main/paradox/elasticsearch.md
  docs/src/main/paradox/external/db2-event-store.md
  docs/src/main/paradox/ftp.md
  docs/src/main/paradox/geode.md
  docs/src/main/paradox/google-cloud-pub-sub.md
  docs/src/main/paradox/ironmq.md
  docs/src/main/paradox/jms/consumer.md
  docs/src/main/paradox/jms/producer.md
  docs/src/main/paradox/kafka.md
  docs/src/main/paradox/kinesis.md
  docs/src/main/paradox/kudu.md
  docs/src/main/paradox/orientdb.md
  docs/src/main/paradox/other-docs/webinars-presentations-articles.md
  docs/src/main/paradox/patterns.md
  docs/src/main/paradox/s3.md
  docs/src/main/paradox/slick.md
  docs/src/main/paradox/sns.md
  docs/src/main/paradox/solr.md
  docs/src/main/paradox/spring-web.md
  docs/src/main/paradox/sqs.md
  project/Common.scala
  s3/src/main/scala/akka/stream/alpakka/s3/model.scala
Labels: documentation

#2246 Pravega fix checkpointing (and timeout)
  pravega/src/main/resources/reference.conf
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaSource.scala
  pravega/src/test/java/akka/stream/alpakka/pravega/PravegaGraphTestCase.java
  pravega/src/test/resources/application.conf
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaGraphSpec.scala
Labels: p:pravega

#2250 HDFS: remove test dependency classifier
  project/Dependencies.scala
Labels: dependency-change, p:hdfs

#2169 Google PubSub: subscribe as a flow
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/javadsl/GooglePubSub.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/scaladsl/GooglePubSub.scala
  google-cloud-pub-sub/src/test/java/docs/javadsl/ExampleUsageJava.java
  google-cloud-pub-sub/src/test/scala/docs/scaladsl/ExampleUsage.scala
Labels: p:google-cloud-pub-sub

#2251 Add Pravega to auto labeler
  .github/autolabeler.yml
Labels: p:pravega

#2241 File: TAR archive generation
  docs/src/main/paradox/file.md
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/EnsureByteStreamSize.scala
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/TarArchiveEntry.scala
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/TarArchiveManager.scala
  file/src/main/scala/akka/stream/alpakka/file/javadsl/Archive.scala
  file/src/main/scala/akka/stream/alpakka/file/model.scala
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/Archive.scala
  file/src/test/java/docs/javadsl/ArchiveTest.java
  file/src/test/scala/docs/scaladsl/ArchiveSpec.scala
  file/src/test/scala/docs/scaladsl/ExecutableUtils.scala
Labels: documentation, p:file
