Repository akka/alpakka, pull requests merged in 2020-02, with the labels that each got.

#2122 Make sure the correct javax.jms dependency is always fetched
  project/Dependencies.scala
Labels: p:jms

#2119 Fix Java Unit Test docs example in Unix Domain Sockets
  unix-domain-socket/src/test/java/docs/javadsl/UnixDomainSocketTest.java
Labels: p:unix-domain-socket

#2129 UnixDomainSocketTest: await domain socket binding before connecting
  unix-domain-socket/src/test/java/docs/javadsl/UnixDomainSocketTest.java
  unix-domain-socket/src/test/scala/docs/scaladsl/UnixDomainSocketSpec.scala
Labels: p:unix-domain-socket

#2131 error handling for UnixDomainSocketTest
  unix-domain-socket/src/test/java/docs/javadsl/UnixDomainSocketTest.java
Labels: p:unix-domain-socket

#2125 Update to sbt 1.3.8
  project/Dependencies.scala
  project/build.properties
Labels: alpakka-itself

#2133 Don't create ~/.coursier on travis
  .travis.yml
Labels: alpakka-itself

#2132 Allow filtering LogCapturing by source actor system
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
  testkit/src/main/scala/akka.stream.alpakka.testkit/CapturingAppender.scala
  testkit/src/main/scala/akka.stream.alpakka.testkit/LogbackUtil.scala
  testkit/src/main/scala/akka.stream.alpakka.testkit/javadsl/LogCapturingJunit4.scala
  testkit/src/main/scala/akka.stream.alpakka.testkit/scaladsl/LogCapturing.scala
Labels: p:mqtt-streaming

#2136 AWS SDK 2.10.60
  project/Dependencies.scala
Labels: dependency-change, p:aws-lambda, p:aws-s3, p:aws-sns, p:aws-sqs, p:dynamodb, p:kinesis

#2108 Unix domain socket: upgrade dependencies; remove classifier
  project/Dependencies.scala
Labels: dependency-change, p:unix-domain-socket

#2118 MQTT streaming: target Akka 2.6
  build.sbt
  docs/src/main/paradox/mqtt-streaming.md
  docs/src/main/paradox/overview.md
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ClientState.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/MqttSession.scala
  mqtt-streaming/src/test/scala/akka/stream/alpakka/mqtt/streaming/impl/MqttFrameStageSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
  project/Dependencies.scala
Labels: dependency-change, documentation, p:mqtt-streaming

#2144 FTP: Support username/password credentials and key for login
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
Labels: p:ftp

#2147 Sbt plugin updates
  project/plugins.sbt
Labels: alpakka-itself

#2146 Google Storage & Pub-Sub: Retry google token requests on 5xx
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleRetry.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleTokenApi.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/backport/RetryFlow.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/backport/RetryFlowCoordinator.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleTokenApiSpec.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GoogleRetry.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GoogleTokenApi.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/backport/RetryFlow.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/backport/RetryFlowCoordinator.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/impl/GoogleTokenApiSpec.scala
Labels: p:google-cloud-pub-sub, p:google-cloud-storage

#2153 SQS:spelling of visibilityTimeout in SqsSourceSettings#toString
  sqs/src/main/scala/akka/stream/alpakka/sqs/SqsSourceSettings.scala
Labels: p:aws-sqs

#2156 Docs: link to akka.io for gRPC
  docs/src/main/paradox/external/grpc.md
Labels: documentation

#2154 FTP: enrich ConnectException; track failures
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpOperations.scala
  ftp/src/test/java/akka/stream/alpakka/ftp/CommonFtpStageTest.java
Labels: p:ftp

#2157 Docs: use `@apidoc` much more
  docs/src/main/paradox/avroparquet.md
  docs/src/main/paradox/awslambda.md
  docs/src/main/paradox/couchbase.md
  docs/src/main/paradox/data-transformations/compression.md
  docs/src/main/paradox/data-transformations/json.md
  docs/src/main/paradox/data-transformations/parsing-lines.md
  docs/src/main/paradox/data-transformations/simple-codecs.md
  docs/src/main/paradox/data-transformations/xml.md
  docs/src/main/paradox/elasticsearch.md
  docs/src/main/paradox/file.md
  docs/src/main/paradox/google-cloud-storage.md
  docs/src/main/paradox/jms/consumer.md
  docs/src/main/paradox/jms/producer.md
  docs/src/main/paradox/mongodb.md
  docs/src/main/paradox/s3.md
  docs/src/main/paradox/slick.md
  docs/src/main/paradox/sns.md
  docs/src/main/paradox/sqs.md
  docs/src/main/paradox/udp.md
Labels: documentation

#2107 Google Pub/Sub gRPC: remove bundled certificate
  docs/src/main/paradox/google-cloud-pub-sub-grpc.md
  google-cloud-pub-sub-grpc/src/main/resources/GoogleInternetAuthorityG3.crt
  google-cloud-pub-sub-grpc/src/main/resources/reference.conf
Labels: documentation, p:google-cloud-pub-sub-grpc

#2155 Docs: show akka-stream with symbolic version
  docs/src/main/paradox/amqp.md
  docs/src/main/paradox/avroparquet.md
  docs/src/main/paradox/awslambda.md
  docs/src/main/paradox/azure-storage-queue.md
  docs/src/main/paradox/cassandra.md
  docs/src/main/paradox/couchbase.md
  docs/src/main/paradox/data-transformations/csv.md
  docs/src/main/paradox/data-transformations/json.md
  docs/src/main/paradox/data-transformations/simple-codecs.md
  docs/src/main/paradox/data-transformations/text.md
  docs/src/main/paradox/data-transformations/xml.md
  docs/src/main/paradox/dynamodb.md
  docs/src/main/paradox/elasticsearch.md
  docs/src/main/paradox/file.md
  docs/src/main/paradox/ftp.md
  docs/src/main/paradox/geode.md
  docs/src/main/paradox/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/google-cloud-pub-sub.md
  docs/src/main/paradox/google-cloud-storage.md
  docs/src/main/paradox/google-fcm.md
  docs/src/main/paradox/hbase.md
  docs/src/main/paradox/hdfs.md
  docs/src/main/paradox/influxdb.md
  docs/src/main/paradox/ironmq.md
  docs/src/main/paradox/kinesis.md
  docs/src/main/paradox/kudu.md
  docs/src/main/paradox/mongodb.md
  docs/src/main/paradox/mqtt-streaming.md
  docs/src/main/paradox/mqtt.md
  docs/src/main/paradox/orientdb.md
  docs/src/main/paradox/reference.md
  docs/src/main/paradox/s3.md
  docs/src/main/paradox/slick.md
  docs/src/main/paradox/sns.md
  docs/src/main/paradox/solr.md
  docs/src/main/paradox/spring-web.md
  docs/src/main/paradox/sqs.md
  docs/src/main/paradox/sse.md
  docs/src/main/paradox/udp.md
  docs/src/main/paradox/unix-domain-socket.md
  project/plugins.sbt
Labels: documentation

#2159 2.0.0-M3 Release Notes
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/release-notes/2.0.x/awslambda.md
  docs/src/main/paradox/release-notes/2.0.x/dynamodb.md
  docs/src/main/paradox/release-notes/2.0.x/elasticsearch.md
  docs/src/main/paradox/release-notes/2.0.x/file.md
  docs/src/main/paradox/release-notes/2.0.x/ftp.md
  docs/src/main/paradox/release-notes/2.0.x/geode.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/2.0.x/jms.md
  docs/src/main/paradox/release-notes/2.0.x/kinesis.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/2.0.x/s3.md
  docs/src/main/paradox/release-notes/2.0.x/sns.md
  docs/src/main/paradox/release-notes/2.0.x/sqs.md
  docs/src/main/paradox/release-notes/2.0.x/unix-domain-socket.md
Labels: documentation

#2158 DynamoDB: Java API with Try may change
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDb.scala
Labels: p:dynamodb

#2161 Release template updates
  docs/release-train-issue-template.md
Labels: documentation

#2164 Better handling of invalid credentials for Google Pub Sub and Cloud Storage connectors
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleTokenApi.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleTokenApiSpec.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GoogleTokenApi.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/impl/GoogleTokenApiSpec.scala
Labels: p:google-cloud-pub-sub, p:google-cloud-storage

#2165 make some gcs object metadata fields optional
  google-cloud-storage/src/main/mima-filters/2.0.0-M3.backwards.excludes
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/StorageObject.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/Formats.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
Labels: p:google-cloud-pub-sub, p:google-cloud-storage
