Repository akka/alpakka, pull requests merged in 2020-10, with the labels that each got.

#2430 Pravega 0.8
  docker-compose.yml
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaSettings.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaSource.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaBaseSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaGraphSpec.scala
  project/Dependencies.scala
Labels: dependency-change, p:pravega

#2442 Pravega: keyExtractor not set
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaSettings.scala
Labels: p:pravega

#2438 Add some diagnostics for #2437
  unix-domain-socket/src/test/scala/docs/scaladsl/UnixDomainSocketSpec.scala
Labels: p:unix-domain-socket

#2444 FTP: Ignore flakey remove/move tests
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpWithProxyStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpsStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpsWithProxyStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/SftpStageTest.java
  ftp/src/test/java/akka/stream/alpakka/ftp/SftpWithProxyStageTest.java
Labels: p:ftp

#2433 MQTT streaming: log the stash at clientConnect
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/impl/ServerState.scala
Labels: p:mqtt-streaming

#2449 Google Pub/Sub: lock emulator version to 313.0.1
  docker-compose.yml
Labels: p:google-cloud-pub-sub, p:google-cloud-pub-sub-grpc

#2450 MQTT Streaming: Ignore a flaky test
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttFlowSpec.scala
Labels: p:mqtt-streaming

#2454 Google Pub-Sub: Switch to older emulator image
  docker-compose.yml
Labels: p:google-cloud-pub-sub, p:google-cloud-pub-sub-grpc

#2451 Google FCM: Forward proxy
  google-fcm/src/main/mima-filters/2.0.x.backwards.excludes
  google-fcm/src/main/resources/reference.conf
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/FcmSettings.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/ForwardProxyHttpsContext.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/ForwardProxyPoolSettings.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmFlows.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmSender.scala
  google-fcm/src/main/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleTokenApi.scala
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/impl/FcmSenderSpec.scala
  google-fcm/src/test/scala/akka/stream/alpakka/google/firebase/fcm/impl/GoogleTokenApiSpec.scala
Labels: p:google-fcm

#2419 Catch and fix more warnings in Java sources
  aws-event-bridge/src/test/java/docs/javadsl/EventBridgePublisherTest.java
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchTest.java
  file/src/main/java/akka/stream/alpakka/file/impl/DirectoryChangesSource.java
  file/src/main/java/akka/stream/alpakka/file/javadsl/DirectoryChangesSource.java
  jms/src/test/java/docs/javadsl/JmsConnectorsTest.java
  orientdb/src/test/java/docs/javadsl/OrientDbTest.java
  project/Common.scala
Labels: p:aws-event-bridge, p:elasticsearch, p:file, p:jms, p:orientdb

#2459 CI: clean Travis caches explicitly
  .travis.yml
Labels: alpakka-itself

#2460 CSV: remove materializer
  build.sbt
  csv/src/test/java/docs/javadsl/CsvFormattingTest.java
  csv/src/test/java/docs/javadsl/CsvParsingTest.java
  csv/src/test/java/docs/javadsl/CsvToMapTest.java
  csv/src/test/scala/docs/scaladsl/CsvSpec.scala
Labels: p:csv

#2508 Cassandra: use Akka 2.6
  build.sbt
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraFlow.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSession.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSessionRegistry.scala
  cassandra/src/test/java/docs/javadsl/CassandraFlowTest.java
  cassandra/src/test/java/docs/javadsl/CassandraSourceTest.java
  cassandra/src/test/java/docs/javadsl/CassandraTestHelper.java
Labels: p:cassandra
