Repository akka/alpakka, pull requests merged in 2020-06, with the labels that each got.

#2330 ElasticsearchSource: Clear Scroll On Exhaustion or Completion
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSourceStage.scala
Labels: p:elasticsearch

#2333 Removed obsolete reference config for Alpakka DynamoDB
  dynamodb/src/main/resources/reference.conf
Labels: p:dynamodb

#2272 Elasticsearch: Support the routing parameter
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSourceStage.scala
Labels: documentation, p:elasticsearch

#2331 Kinesis: Construction safe API
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/ShardIterator.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/ShardSettings.scala
  kinesis/src/test/java/docs/javadsl/KinesisSnippets.java
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisSourceSpec.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/ShardSettingsSpec.scala
  kinesis/src/test/scala/docs/scaladsl/KinesisSnippets.scala
Labels: p:kinesis

#2320 Cassandra: Driver 4.6.1 (Remove netty override)
  project/Dependencies.scala
Labels: dependency-change, p:cassandra

#2336 S3: URI pattern to support all regions
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MarshallingSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/auth/CanonicalRequestSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3WireMockBase.scala
Labels: p:aws-s3

#2340 Docs: fix Couchbase link to DiscoverySupport API
  docs/src/main/paradox/couchbase.md
Labels: documentation, p:couchbase

#2341 AWS S3: parse error replies
  s3/src/main/scala/akka/stream/alpakka/s3/S3Exception.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/test/scala/akka/stream/alpakka/s3/S3ExceptionSpec.scala
Labels: p:aws-s3

#2337 Docs: AWS Eventbridge link
  .github/autolabeler.yml
  .github/release-drafter.yml
  docs/src/main/paradox/aws-event-bridge.md
  project/project-info.conf
Labels: documentation, p:aws-event-bridge

#2343 Jackson 2.10.4 (was 2.10.3)
  project/Dependencies.scala
Labels: dependency-change

#2342 2.0.1 Release Notes
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/release-notes/2.0.x/aws-event-bridge.md
  docs/src/main/paradox/release-notes/2.0.x/awslambda.md
  docs/src/main/paradox/release-notes/2.0.x/cassandra.md
  docs/src/main/paradox/release-notes/2.0.x/csv.md
  docs/src/main/paradox/release-notes/2.0.x/dynamodb.md
  docs/src/main/paradox/release-notes/2.0.x/elasticsearch.md
  docs/src/main/paradox/release-notes/2.0.x/file.md
  docs/src/main/paradox/release-notes/2.0.x/kinesis.md
  docs/src/main/paradox/release-notes/2.0.x/s3.md
  docs/src/main/paradox/release-notes/2.0.x/sns.md
  docs/src/main/paradox/release-notes/2.0.x/sqs.md
Labels: documentation

#2344 json-streaming: fix generated POM
  project/Dependencies.scala
Labels: dependency-change, p:json-streaming

#2345 Pravega 0.7.1 (was 0.7.0)
  docker-compose.yml
  project/Dependencies.scala
Labels: dependency-change, p:pravega

#2332 File: Fail LogRotatorSink on failures in the sinks
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/LogRotatorSink.scala
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
Labels: p:file

#2318 Slick/JDBC: Support `PreparedStatement` use in Java DSL
  slick/src/main/scala/akka/stream/alpakka/slick/javadsl/Slick.scala
  slick/src/test/java/docs/javadsl/DocSnippetFlow.java
  slick/src/test/java/docs/javadsl/DocSnippetFlowWithPassThrough.java
  slick/src/test/java/docs/javadsl/DocSnippetSink.java
  slick/src/test/java/docs/javadsl/SlickTest.java
Labels: documentation, p:slick
