Repository akka/alpakka, pull requests merged in 2020-04, with the labels that each got.

#2253 Geode 1.12.0
  docker-compose.yml
  geode/src/main/scala-2.11/akka/stream/alpakka/geode/GeodeSettings.scala
  project/Dependencies.scala
Labels: dependency-change, p:geode

#2254 Akka 2.5.31 and prefer `ClassicActorSystemProvider`
  cassandra/src/main/resources/reference.conf
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CassandraMetricsRegistry.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CqlSessionProvider.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSessionRegistry.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSessionRegistry.scala
  couchbase/src/main/java/akka/stream/alpakka/couchbase/javadsl/DiscoverySupport.java
  couchbase/src/main/mima-filters/2.0.0-RC1.backwards.excludes/ClassicActorSystemProvider.excludes
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/CouchbaseSessionRegistry.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/DiscoverySupport.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GooglePubSub.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GrpcPublisher.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GrpcSubscriber.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GrpcPublisher.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GrpcSubscriber.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/GCStorageExt.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/GCStorageSettings.scala
  kudu/src/main/mima-filters/2.0.0-RC1.backwards.excludes/ClassicActorSystemProvider.excludes
  kudu/src/main/scala/akka/stream/alpakka/kudu/KuduClientExt.scala
  project/Dependencies.scala
  reference/src/main/scala/akka/stream/alpakka/reference/Resource.scala
  s3/src/main/scala/akka/stream/alpakka/s3/S3Ext.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  udp/src/main/scala/akka/stream/alpakka/udp/scaladsl/Udp.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/javadsl/UnixDomainSocket.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
Labels: dependency-change, p:aws-s3, p:cassandra, p:couchbase, p:google-cloud-pub-sub-grpc, p:google-cloud-storage, p:kudu, p:reference, p:udp, p:unix-domain-socket

#2259 Google Cloud Pub/Sub gRPC: Update to Akka gRPC 0.8.3
  project/Dependencies.scala
  project/plugins.sbt
Labels: dependency-change, p:google-cloud-pub-sub-grpc

#2260 2.0.0-RC2 Release notes
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/release-notes/2.0.x/awslambda.md
  docs/src/main/paradox/release-notes/2.0.x/cassandra.md
  docs/src/main/paradox/release-notes/2.0.x/couchbase.md
  docs/src/main/paradox/release-notes/2.0.x/file.md
  docs/src/main/paradox/release-notes/2.0.x/geode.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/2.0.x/hdfs.md
  docs/src/main/paradox/release-notes/2.0.x/json-streaming.md
  docs/src/main/paradox/release-notes/2.0.x/kinesis.md
  docs/src/main/paradox/release-notes/2.0.x/kudu.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt.md
  docs/src/main/paradox/release-notes/2.0.x/pravega.md
  docs/src/main/paradox/release-notes/2.0.x/s3.md
  docs/src/main/paradox/release-notes/2.0.x/sns.md
  docs/src/main/paradox/release-notes/2.0.x/sqs.md
  docs/src/main/paradox/release-notes/2.0.x/udp.md
  docs/src/main/paradox/release-notes/2.0.x/unix-domain-socket.md
Labels: documentation

#2263 AMQP: fix StackOverflowException in AbstractAmqpAsyncFlowStageLogic
  amqp/src/main/scala/akka/stream/alpakka/amqp/impl/AbstractAmqpAsyncFlowStageLogic.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpFlowSpec.scala
Labels: p:amqp

#2261 JMS: create settings from new actors API
  jms/src/main/scala/akka/stream/alpakka/jms/JmsBrowseSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsProducerSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/SendRetrySettings.scala
Labels: p:jms

#2262 Couchbase: settings from ClassicActorSystemProvider
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/model.scala
Labels: p:couchbase

#2265 Docs: official InfluxDB client
  docs/src/main/paradox/influxdb.md
  docs/src/main/paradox/release-notes/2.0.x/kinesis.md
  docs/src/main/paradox/release-notes/2.0.x/s3.md
Labels: documentation, p:influxdb

#2266 Pravega: enable MiMa
  build.sbt
Labels: p:pravega

#2278 Build: fix running tests
  csv/src/test/java/docs/javadsl/CsvFormattingTest.java
  scripts/travis.sh
Labels: p:csv

#2268 File: TAR archive reader
  docs/src/main/paradox/file.md
  file/src/main/mima-filters/2.0.0-RC2.backwards.excludes/PR2268-tar-reader.excludes
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/TarArchiveEntry.scala
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/TarReaderStage.scala
  file/src/main/scala/akka/stream/alpakka/file/javadsl/Archive.scala
  file/src/main/scala/akka/stream/alpakka/file/model.scala
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/Archive.scala
  file/src/test/java/docs/javadsl/ArchiveTest.java
  file/src/test/scala/akka/stream/alpakka/file/impl/archive/TarArchiveEntrySpec.scala
  file/src/test/scala/docs/scaladsl/ArchiveSpec.scala
  file/src/test/scala/docs/scaladsl/TarArchiveSpec.scala
Labels: documentation, p:file

#2269 Google Cloud Storage: emit more chunks when input is closed
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/Chunker.scala
Labels: p:google-cloud-storage

#2280 AMQP: isolate mock
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpFlowSpec.scala
Labels: p:amqp

#2270 AWS S3: Allow source keys with non-ASCII characters
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
Labels: p:aws-s3

#2284 Build: Akka HTTP 10.2 in cron build
  build.sbt
  project/Common.scala
  project/Dependencies.scala
  sse/src/test/scala/docs/scaladsl/EventSourceSpec.scala
Labels: alpakka-itself, dependency-change, p:sse

#2289 MQTT: avoid completing promise on reconnect
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/impl/MqttFlowStage.scala
Labels: p:mqtt

#2290 Google Cloud Pub/Sub gRPC: Akka gRPC 0.8.4
  project/plugins.sbt
Labels: p:google-cloud-pub-sub-grpc

#2292 Elasticsearch: replace push with emit
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStageTest.scala
Labels: p:elasticsearch

#2273 Avroparquet: Lower bound higher kinded
  avroparquet/src/main/mima-filters/2.0.0-RC2.backwards.excludes/PR2273-generics.excludes
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/impl/AvroParquetFlow.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/impl/AvroParquetSource.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/javadsl/AvroParquetFlow.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/javadsl/AvroParquetSink.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/javadsl/AvroParquetSource.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/scaladsl/AvroParquetFlow.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/scaladsl/AvroParquetSink.scala
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/scaladsl/AvroParquetSource.scala
  avroparquet/src/test/java/docs/javadsl/AvroParquetSinkTest.java
  avroparquet/src/test/java/docs/javadsl/Examples.java
  avroparquet/src/test/scala/docs/scaladsl/AbstractAvroParquet.scala
  avroparquet/src/test/scala/docs/scaladsl/AvroParquetFlowSpec.scala
  avroparquet/src/test/scala/docs/scaladsl/AvroParquetSinkSpec.scala
  avroparquet/src/test/scala/docs/scaladsl/AvroParquetSourceSpec.scala
  build.sbt
  docs/src/main/paradox/avroparquet.md
  project/Dependencies.scala
Labels: api-change, dependency-change, documentation, p:avroparquet

#2295 2.0.0 Release notes
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/release-notes/2.0.x/amqp.md
  docs/src/main/paradox/release-notes/2.0.x/avroparquet.md
  docs/src/main/paradox/release-notes/2.0.x/elasticsearch.md
  docs/src/main/paradox/release-notes/2.0.x/file.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/2.0.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/2.0.x/mqtt.md
  docs/src/main/paradox/release-notes/2.0.x/s3.md
  docs/src/main/paradox/release-notes/2.0.x/sse.md
Labels: documentation
