Repository akka/alpakka, pull requests merged in 2020-12, with the labels that each got.

#2537 Upgrade cassandra driver to 4.9
  project/Dependencies.scala
Labels: dependency-change, p:cassandra

#2542 Elasticsearch: Akka 2.6
  build.sbt
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/backport/RetryFlow.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/backport/RetryFlowCoordinator.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchFlow.scala
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchParameterizedTest.java
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchTestBase.java
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchV5Test.java
  elasticsearch/src/test/java/docs/javadsl/ElasticsearchV7Test.java
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchConnectorBehaviour.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpec.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpecBase.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpecUtils.scala
Labels: p:elasticsearch

#2540 Run link validator and release drafter (as GitHub workflows)
  .github/workflows/link-validator.yml
  .github/workflows/release-drafter.yml
  build.sbt
  docs/src/main/paradox/elasticsearch.md
  docs/src/main/paradox/external/fs2.md
  docs/src/main/paradox/google-cloud-storage.md
  docs/src/main/paradox/hbase.md
  docs/src/main/paradox/influxdb.md
  docs/src/main/paradox/ironmq.md
  docs/src/main/paradox/mongodb.md
  docs/src/main/paradox/orientdb.md
  docs/src/main/paradox/other-docs/webinars-presentations-articles.md
  docs/src/main/paradox/pravega.md
  docs/src/main/paradox/release-notes/1.0.x.md
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/slick.md
  scripts/link-validator.conf
Labels: documentation

#2533 BigQuery: Use Unmarshalling API to handle parsing
  build.sbt
  docs/src/main/paradox/google-cloud-bigquery.md
  google-cloud-bigquery/src/main/boilerplate/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryProductFormatsInstances.scala.template
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/BigQueryCommunicationHelper.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/QueryJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/ResponseJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/TableDataQueryJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/client/TableListQueryJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/BigQueryStreamSource.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/impl/parser/Parser.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/javadsl/GoogleBigQuerySource.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/javadsl/SprayJsonSupport.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryBasicFormats.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryCollectionFormats.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryProductFormats.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/GoogleBigQuerySource.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/SprayJsonSupport.scala
  google-cloud-bigquery/src/test/java/docs/javadsl/GoogleBigQuerySourceCustomParserDoc.java
  google-cloud-bigquery/src/test/java/docs/javadsl/GoogleBigQuerySourceDoc.java
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/e2e/BigQueryEndToEndSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/e2e/BigQueryTestHelper.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/BigQueryStreamSourceSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/GoogleTokenApiSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/pagetoken/EndOfStreamDetectorSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/parser/ParserSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/sendrequest/EnrichRequestWithOauthSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/sendrequest/SendRequestWithOauthHandlingSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/DelaySpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/FlowInitializerSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/OnFinishCallbackSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/impl/util/SplitterSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryJsonProtocolSpec.scala
  google-cloud-bigquery/src/test/scala/docs/scaladsl/GoogleBigQuerySourceCustomParserDoc.scala
  google-cloud-bigquery/src/test/scala/docs/scaladsl/GoogleBigQuerySourceDoc.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: dependency-change, documentation, p:google-cloud-bigquery

#2543 SSE: Akka 2.6
  build.sbt
  sse/src/main/mima-filters/2.0.x.backwards.excludes/akka-2-6.excludes
  sse/src/main/scala/akka/stream/alpakka/sse/javadsl/EventSource.scala
  sse/src/main/scala/akka/stream/alpakka/sse/scaladsl/EventSource.scala
  sse/src/test/java/docs/javadsl/EventSourceTest.java
  sse/src/test/scala/docs/scaladsl/EventSourceSpec.scala
Labels: p:sse

#2544 DynamoDb: Akka 2.6
  build.sbt
  dynamodb/src/main/mima-filters/2.0.x.backwards.excludes/akka-2.6.excludes
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/javadsl/DynamoDb.scala
  dynamodb/src/main/scala/akka/stream/alpakka/dynamodb/scaladsl/DynamoDb.scala
  dynamodb/src/test/java/docs/javadsl/ExampleTest.java
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/ItemSpec.scala
  dynamodb/src/test/scala/akka/stream/alpakka/dynamodb/TableSpec.scala
  dynamodb/src/test/scala/docs/scaladsl/ExampleSpec.scala
Labels: p:dynamodb

#2545 Ftp 2541 incorrect credentials should complete with a failed future
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpsOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/model.scala
  ftp/src/test/java/akka/stream/alpakka/ftp/BaseFtpSupport.java
  ftp/src/test/java/akka/stream/alpakka/ftp/BaseSftpSupport.java
  ftp/src/test/java/akka/stream/alpakka/ftp/BaseSupportImpl.java
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseFtpsSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSftpSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSpec.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
Labels: p:ftp

#2549 jms-testkit 0.4.1
  project/Dependencies.scala
Labels: dependency-change
