Repository akka/alpakka, pull requests merged in 2021-02, with the labels that each got.

#2564 Update to paradox theme with new cookie banner
  couchbase/src/test/java/docs/javadsl/CouchbaseExamplesTest.java
  docs/src/main/paradox/jms/consumer.md
  docs/src/main/paradox/jms/producer.md
  ftp/src/test/scala/docs/scaladsl/SftpSpec.scala
  jms/src/test/java/docs/javadsl/JmsConnectorsTest.java
  jms/src/test/scala/docs/scaladsl/JmsConnectorsSpec.scala
  project/plugins.sbt
Labels: documentation, p:couchbase, p:ftp, p:jms

#2568 Revert SftpSpec
  ftp/src/test/scala/docs/scaladsl/SftpSpec.scala
Labels: p:ftp

#2569 Enforce withProperties Java API on passthrough messages
  jms/src/main/scala/akka/stream/alpakka/jms/JmsMessages.scala
Labels: p:jms

#2559 File: LogRotatorSink fix completition
  file/src/main/mima-filters/2.0.0-RC2.backwards.excludes/PR2559-log-rotator-sink.excludes
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/LogRotatorSink.scala
  file/src/test/scala/docs/scaladsl/LogRotatorSinkSpec.scala
Labels: p:file

#2567 FTP: Enable SFTP connector to issue more than one unconfirmed read request
  docs/src/main/paradox/ftp.md
  ftp/src/main/mima-filters/2.0.2.backwards.excludes
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpIOGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpLike.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/model.scala
  ftp/src/test/java/docs/javadsl/SftpRetrievingExample.java
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
  ftp/src/test/scala/docs/scaladsl/scalaExamples.scala
Labels: documentation, p:ftp
