Repository akka/alpakka, pull requests merged in 2021-07, with the labels that each got.

#2698 Tar reader stuck with certain files and chunk sizes
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/TarReaderStage.scala
Labels: p:file

#2693 elasticsearch: Nop
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/WriteMessage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/RestBulkApi.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/RestBulkApiV5.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/RestBulkApiV7.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpecUtils.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchV5Spec.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchV7Spec.scala
Labels: p:elasticsearch

#2700 3.0.2 release notes
  docs/src/main/paradox/release-notes/3.0.x.md
Labels: documentation

#2702 Handle failed Future when invoking ES endpoint
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
  elasticsearch/src/test/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStageTest.scala
Labels: p:elasticsearch

#2701 Geode 1.13.3 (was 1.13.2)
  docker-compose.yml
  project/Dependencies.scala
Labels: dependency-change, p:geode

#2704 Fix equals method for MetaHeaders and AES256
  s3/src/main/scala/akka/stream/alpakka/s3/S3Headers.scala
  s3/src/main/scala/akka/stream/alpakka/s3/headers/ServerSideEncryption.scala
Labels: p:aws-s3

#2654 elasticsearch: support for sort in searchparams
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSourceStage.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/scaladsl/ElasticsearchSource.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchConnectorBehaviour.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchSpecUtils.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchV5Spec.scala
  elasticsearch/src/test/scala/docs/scaladsl/ElasticsearchV7Spec.scala
Labels: documentation, p:elasticsearch

#2705 Only remove ETag quotes conditionally
  s3/src/main/scala/akka/stream/alpakka/s3/Utils.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/Marshalling.scala
  s3/src/main/scala/akka/stream/alpakka/s3/model.scala
Labels: p:aws-s3
