Repository akka/alpakka, pull requests merged in 2021-08, with the labels that each got.

#2708 Alpakka Kafka 2.1.1 in tests
  project/Dependencies.scala
Labels: dependency-change

#2707 BigQuery: Use `effectivePort` instead of `port`
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryTableData.scala
Labels: p:google-cloud-bigquery

#2712 AWS SNS: Fix incorrect SQS name
  docs/src/main/paradox/sns.md
Labels: documentation, p:aws-sns

#2713 Google Common: Fix path to the well-known credentials file
  google-common/src/main/resources/reference.conf
Labels: p:google-common

#2715 TarReaderStage only pull when needed, #2714
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/TarReaderStage.scala
Labels: p:file

#2719 3.0.3 release notes
  .github/release-drafter.yml
  docs/src/main/paradox/release-notes/3.0.x.md
Labels: documentation

#2720 AWS S3: Skip forward-proxy settings on optional overrides
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/scala/akka/stream/alpakka/s3/S3SettingsSpec.scala
Labels: p:aws-s3

#2703 AWS S3: use strict http entity for in-memory chunks
  s3/src/main/scala/akka/stream/alpakka/s3/impl/Chunk.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/DiskBuffer.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/MemoryBuffer.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/DiskBufferSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/MemoryBufferSpec.scala
Labels: p:aws-s3

#2721 Google common: ignore forward-proxy on optional environment vars
  google-common/src/main/scala/akka/stream/alpakka/google/GoogleSettings.scala
  google-common/src/test/scala/akka/stream/alpakka/google/GoogleSettingsSpec.scala
Labels: p:google-common

#2692 file: unzip introduced
  docs/src/main/paradox/file.md
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/ZipReaderSource.scala
  file/src/main/scala/akka/stream/alpakka/file/javadsl/Archive.scala
  file/src/main/scala/akka/stream/alpakka/file/model.scala
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/Archive.scala
  file/src/test/java/docs/javadsl/ArchiveTest.java
  file/src/test/scala/docs/scaladsl/ArchiveSpec.scala
Labels: p:file, documentation
