Repository akka/alpakka, pull requests merged in 2021-05, with the labels that each got.

#2652 Elasticsearch has Header and HttpsContext Settings
  docs/src/main/paradox/elasticsearch.md
  elasticsearch/src/main/mima-filters/3.0.0-M1.backwards.excludes/PR2652.excludes
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchConnectionSettings.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchApi.scala
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSourceStage.scala
Labels: documentation, p:elasticsearch

#2653 Upgrade jackson libs to same version as Akka
  .scala-steward.conf
  project/Dependencies.scala
Labels: dependency-change

#2651 Pravega KVP Table support v2
  docs/src/main/paradox/pravega.md
  pravega/src/main/java/akka/stream/alpakka/pravega/javadsl/Pravega.java
  pravega/src/main/java/akka/stream/alpakka/pravega/javadsl/PravegaTable.java
  pravega/src/main/mima-filters/3.0.0-M1.backwards.excludes/pr-2651-kvp.excludes
  pravega/src/main/resources/reference.conf
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaReaderGroupManager.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaSettings.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaCapabilities.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaFlow.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaReader.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaSource.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaTableReadFlow.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaTableSource.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaTableWriteFlow.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/scaladsl/Pravega.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/scaladsl/PravegaTable.scala
  pravega/src/test/java/akka/stream/alpakka/pravega/PravegaGraphTestCase.java
  pravega/src/test/java/akka/stream/alpakka/pravega/PravegaKVTableTestCase.java
  pravega/src/test/java/docs/javadsl/PravegaBaseTestCase.java
  pravega/src/test/java/docs/javadsl/PravegaReadWriteDocs.java
  pravega/src/test/java/docs/javadsl/PravegaSettingsTestCase.java
  pravega/src/test/resources/application.conf
  pravega/src/test/resources/logback-test.xml
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaAkkaSpecSupport.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaBaseSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaGraphSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaKVTableSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaStreamAndTableSpec.scala
  pravega/src/test/scala/docs/scaladsl/PravegaReadWriteDocs.scala
  pravega/src/test/scala/docs/scaladsl/PravegaSettingsSpec.scala
Labels: documentation, p:pravega

#2662 Google Common - Use effective port for GoogleHttp().cachedHostConnectionPool
  google-common/src/main/scala/akka/stream/alpakka/google/ResumableUpload.scala
Labels: p:google-common

#2616 S3 - mat to system param typo
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3.scala
Labels: p:aws-s3

#2624 Influxdb: emit instead of push in flow stage
  influxdb/src/main/scala/akka/stream/alpakka/influxdb/impl/InfluxDbFlowStage.scala
Labels: p:influxdb

#2663 BigQuery API improvements
  build.sbt
  google-cloud-bigquery/src/main/mima-filters/3.0.0-M1.backwards.excludes/2663-job-configuration
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/javadsl/BigQuery.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/DatasetJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/ErrorProtoJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/JobJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/QueryJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/TableDataJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/TableJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryJobs.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/Schema.scala
Labels: p:google-cloud-bigquery

#2665 Enable MiMa for google-common
  build.sbt
  google-common/src/main/mima-filters/3.0.0-M1.backwards.excludes/2661-oauth-token-stream
Labels: p:google-common

#2667 google-common: Improve log messages for application default credentials
  google-common/src/main/scala/akka/stream/alpakka/google/auth/Credentials.scala
Labels: p:google-common

#2628 Enable fatalwarnings for most Alpakka and internal projects
  CONTRIBUTING.md
  avroparquet/src/main/scala/akka/stream/alpakka/avroparquet/impl/AvroParquetSource.scala
  build.sbt
  influxdb/src/main/scala/akka/stream/alpakka/influxdb/impl/AlpakkaResultMapperHelper.scala
  mqtt/src/test/scala/docs/scaladsl/MqttSpecBase.scala
  project/Dependencies.scala
  sqs/src/test/scala/akka/stream/alpakka/sqs/scaladsl/DefaultTestContext.scala
  text/src/test/java/docs/javadsl/CharsetCodingFlowsDoc.java
Labels: dependency-change, p:avroparquet, p:aws-sqs, p:influxdb, p:mqtt, p:text

#2670 Alpakka 3.0.0 release notes
  docs/release-train-issue-template.md
  docs/src/main/paradox/release-notes/3.0.x.md
  docs/src/main/paradox/release-notes/3.0.x/avroparquet.md
  docs/src/main/paradox/release-notes/3.0.x/elasticsearch.md
  docs/src/main/paradox/release-notes/3.0.x/geode.md
  docs/src/main/paradox/release-notes/3.0.x/google-cloud-bigquery.md
  docs/src/main/paradox/release-notes/3.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/3.0.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/3.0.x/google-fcm.md
  docs/src/main/paradox/release-notes/3.0.x/influxdb.md
  docs/src/main/paradox/release-notes/3.0.x/mqtt.md
  docs/src/main/paradox/release-notes/3.0.x/pravega.md
  docs/src/main/paradox/release-notes/3.0.x/s3.md
  docs/src/main/paradox/release-notes/3.0.x/sqs.md
  docs/src/main/paradox/release-notes/3.0.x/text.md
  docs/src/main/paradox/release-notes/3.0.x/xml.md
  project/project-info.conf
Labels: documentation

#2673 JMS: upgrade to jms-testkit 1.0.1
  project/Dependencies.scala
Labels: p:jms

#2679 [BigQuery] Add extra params to the QueryRequest
  google-cloud-bigquery/src/main/mima-filters/3.0.0.backwards.excludes/2679-query-request
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/QueryJsonProtocol.scala
Labels: p:google-cloud-bigquery
