Repository akka/alpakka, pull requests merged in 2021-01, with the labels that each got.

#2550 jms-testkit 0.5.0
  project/Dependencies.scala
Labels: dependency-change

#2551 GCS: Allow adding custom metadata for resumable uploads
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/javadsl/GCStorage.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/scaladsl/GCStorage.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStreamIntegrationSpec.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/scaladsl/GCStorageWiremockBase.scala
  google-cloud-storage/src/test/scala/docs/scaladsl/GCStorageSinkSpec.scala
Labels: p:google-cloud-storage

#2558 Slick: Add note about enabling streaming with PostgreSQL (#1128)
  docs/src/main/paradox/slick.md
Labels: documentation, p:slick

#2560 Cassandra: use driver 4.10.0 (was 4.9.0)
  project/Dependencies.scala
Labels: dependency-change, p:cassandra
