Repository akka/alpakka, pull requests merged in 2021-06, with the labels that each got.

#2684 3.0.1 release notes
  docs/src/main/paradox/release-notes/3.0.x.md
  docs/src/main/paradox/release-notes/3.0.x/google-cloud-bigquery.md
  docs/src/main/paradox/release-notes/3.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/3.0.x/jms.md
Labels: documentation

#2660 UDP: flow with socket options
  udp/src/main/scala/akka/stream/alpakka/udp/impl/UdpBind.scala
  udp/src/main/scala/akka/stream/alpakka/udp/impl/UdpSend.scala
  udp/src/main/scala/akka/stream/alpakka/udp/javadsl/Udp.scala
  udp/src/main/scala/akka/stream/alpakka/udp/scaladsl/Udp.scala
  udp/src/test/java/docs/javadsl/UdpTest.java
  udp/src/test/scala/docs/scaladsl/UdpSpec.scala
Labels: p:udp

#2687 JMS: add project info box to documentation page
  docs/src/main/paradox/jms/index.md
Labels: documentation

#2695 Drain JMS acks queue when session is closed
  jms/src/main/scala/akka/stream/alpakka/jms/impl/Sessions.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsAckConnectorsSpec.scala
Labels: p:jms
