Repository akka/alpakka, pull requests merged in 2021-09, with the labels that each got.

#2725 JMS producer should support null values for property #2690
  jms/src/main/scala/akka/stream/alpakka/jms/JmsExceptions.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsMessageProducer.scala
  jms/src/test/scala/akka/stream/alpakka/jms/impl/JmsMessageProducerSpec.scala
Labels: p:jms

#2726 Add GCSSettings to make endpointUrl + basePath configurable
  google-cloud-storage/src/main/resources/reference.conf
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/GCSAttributes.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/GCSExt.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/settings.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/GCSExtSpec.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/GCSSettingsSpec.scala
Labels: p:google-cloud-storage

#2710 ⬆️ Geode 1.13.4 (was 1.13.3)
  docker-compose.yml
  project/Dependencies.scala
Labels: p:geode, dependency-change

#2732 file: Fix exception message
  file/src/main/java/akka/stream/alpakka/file/impl/DirectoryChangesSource.java
Labels: p:file

#2722 License checks: remove use of Whitesource
  .travis.yml
  CONTRIBUTING.md
  build.sbt
  contributor-advice.md
  docs/release-train-issue-template.md
  project/Common.scala
  project/Whitesource.scala
  project/plugins.sbt
Labels: documentation
