Repository akka/alpakka, pull requests merged in 2021-11, with the labels that each got.

#2771 SSE docs: Fix typo in "Last-Event-ID"
  docs/src/main/paradox/sse.md
Labels: p:sse, documentation

#2767 S3: Allow to skip signing anonymous requests
  s3/src/main/mima-filters/3.0.4.backwards.excludes/pr-2767-add-s3-setting.excludes
  s3/src/main/resources/reference.conf
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/auth/Signer.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/auth/SigningKey.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/scala/akka/stream/alpakka/s3/S3SettingsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/auth/SignerSpec.scala
Labels: p:aws-s3

#2776 chore: rely on GitHub releases page
  docs/release-train-issue-template.md
  docs/src/main/paradox/release-notes/3.0.x.md
  project/project-info.conf
  scripts/create-release-issue.sh
Labels: alpakka-itself

#2555 CSV: Use placeholders when header and data length differs
  csv/src/main/java/akka/stream/alpakka/csv/javadsl/CsvToMap.java
  csv/src/main/scala/akka/stream/alpakka/csv/impl/CsvToMapJavaStage.scala
  csv/src/main/scala/akka/stream/alpakka/csv/impl/CsvToMapStage.scala
  csv/src/main/scala/akka/stream/alpakka/csv/scaladsl/CsvToMap.scala
  csv/src/test/java/docs/javadsl/CsvToMapTest.java
  csv/src/test/scala/docs/scaladsl/CsvToMapSpec.scala
Labels: p:csv

#2781 sbt 1.5.5 and plugin updates
  build.sbt
  project/AutomaticModuleName.scala
  project/Common.scala
  project/build.properties
  project/plugins.sbt
Labels: alpakka-itself

#2643 HUAWEI Push Kit
  .github/autolabeler.yml
  .github/release-drafter.yml
  .travis.yml
  build.sbt
  docs/src/main/paradox/huawei-push-kit.md
  docs/src/main/paradox/index.md
  huawei-push-kit/src/main/resources/reference.conf
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/ForwardProxyHttpsContext.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/ForwardProxyPoolSettings.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/HmsSettingExt.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/HmsSettings.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/impl/HmsSession.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/impl/HmsTokenApi.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/impl/PushKitFlows.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/impl/PushKitJsonSupport.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/impl/PushKitSender.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/javadsl/HmsPushKit.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/models/AndroidConfig.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/models/ApnsConfig.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/models/BasicNotification.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/models/NotificationTarget.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/models/PushKitNotification.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/models/Response.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/models/WebConfig.scala
  huawei-push-kit/src/main/scala/akka/stream/alpakka/huawei/pushkit/scaladsl/HmsPushKit.scala
  huawei-push-kit/src/test/java/docs/javadsl/PushKitExamples.java
  huawei-push-kit/src/test/resources/application.conf
  huawei-push-kit/src/test/resources/logback-test.xml
  huawei-push-kit/src/test/scala/akka/stream/alpakka/huawei/pushkit/ConditionBuilderSpec.scala
  huawei-push-kit/src/test/scala/akka/stream/alpakka/huawei/pushkit/impl/HmsTokenApiSpec.scala
  huawei-push-kit/src/test/scala/akka/stream/alpakka/huawei/pushkit/impl/PushKitSenderSpec.scala
  huawei-push-kit/src/test/scala/docs/scaladsl/PushKitExamples.scala
  project/Dependencies.scala
  project/project-info.conf
Labels: p:new, dependency-change, documentation, p:huawei-push-kit

#2782 S3: Fix documentation for resumeMultipartUpload
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
Labels: p:aws-s3

#2780 BigQuery storage module
  .github/release-drafter.yml
  .travis.yml
  build.sbt
  docs/src/main/paradox/google-cloud-bigquery-storage.md
  docs/src/main/paradox/index.md
  google-cloud-bigquery-storage/src/main/resources/reference.conf
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/BigQueryRecordMapImpl.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/BigQueryStorageSettings.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/ProtobufConverters.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/AkkaGrpcSettings.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/ArrowSource.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/AvroDecoder.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/AvroSource.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/SDKClientSource.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/BigQueryArrowStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/BigQueryAvroStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/BigQueryStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryArrowStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryAvroStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryStorageAttributes.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/GrpcBigQueryStorageReader.scala
  google-cloud-bigquery-storage/src/test/java/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/AvroByteStringDecoder.scala
  google-cloud-bigquery-storage/src/test/java/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/BigQueryStorageSpec.java
  google-cloud-bigquery-storage/src/test/java/docs/javadsl/ExampleReader.java
  google-cloud-bigquery-storage/src/test/resources/application.conf
  google-cloud-bigquery-storage/src/test/resources/cert.pem
  google-cloud-bigquery-storage/src/test/resources/logback-test.xml
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/BigQueryStorageSpecBase.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/mock/BigQueryMockData.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/mock/BigQueryMockServer.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/ArrowByteStringDecoder.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/AvroByteStringDecoder.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryArrowStorageSpec.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryAvroStorageSpec.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryStorageSpec.scala
  google-cloud-bigquery-storage/src/test/scala/docs/scaladsl/ExampleReader.scala
  project/Dependencies.scala
  project/project-info.conf
Labels: documentation, p:google-cloud-bigquery-storage

#2784 Headers, plugin updates
  .github/autolabeler.yml
  build.sbt
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/BigQueryRecordMapImpl.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/BigQueryStorageSettings.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/ProtobufConverters.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/AkkaGrpcSettings.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/ArrowSource.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/AvroDecoder.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/AvroSource.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/impl/SDKClientSource.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/BigQueryArrowStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/BigQueryAvroStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/BigQueryStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryArrowStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryAvroStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryStorage.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryStorageAttributes.scala
  google-cloud-bigquery-storage/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/GrpcBigQueryStorageReader.scala
  google-cloud-bigquery-storage/src/test/java/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/AvroByteStringDecoder.scala
  google-cloud-bigquery-storage/src/test/java/akka/stream/alpakka/googlecloud/bigquery/storage/javadsl/BigQueryStorageSpec.java
  google-cloud-bigquery-storage/src/test/java/docs/javadsl/ExampleReader.java
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/BigQueryStorageSpecBase.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/mock/BigQueryMockData.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/mock/BigQueryMockServer.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/ArrowByteStringDecoder.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/AvroByteStringDecoder.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryArrowStorageSpec.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryAvroStorageSpec.scala
  google-cloud-bigquery-storage/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/storage/scaladsl/BigQueryStorageSpec.scala
  google-cloud-bigquery-storage/src/test/scala/docs/scaladsl/ExampleReader.scala
  huawei-push-kit/src/test/java/docs/javadsl/PushKitExamples.java
  huawei-push-kit/src/test/scala/akka/stream/alpakka/huawei/pushkit/ConditionBuilderSpec.scala
  huawei-push-kit/src/test/scala/akka/stream/alpakka/huawei/pushkit/impl/HmsTokenApiSpec.scala
  huawei-push-kit/src/test/scala/akka/stream/alpakka/huawei/pushkit/impl/PushKitSenderSpec.scala
  huawei-push-kit/src/test/scala/docs/scaladsl/PushKitExamples.scala
  project/Common.scala
  project/plugins.sbt
Labels: p:google-cloud-bigquery-storage, p:huawei-push-kit

#2785 fix: use directories in testkit
  testkit/src/main/scala/akka/stream/alpakka/testkit/CapturingAppender.scala
  testkit/src/main/scala/akka/stream/alpakka/testkit/LogbackUtil.scala
  testkit/src/main/scala/akka/stream/alpakka/testkit/javadsl/LogCapturingJunit4.scala
  testkit/src/main/scala/akka/stream/alpakka/testkit/scaladsl/LogCapturing.scala
  testkit/src/main/scala/akka/stream/alpakka/testkit/scaladsl/Repeated.scala
Labels: p:testkit

#2770 S3: Add multipart upload with context
  s3/src/main/scala/akka/stream/alpakka/s3/impl/HttpRequests.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/Marshalling.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/MemoryWithContext.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/impl/SplitAfterSizeWithContext.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
  s3/src/main/scala/akka/stream/alpakka/s3/model.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/auth/SplitAfterSizeWithContextSpec.scala
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
Labels: p:aws-s3
