Repository akka/alpakka, pull requests merged in 2021-03, with the labels that each got.

#2572 FTP: fix deprecations for `IOResult.createFailed`
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpIOGraphStage.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/CommonFtpStageSpec.scala
Labels: p:ftp

#2575 Kinesis and solr Akka 2.6 updates and other things
  build.sbt
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/impl/KinesisSchedulerSourceStage.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisSchedulerSource.scala
  kinesis/src/test/java/akka/stream/alpakka/kinesis/javadsl/KinesisTest.java
  kinesis/src/test/java/docs/javadsl/KinesisFirehoseSnippets.java
  kinesis/src/test/java/docs/javadsl/KinesisSnippets.java
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/DefaultTestContext.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisMock.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesisfirehose/KinesisFirehoseMock.scala
  kinesis/src/test/scala/docs/scaladsl/KclSnippets.scala
  kinesis/src/test/scala/docs/scaladsl/KinesisFirehoseSnippets.scala
  kinesis/src/test/scala/docs/scaladsl/KinesisSnippets.scala
  project/Dependencies.scala
  solr/src/test/java/docs/javadsl/SolrTest.java
  solr/src/test/scala/docs/scaladsl/SolrSpec.scala
Labels: dependency-change, p:kinesis, p:solr

#2594 Update InfluxDB to Akka 2.6
  docker-compose.yml
  influxdb/src/test/java/docs/javadsl/InfluxDbSourceTest.java
  influxdb/src/test/java/docs/javadsl/InfluxDbTest.java
  influxdb/src/test/scala/docs/scaladsl/FlowSpec.scala
  influxdb/src/test/scala/docs/scaladsl/InfluxDbSourceSpec.scala
  influxdb/src/test/scala/docs/scaladsl/InfluxDbSpec.scala
Labels: p:influxdb

#2596 Update HBase to Akka 2.6
  build.sbt
  hbase/src/test/java/docs/javadsl/HBaseStageTest.java
  hbase/src/test/scala/docs/scaladsl/HBaseStageSpec.scala
Labels: p:hbase

#2595 Update HDFS to Akka 2.6
  build.sbt
  hdfs/src/main/scala/akka/stream/alpakka/hdfs/impl/HdfsFlowStage.scala
  hdfs/src/test/java/docs/javadsl/HdfsReaderTest.java
  hdfs/src/test/java/docs/javadsl/HdfsWriterTest.java
  hdfs/src/test/scala/docs/scaladsl/HdfsReaderSpec.scala
  hdfs/src/test/scala/docs/scaladsl/HdfsWriterSpec.scala
Labels: p:hdfs

#2587 Update udp to Akka 2.6
  build.sbt
  udp/src/test/java/docs/javadsl/UdpTest.java
  udp/src/test/scala/docs/scaladsl/UdpSpec.scala
Labels: p:udp

#2586 Update unix-domain-socket to Akka 2.6
  build.sbt
  project/Dependencies.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/impl/UnixDomainSocketImpl.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/javadsl/UnixDomainSocket.scala
  unix-domain-socket/src/main/scala/akka/stream/alpakka/unixdomainsocket/scaladsl/UnixDomainSocket.scala
  unix-domain-socket/src/test/java/docs/javadsl/UnixDomainSocketTest.java
  unix-domain-socket/src/test/scala/docs/scaladsl/UnixDomainSocketSpec.scala
Labels: dependency-change, p:unix-domain-socket

#2592 Update kudu to Akka 2.6
  build.sbt
  kudu/src/main/scala/akka/stream/alpakka/kudu/scaladsl/KuduTable.scala
  kudu/src/test/java/docs/javadsl/KuduTableTest.java
  kudu/src/test/scala/docs/scaladsl/KuduTableSpec.scala
Labels: p:kudu

#2588 Update Pravega to Akka 2.6
  build.sbt
  pravega/src/main/java/akka/stream/alpakka/pravega/javadsl/Pravega.java
  pravega/src/test/java/docs/javadsl/PravegaSettingsTestCase.java
  pravega/src/test/scala/docs/scaladsl/PravegaReadWriteDocs.scala
  project/Dependencies.scala
Labels: dependency-change, p:pravega

#2590 Update MQTT and MQTT streaming to Akka 2.6
  build.sbt
  mqtt-streaming-bench/src/main/scala/akka/stream/alpakka/mqtt/MqttPerf.scala
  mqtt-streaming-bench/src/main/scala/akka/stream/alpakka/mqtt/streaming/MqttPerf.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/impl/MqttFlowStage.scala
  mqtt/src/main/scala/akka/stream/alpakka/mqtt/scaladsl/MqttMessageWithAck.scala
  mqtt/src/test/java/docs/javadsl/MqttFlowTest.java
  mqtt/src/test/java/docs/javadsl/MqttSourceTest.java
  mqtt/src/test/scala/docs/scaladsl/MqttSourceSpec.scala
  mqtt/src/test/scala/docs/scaladsl/MqttSpecBase.scala
Labels: p:mqtt, p:mqtt-streaming

#2593 Update IronMQ to Akka 2.6
  build.sbt
  ironmq/src/main/scala/akka/stream/alpakka/ironmq/impl/IronMqPullStage.scala
  ironmq/src/main/scala/akka/stream/alpakka/ironmq/impl/IronMqPushStage.scala
  ironmq/src/test/java/akka/stream/alpakka/ironmq/UnitTest.java
  ironmq/src/test/java/docs/javadsl/IronMqDocsTest.java
  ironmq/src/test/scala/akka/stream/alpakka/ironmq/IronMqSpec.scala
  ironmq/src/test/scala/akka/stream/alpakka/ironmq/impl/IronMqClientForTests.scala
Labels: p:ironmq

#2591 Update mongodb to akka 2.6
  build.sbt
  docs/src/main/paradox/mongodb.md
  mongodb/src/test/java/docs/javadsl/MongoSinkTest.java
  mongodb/src/test/java/docs/javadsl/MongoSourceTest.java
  mongodb/src/test/scala/docs/scaladsl/MongoSinkSpec.scala
  mongodb/src/test/scala/docs/scaladsl/MongoSourceSpec.scala
Labels: documentation, p:mongodb

#2589 Update OrientDB to Akka 2.6
  orientdb/src/main/scala/akka/stream/alpakka/orientdb/impl/OrientDbFlowStage.scala
  orientdb/src/test/java/docs/javadsl/OrientDbTest.java
  orientdb/src/test/scala/docs/scaladsl/OrientDbSpec.scala
  project/Dependencies.scala
Labels: dependency-change, p:orientdb

#2582 Remove git fetch depth limit in link validator github action
  .github/workflows/link-validator.yml
Labels: alpakka-itself

#2599 Update Google Cloud Pub Sub GRPC to Akka 2.6
  build.sbt
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GooglePubSub.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/scaladsl/GooglePubSub.scala
  google-cloud-pub-sub-grpc/src/test/java/docs/javadsl/IntegrationTest.java
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/ExampleApp.scala
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/IntegrationSpec.scala
Labels: p:google-cloud-pub-sub-grpc

#2602 Update Geode to Akka 2.6
  build.sbt
  geode/src/test/java/docs/javadsl/GeodeBaseTestCase.java
  geode/src/test/java/docs/javadsl/GeodeContinuousSourceTestCase.java
  geode/src/test/java/docs/javadsl/GeodeFiniteSourceTestCase.java
  geode/src/test/java/docs/javadsl/GeodeFlowTestCase.java
  geode/src/test/java/docs/javadsl/GeodeSinkTestCase.java
  geode/src/test/scala/docs/scaladsl/GeodeBaseSpec.scala
Labels: p:geode

#2600 Update google cloud pub sub to akka 2.6
  build.sbt
  docs/src/main/paradox/google-cloud-pub-sub.md
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleRetry.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/backport/RetryFlow.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/impl/backport/RetryFlowCoordinator.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/scaladsl/GooglePubSub.scala
  google-cloud-pub-sub/src/test/java/docs/javadsl/ExampleUsageJava.java
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/GooglePubSubSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleSessionSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/GoogleTokenApiSpec.scala
  google-cloud-pub-sub/src/test/scala/akka/stream/alpakka/googlecloud/pubsub/impl/PubSubApiSpec.scala
  google-cloud-pub-sub/src/test/scala/docs/scaladsl/ExampleUsage.scala
  google-cloud-pub-sub/src/test/scala/docs/scaladsl/IntegrationSpec.scala
Labels: documentation, p:google-cloud-pub-sub

#2598 Update Google Cloud Storage to Akka 2.6
  build.sbt
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GCStorageStream.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/GoogleRetry.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/backport/RetryFlow.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/backport/RetryFlowCoordinator.scala
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/javadsl/GCStorage.scala
  google-cloud-storage/src/test/java/docs/javadsl/GCStorageTest.java
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/WithMaterializerGlobal.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/impl/ChunkerSpec.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/impl/GoogleTokenApiSpec.scala
  google-cloud-storage/src/test/scala/docs/scaladsl/GCStorageSinkSpec.scala
  google-cloud-storage/src/test/scala/docs/scaladsl/GCStorageSourceSpec.scala
Labels: p:google-cloud-storage

#2579 FTP: Fix SFTP keyfile authentication when no password is provided
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
Labels: p:ftp

#2570 Drop alpakka-kafka reference in docs
  project/Dependencies.scala
Labels: dependency-change

#2609 doc-examples Akka 2.6 + alpakka kafka restored
  build.sbt
  doc-examples/src/test/java/akka/stream/alpakka/eip/javadsl/PassThroughExamples.java
  doc-examples/src/test/java/akka/stream/alpakka/eip/javadsl/SplitterExamples.java
  doc-examples/src/test/scala/akka/stream/alpakka/eip/scaladsl/PassThroughExamples.scala
  doc-examples/src/test/scala/akka/stream/alpakka/eip/scaladsl/SplitterExamples.scala
  docs/src/test/java/akka/stream/alpakka/eip/javadsl/SplitterExamples.java
  project/Dependencies.scala
Labels: dependency-change, documentation

#2610 Update pravega docker image to match client version
  docker-compose.yml
Labels: p:pravega

#2608 [AMQP] Adds a note about recovery issue
  docs/src/main/paradox/amqp.md
Labels: documentation, p:amqp

#2611 OrientDB: Propagate correct types to updated OrientDB Java API
  docker-compose.yml
  orientdb/src/main/scala/akka/stream/alpakka/orientdb/impl/OrientDbFlowStage.scala
Labels: p:orientdb

#2603 Update FTP to Akka 2.6
  build.sbt
  ftp/src/main/mima-filters/3.0.0.backwards.excludes
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/CommonFtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpBrowserGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/javadsl/FtpApi.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/model.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala
  ftp/src/test/java/akka/stream/alpakka/ftp/BaseSupportImpl.java
  ftp/src/test/java/akka/stream/alpakka/ftp/CommonFtpStageTest.java
  ftp/src/test/java/docs/javadsl/FtpTraversingExample.java
Labels: p:ftp, p:google-fcm

#2617 Couchbase Akka 2.6
  build.sbt
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/CouchbaseSessionRegistry.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseFlow.scala
  couchbase/src/main/scala/akka/stream/alpakka/couchbase/scaladsl/CouchbaseSource.scala
  couchbase/src/test/java/docs/javadsl/CouchbaseExamplesTest.java
  couchbase/src/test/java/docs/javadsl/DiscoveryTest.java
  couchbase/src/test/scala/akka/stream/alpakka/couchbase/testing/CouchbaseSupport.scala
  couchbase/src/test/scala/docs/scaladsl/DiscoverySpec.scala
Labels: p:couchbase

#2585 JMS maxAckInterval
  docs/src/main/paradox/jms/consumer.md
  jms/src/main/mima-filters/2.0.0-M2.backwards.excludes/PR2583.excludes
  jms/src/main/resources/reference.conf
  jms/src/main/scala/akka/stream/alpakka/jms/JmsConsumerSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/JmsExceptions.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsAckSourceStage.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsConnector.scala
  jms/src/main/scala/akka/stream/alpakka/jms/impl/Sessions.scala
  jms/src/test/scala/akka/stream/alpakka/jms/JmsSharedServerSpec.scala
  jms/src/test/scala/akka/stream/alpakka/jms/scaladsl/JmsAckConnectorsSpec.scala
  jms/src/test/scala/docs/scaladsl/JmsBufferedAckConnectorsSpec.scala
Labels: documentation, p:jms

#2618 Drop pre-3.0.0 deprecated APIs
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSession.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSession.scala
  file/src/main/java/akka/stream/alpakka/file/javadsl/FileTailSource.java
  file/src/main/mima-filters/3.0.0-M1.backwards.excludes
  google-cloud-pub-sub-grpc/src/main/mima-filters/3.0.0-M1.backwards.excludes
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GrpcPublisher.scala
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/javadsl/GrpcSubscriber.scala
  google-cloud-pub-sub/src/main/mima-filters/3.0.0-M1.backwards.excludes
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/javadsl/GooglePubSub.scala
  google-cloud-pub-sub/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/scaladsl/GooglePubSub.scala
  kinesis/src/main/mima-filters/3.0.0-M1.backwards.excludes
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/ShardSettings.scala
  mqtt-streaming/src/main/mima-filters/3.0.0-M1.backwards.excludes
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/javadsl/Mqtt.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/model.scala
  mqtt-streaming/src/main/scala/akka/stream/alpakka/mqtt/streaming/scaladsl/Mqtt.scala
  s3/src/main/mima-filters/3.0.0-M1.backwards.excludes
  s3/src/main/resources/reference.conf
  s3/src/main/scala/akka/stream/alpakka/s3/S3Exception.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
  s3/src/main/scala/akka/stream/alpakka/s3/settings.scala
  s3/src/test/scala/akka/stream/alpakka/s3/impl/HttpRequestsSpec.scala
  s3/src/test/scala/docs/scaladsl/S3SourceSpec.scala
  solr/src/main/mima-filters/3.0.0-M1.backwards.excludes
  solr/src/main/scala/akka/stream/alpakka/solr/SolrMessages.scala
  spring-web/src/main/java/akka/stream/alpakka/spring/web/AkkaStreamsRegistrar.java
Labels: p:aws-s3, p:cassandra, p:file, p:google-cloud-pub-sub, p:google-cloud-pub-sub-grpc, p:kinesis, p:mqtt-streaming, p:solr, p:spring-web

#2627 Improve a.s.a.googlecloud.bigquery.model APIs
  docs/src/main/paradox/google-cloud-bigquery.md
  google-cloud-bigquery/src/main/boilerplate/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/ProductSchemasInstances.scala.template
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/BigQueryException.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/BigQuerySettings.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/javadsl/BigQuery.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/javadsl/jackson/BigQueryMarshallers.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/DatasetJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/ErrorProtoJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/JobJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/QueryJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/StringEnum.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/TableDataJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/model/TableJsonProtocol.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryDatasets.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryJobs.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryQueries.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryTableData.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryTables.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/BasicSchemas.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/CollectionSchemas.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/JavaTimeSchemas.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/PrimitiveSchemaWriter.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/ProductSchemas.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/SchemaWriter.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/StandardSchemas.scala
  google-cloud-bigquery/src/main/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/spray/BigQueryRestBasicFormats.scala
  google-cloud-bigquery/src/test/java/akka/stream/alpakka/googlecloud/bigquery/e2e/javadsl/BigQueryEndToEndTest.java
  google-cloud-bigquery/src/test/java/docs/javadsl/BigQueryDoc.java
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/e2e/scaladsl/BigQueryEndToEndSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/BigQueryQueriesSpec.scala
  google-cloud-bigquery/src/test/scala/akka/stream/alpakka/googlecloud/bigquery/scaladsl/schema/BigQuerySchemasSpec.scala
  google-cloud-bigquery/src/test/scala/docs/scaladsl/BigQueryDoc.scala
Labels: documentation, p:google-cloud-bigquery

#2626 Add missing ClassicActorSystemAdapter overloads to DSLs
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/AkkaDiscoverySessionProvider.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/CqlSessionProvider.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/javadsl/CassandraSession.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSession.scala
  cassandra/src/main/scala/akka/stream/alpakka/cassandra/scaladsl/CassandraSessionRegistry.scala
  couchbase/src/main/java/akka/stream/alpakka/couchbase/javadsl/DiscoverySupport.java
  docs/src/main/paradox/slick.md
  ftp/src/main/mima-filters/3.0.0-M1.backwards.excludes/pr-2618-alpakka-3-deprecations.backwards.excludes
  ftp/src/main/mima-filters/3.0.0-M1.backwards.excludes/pr-2626-add-actorsystem-adapter.backwards.excludes
  ftp/src/main/scala/akka/stream/alpakka/ftp/javadsl/FtpApi.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala
  ironmq/src/main/mima-filters/3.0.0-M1.backwards.excludes/pr-2626-add-actorsystem-adapter.backwards.excludes
  ironmq/src/main/scala/akka/stream/alpakka/ironmq/IronMqSettings.scala
  jms/src/main/scala/akka/stream/alpakka/jms/ConnectionRetrySettings.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaSettings.scala
  s3/src/main/mima-filters/3.0.0-M1.backwards.excludes/pr-2618-alpakka-3-deprecations.backwards.excludes
  s3/src/main/mima-filters/3.0.0-M1.backwards.excludes/pr-2626-add-actorsystem-adapter.backwards.excludes
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3.scala
  spring-web/src/main/java/akka/stream/alpakka/spring/web/AkkaStreamsRegistrar.java
  udp/src/main/scala/akka/stream/alpakka/udp/javadsl/Udp.scala
Labels: api-change, documentation, p:aws-s3, p:cassandra, p:couchbase, p:ftp, p:ironmq, p:jms, p:pravega, p:spring-web, p:udp

#2633 google-common: create release artifact and docs
  build.sbt
  docs/src/main/paradox/google-cloud-bigquery.md
  docs/src/main/paradox/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/google-cloud-pub-sub.md
  docs/src/main/paradox/google-cloud-storage.md
  docs/src/main/paradox/google-common.md
  docs/src/main/paradox/google-fcm.md
  docs/src/main/paradox/index.md
  google-common/src/main/scala/akka/stream/alpakka/google/auth/Credentials.scala
  google-common/src/main/scala/akka/stream/alpakka/google/util/Retry.scala
  google-common/src/test/java/docs/javadsl/GoogleCommonDoc.java
  google-common/src/test/scala/docs/scaladsl/GoogleCommonDoc.scala
Labels: documentation

#2635 google-common: fix docs typo
  docs/src/main/paradox/google-common.md
Labels: documentation, p:google-common

#2632 Upgrade Akka 2.6.13 for 3.0.0-M1
  project/Dependencies.scala
Labels: dependency-change

#2631 Release notes for 3.0.0-M1
  docs/src/main/paradox/release-notes/3.0.x.md
  docs/src/main/paradox/release-notes/3.0.x/amqp.md
  docs/src/main/paradox/release-notes/3.0.x/avroparquet.md
  docs/src/main/paradox/release-notes/3.0.x/aws-event-bridge.md
  docs/src/main/paradox/release-notes/3.0.x/awslambda.md
  docs/src/main/paradox/release-notes/3.0.x/azure-storage-queue.md
  docs/src/main/paradox/release-notes/3.0.x/cassandra.md
  docs/src/main/paradox/release-notes/3.0.x/couchbase.md
  docs/src/main/paradox/release-notes/3.0.x/csv.md
  docs/src/main/paradox/release-notes/3.0.x/dynamodb.md
  docs/src/main/paradox/release-notes/3.0.x/elasticsearch.md
  docs/src/main/paradox/release-notes/3.0.x/file.md
  docs/src/main/paradox/release-notes/3.0.x/ftp.md
  docs/src/main/paradox/release-notes/3.0.x/geode.md
  docs/src/main/paradox/release-notes/3.0.x/google-cloud-bigquery.md
  docs/src/main/paradox/release-notes/3.0.x/google-cloud-pub-sub-grpc.md
  docs/src/main/paradox/release-notes/3.0.x/google-cloud-pub-sub.md
  docs/src/main/paradox/release-notes/3.0.x/google-cloud-storage.md
  docs/src/main/paradox/release-notes/3.0.x/google-common.md
  docs/src/main/paradox/release-notes/3.0.x/google-fcm.md
  docs/src/main/paradox/release-notes/3.0.x/hbase.md
  docs/src/main/paradox/release-notes/3.0.x/hdfs.md
  docs/src/main/paradox/release-notes/3.0.x/influxdb.md
  docs/src/main/paradox/release-notes/3.0.x/ironmq.md
  docs/src/main/paradox/release-notes/3.0.x/jms.md
  docs/src/main/paradox/release-notes/3.0.x/json-streaming.md
  docs/src/main/paradox/release-notes/3.0.x/kafka.md
  docs/src/main/paradox/release-notes/3.0.x/kinesis.md
  docs/src/main/paradox/release-notes/3.0.x/kudu.md
  docs/src/main/paradox/release-notes/3.0.x/mongodb.md
  docs/src/main/paradox/release-notes/3.0.x/mqtt-streaming.md
  docs/src/main/paradox/release-notes/3.0.x/mqtt.md
  docs/src/main/paradox/release-notes/3.0.x/orientdb.md
  docs/src/main/paradox/release-notes/3.0.x/pravega.md
  docs/src/main/paradox/release-notes/3.0.x/s3.md
  docs/src/main/paradox/release-notes/3.0.x/simple-codecs.md
  docs/src/main/paradox/release-notes/3.0.x/slick.md
  docs/src/main/paradox/release-notes/3.0.x/sns.md
  docs/src/main/paradox/release-notes/3.0.x/solr.md
  docs/src/main/paradox/release-notes/3.0.x/spring-web.md
  docs/src/main/paradox/release-notes/3.0.x/sqs.md
  docs/src/main/paradox/release-notes/3.0.x/sse.md
  docs/src/main/paradox/release-notes/3.0.x/text.md
  docs/src/main/paradox/release-notes/3.0.x/udp.md
  docs/src/main/paradox/release-notes/3.0.x/unix-domain-socket.md
  docs/src/main/paradox/release-notes/3.0.x/xml.md
  docs/src/main/paradox/release-notes/index.md
Labels: documentation
