Repository akka/alpakka, pull requests merged in 2022-06, with the labels that each got.

#2873 google-cloud-pub-sub-grpc: more imports in sample code
  google-cloud-pub-sub-grpc/src/test/scala/docs/scaladsl/IntegrationSpec.scala
Labels: p:google-cloud-pub-sub-grpc

#2875 File: Add charset parameter for archives
  file/src/main/scala/akka/stream/alpakka/file/impl/archive/ZipReaderSource.scala
  file/src/main/scala/akka/stream/alpakka/file/javadsl/Archive.scala
  file/src/main/scala/akka/stream/alpakka/file/scaladsl/Archive.scala
Labels: p:file

#2878 :arrow_up: Geode 1.15.0 (was 1.14.3)
  docker-compose.yml
  project/Dependencies.scala
Labels: p:geode, dependency-change

#2874 Add S3.getObject and deprecate S3.download
  s3/src/main/scala/akka/stream/alpakka/s3/impl/S3Stream.scala
  s3/src/main/scala/akka/stream/alpakka/s3/javadsl/S3.scala
  s3/src/main/scala/akka/stream/alpakka/s3/scaladsl/S3.scala
  s3/src/test/java/docs/javadsl/S3Test.java
  s3/src/test/scala/akka/stream/alpakka/s3/scaladsl/S3IntegrationSpec.scala
  s3/src/test/scala/docs/scaladsl/S3SourceSpec.scala
Labels: p:aws-s3
