Repository akka/alpakka, pull requests merged in 2022-01, with the labels that each got.

#2758 Elasticsearch: forward headers on bulk insert in SimpleFlowStage
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/impl/ElasticsearchSimpleFlowStage.scala
Labels: p:elasticsearch

#2671 mqtt-streaming: Accommodate source.queue change in Akka 2.6
  mqtt-streaming/src/test/scala/docs/scaladsl/MqttSessionSpec.scala
Labels: p:mqtt-streaming

#2793 security bump: Akka HTTP 10.1.15; Log4j2 2.17.1 (in tests)
  project/Dependencies.scala
  project/TestChanged.scala
  scripts/link-validator.conf
Labels: dependency-change

#2796 amqp: Add default constructor for AmqpSSLConfiguration
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectionProvider.scala
Labels: p:amqp

#2798 Remove port mapping from FTP proxy for test
  docker-compose.yml
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpWithProxyStageTest.java
Labels: p:ftp

#2790 bump: Geode 1.14.1
  docker-compose.yml
  project/Dependencies.scala
Labels: p:geode, dependency-change

#2709 Mongo: Update driver to 4.4.0
  project/Dependencies.scala
Labels: p:mongodb, dependency-change

#2802 amqp: Use amqp-client 5.14.0 to avoid vulnerabilities
  project/Dependencies.scala
Labels: p:amqp, dependency-change

#2745 bump: Pravega 0.10.1 (was 0.9.1)
  build.sbt
  docker-compose.yml
  pravega/src/main/java/akka/stream/alpakka/pravega/javadsl/PravegaTable.java
  pravega/src/main/mima-filters/3.0.4.backward.excludes/pr-2745-kvp-beta2
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaSettings.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/TableEntry.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaTableReadFlow.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaTableSource.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/impl/PravegaTableWriteFlow.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/scaladsl/Pravega.scala
  pravega/src/main/scala/akka/stream/alpakka/pravega/scaladsl/PravegaTable.scala
  pravega/src/test/java/akka/stream/alpakka/pravega/PravegaKVTableTestCase.java
  pravega/src/test/java/docs/javadsl/PravegaReadWriteDocs.java
  pravega/src/test/java/docs/javadsl/PravegaSettingsTestCase.java
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaBaseSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaGraphSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaKVTableSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaStreamAndTableSpec.scala
  pravega/src/test/scala/docs/scaladsl/Model.scala
  pravega/src/test/scala/docs/scaladsl/PravegaReadWriteDocs.scala
  pravega/src/test/scala/docs/scaladsl/PravegaSettingsSpec.scala
  pravega/src/test/scala/docs/scaladsl/Serializers.scala
  project/Dependencies.scala
Labels: dependency-change, p:pravega

#2811 Geode 1.14.3 (was 1.14.1)
  docker-compose.yml
  project/Dependencies.scala
Labels: p:geode, dependency-change
