Repository akka/alpakka, pull requests merged in 2022-02, with the labels that each got.

#2805 slick: DB2 hint
  slick/src/test/resources/application.conf
Labels: p:slick

#2813 CI checks in GitHub actions
  .github/workflows/check-build-test.yml
  .github/workflows/link-validator.yml
  .travis.yml
  scripts/gh-test-if-changed.sh
Labels: alpakka-itself

#2815 Kinesis: clean up contexts in kinesisFlowWithContext on failure
  docs/src/main/paradox/kinesis.md
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/javadsl/KinesisFlow.scala
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisFlow.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisFlowSpec.scala
  kinesis/src/test/scala/docs/scaladsl/KinesisSnippets.scala
Labels: p:kinesis, documentation

#2804 cassandra: driver 4.13.0
  docker-compose.yml
  project/Dependencies.scala
Labels: p:cassandra, dependency-change

#2825 FTP: user ID for containers from environment
  .github/workflows/check-build-test.yml
  .jvmopts-travis
  .travis.yml
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  docs/release-train-issue-template.md
  project/Dependencies.scala
  scripts/build.sh
  scripts/cat-log.sh
  scripts/ftp-servers.sh
  scripts/test-if-changed.sh
  scripts/travis.sh
Labels: p:ftp, dependency-change, documentation

#2829 Pravega: Renaming builder method
  pravega/src/main/scala/akka/stream/alpakka/pravega/PravegaSettings.scala
  pravega/src/test/java/akka/stream/alpakka/pravega/PravegaKVTableTestCase.java
  pravega/src/test/java/docs/javadsl/PravegaReadWriteDocs.java
  pravega/src/test/java/docs/javadsl/PravegaSettingsTestCase.java
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaKVTableSpec.scala
  pravega/src/test/scala/akka/stream/alpakka/pravega/PravegaStreamAndTableSpec.scala
  pravega/src/test/scala/docs/scaladsl/PravegaReadWriteDocs.scala
  pravega/src/test/scala/docs/scaladsl/PravegaSettingsSpec.scala
Labels: p:pravega

#2830 json streaming: test for multiple top level array's
  json-streaming/src/test/scala/docs/scaladsl/JsonReaderTest.scala
Labels: p:json-streaming
