Repository akka/alpakka, pull requests merged in 2022-12, with the labels that each got.

#2935 XML: Add a contextual version of the parser for XML
  xml/src/main/scala/akka/stream/alpakka/xml/impl/StreamingXmlParser.scala
  xml/src/main/scala/akka/stream/alpakka/xml/javadsl/XmlParsing.scala
  xml/src/main/scala/akka/stream/alpakka/xml/scaladsl/XmlParsing.scala
  xml/src/test/scala/docs/scaladsl/XmlProcessingSpec.scala
Labels: p:xml

#2940 Mongo: driver 4.7.2 (was 4.4.0), adds full support for MongoDB 6.0
  mongodb/src/test/scala/docs/scaladsl/MongoSinkSpec.scala
  mongodb/src/test/scala/docs/scaladsl/MongoSourceSpec.scala
  project/Dependencies.scala
Labels: p:mongodb, dependency-change

#2944 bump: Akka gRPC 2.2.1 (was 2.2.0) and project infra
  project/plugins.sbt
Labels: p:google-cloud-pub-sub-grpc, dependency-change

#2946 docs(pravega): remove broken Slack link
  docs/src/main/paradox/pravega.md
Labels: documentation, p:pravega
