Repository akka/alpakka, pull requests merged in 2022-08, with the labels that each got.

#2883 GCS: Make md5Hash and crc32c optional
  google-cloud-storage/src/main/scala/akka/stream/alpakka/googlecloud/storage/impl/Formats.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/scaladsl/GCStorageWiremockBase.scala
  google-cloud-storage/src/test/scala/docs/scaladsl/GCStorageSourceSpec.scala
Labels: p:google-cloud-storage

#2890 JMS - Add support for byte array message properties #2889
  jms/src/main/scala/akka/stream/alpakka/jms/impl/JmsMessageProducer.scala
  jms/src/test/scala/akka/stream/alpakka/jms/impl/JmsMessageProducerSpec.scala
Labels: p:jms

#2870 bump: libs for ftp
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
  project/Dependencies.scala
Labels: p:ftp, dependency-change

#2869 bump: sbt 1.6.2 with licenses setting
  .github/workflows/link-validator.yml
  build.sbt
  docs/src/main/paradox/release-notes/4.0.x.md
  docs/src/main/paradox/release-notes/index.md
  project/build.properties
  project/plugins.sbt
Labels: alpakka-itself, documentation

#2895 Remove doc references to abandoned Azure libraries
  docs/src/main/paradox/external/azure-event-hubs.md
  docs/src/main/paradox/external/azure-iot-hub.md
  docs/src/main/paradox/index.md
Labels: documentation
