Repository akka/alpakka, pull requests merged in 2023-10, with the labels that each got.

#3018 bump: protobuf 3.21.12 in aws modules
  project/Dependencies.scala
Labels: p:kinesis, dependency-change

#3021 build: Akka 2.9.3-M3 and publish to Akka repo
  .github/workflows/publish.yml
  build.sbt
  docs/release-train-issue-template.md
  elasticsearch/src/main/mima-filters/6.0.2.backwards.excludes/ElasticsearchConnectionSettings.backwards.excludes
  elasticsearch/src/main/scala/akka/stream/alpakka/elasticsearch/ElasticsearchConnectionSettings.scala
  project/Common.scala
  project/Dependencies.scala
  project/Publish.scala
  project/plugins.sbt
Labels: p:elasticsearch, dependency-change, documentation

#3025 AMQP Fix #3023
  amqp/src/main/scala/akka/stream/alpakka/amqp/AmqpConnectionProvider.scala
  amqp/src/test/scala/akka/stream/alpakka/amqp/scaladsl/AmqpConnectionProvidersSpec.scala
Labels: p:amqp

#3026 bump: protobuf-java 3.24.0
  project/Dependencies.scala
Labels: p:kinesis, dependency-change

#3027 bump: Scala 2.13.12 (was 2.13.10)
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpBrowserGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpDirectoryOperationsGraphStage.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpGraphStageLogic.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpIOGraphStage.scala
  google-cloud-storage/src/test/scala/akka/stream/alpakka/googlecloud/storage/scaladsl/GCStorageWiremockBase.scala
  google-common/src/main/scala/akka/stream/alpakka/google/auth/ComputeEngineCredentials.scala
  google-common/src/main/scala/akka/stream/alpakka/google/auth/NoCredentials.scala
  google-common/src/main/scala/akka/stream/alpakka/google/auth/OAuth2Credentials.scala
  google-common/src/main/scala/akka/stream/alpakka/google/auth/UserAccessCredentials.scala
  google-common/src/test/scala/akka/stream/alpakka/google/auth/OAuth2CredentialsSpec.scala
  project/Dependencies.scala
  scripts/link-validator.conf
Labels: p:ftp, dependency-change, p:google-cloud-storage, p:google-common

#3029 ftp: Scala 3
  build.sbt
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpLike.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpsOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/SftpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/javadsl/FtpApi.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/scaladsl/FtpApi.scala
  ftp/src/test/scala/akka/stream/alpakka/ftp/BaseSpec.scala
  project/Common.scala
Labels: p:ftp

#3030 Replace Spray JWT dependency
  build.sbt
  google-common/src/main/scala/akka/stream/alpakka/google/auth/GoogleOAuth2.scala
  google-common/src/main/scala/akka/stream/alpakka/google/auth/JwtSprayJsonParser.scala
  project/Dependencies.scala
Labels: dependency-change, p:google-common, p:huawei-push-kit

#3032 bump: Akka 2.9.0
  google-cloud-pub-sub-grpc/src/main/scala/akka/stream/alpakka/googlecloud/pubsub/grpc/impl/DeprecatedCredentials.scala
  project/Dependencies.scala
  project/plugins.sbt
Labels: p:google-cloud-pub-sub-grpc, dependency-change
