Repository akka/alpakka, pull requests merged in 2023-08, with the labels that each got.

#2993 FTP: Add for FTPS the ability to set KeyManager and TrustManager
  ftp/src/main/mima-filters/6.0.3.backwards.excludes
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpsOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/model.scala
  ftp/src/test/java/akka/stream/alpakka/ftp/FtpsWithTrustAndKeyManagersStageTest.java
  project/Dependencies.scala
Labels: p:ftp, dependency-change

#3003 Handle XML exceptions
  xml/src/main/scala/akka/stream/alpakka/xml/impl/StreamingXmlParser.scala
  xml/src/test/scala/docs/scaladsl/XmlProcessingSpec.scala
Labels: p:xml

#2999 FTP: Add a setting to enable automatic server encoding detection
  ftp/src/main/mima-filters/6.0.3.backwards.excludes
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/impl/FtpsOperations.scala
  ftp/src/main/scala/akka/stream/alpakka/ftp/model.scala
Labels: p:ftp

#3004 mqtt: use the official Eclipse Mosquitto image
  docker-compose.yml
  mqtt/src/test/mosquitto/config/acl
  mqtt/src/test/mosquitto/config/mosquitto.conf
  mqtt/src/test/mosquitto/config/password
  mqtt/src/test/travis/auth.conf
Labels: p:mqtt, p:mqtt-streaming
