Repository akka/alpakka, pull requests merged in 2023-11, with the labels that each got.

#3036 build: Publish snapshots
  .github/workflows/publish.yml
  docs/src/main/paradox/other-docs/snapshots.md
  docs/src/main/paradox/other-docs/versioning.md
  project/Publish.scala
  scripts/link-validator.conf
Labels: documentation

#3035 Kinesis: fix maxBytesPerSecond throttling
  kinesis/src/main/scala/akka/stream/alpakka/kinesis/scaladsl/KinesisFlow.scala
  kinesis/src/test/scala/akka/stream/alpakka/kinesis/KinesisFlowSpec.scala
Labels: p:kinesis

#3039 bump: bump avro to 1.13.1 (was 1.8.2)
  avroparquet-tests/src/test/java/docs/javadsl/AvroParquetSinkTest.java
  avroparquet-tests/src/test/java/docs/javadsl/Examples.java
  avroparquet-tests/src/test/scala/docs/scaladsl/AbstractAvroParquet.scala
  project/Dependencies.scala
Labels: p:avroparquet, dependency-change

#3040 chore: avoid broken and outdated links
  .github/workflows/publish.yml
  docs/src/main/paradox/other-docs/webinars-presentations-articles.md
  scripts/link-validator.conf
Labels: documentation
